# StackAPI

#### Import the necessary libraries here:

In [1]:
import pandas as pd
from datetime import datetime

In [2]:
# import the necessary libraries here
from stackapi import StackAPI

In [3]:
# run the code below
SITE = StackAPI('stackoverflow')
comments = SITE.fetch('comments')
xx = SITE.fetch('questions')
yy = SITE.fetch('answers')

Before you start with the lab, please be aware that all the relevant information regarding the StackAPI can be found here: https://stackapi.readthedocs.io/en/latest/user/advanced.html#calling-fetch-with-various-api-parameters

#### Question 1: Find the questions and answers of last month.

*hint*: use the fromdate and todate arguments.

In [4]:
comments = SITE.fetch('comments', fromdate=datetime(2020,7,1), todate=datetime(2020,7,31))
comments_df = pd.DataFrame(comments)
comments_df

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,300,0,"{'owner': {'reputation': 20277, 'user_id': 735..."
1,0,True,5,300,300,0,"{'owner': {'reputation': 13587, 'user_id': 775..."
2,0,True,5,300,300,0,"{'owner': {'reputation': 581480, 'user_id': 37..."
3,0,True,5,300,300,0,"{'owner': {'reputation': 3, 'user_id': 1402398..."
4,0,True,5,300,300,0,"{'owner': {'reputation': 1296, 'user_id': 1701..."
...,...,...,...,...,...,...,...
495,0,True,5,300,300,0,"{'owner': {'reputation': 3, 'user_id': 1115724..."
496,0,True,5,300,300,0,"{'owner': {'reputation': 235, 'user_id': 17397..."
497,0,True,5,300,300,0,"{'owner': {'reputation': 149374, 'user_id': 43..."
498,0,True,5,300,300,0,"{'owner': {'reputation': 4485, 'user_id': 3798..."
499,0,True,5,300,300,0,"{'owner': {'reputation': 1459, 'user_id': 1338..."

In [5]:
comments_df

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,300,0,"{'owner': {'reputation': 20277, 'user_id': 735..."
1,0,True,5,300,300,0,"{'owner': {'reputation': 13587, 'user_id': 775..."
2,0,True,5,300,300,0,"{'owner': {'reputation': 581480, 'user_id': 37..."
3,0,True,5,300,300,0,"{'owner': {'reputation': 3, 'user_id': 1402398..."
4,0,True,5,300,300,0,"{'owner': {'reputation': 1296, 'user_id': 1701..."
...,...,...,...,...,...,...,...
495,0,True,5,300,300,0,"{'owner': {'reputation': 3, 'user_id': 1115724..."
496,0,True,5,300,300,0,"{'owner': {'reputation': 235, 'user_id': 17397..."
497,0,True,5,300,300,0,"{'owner': {'reputation': 149374, 'user_id': 43..."
498,0,True,5,300,300,0,"{'owner': {'reputation': 4485, 'user_id': 3798..."
499,0,True,5,300,300,0,"{'owner': {'reputation': 1459, 'user_id': 1338..."

In [6]:
questions = SITE.fetch('questions', fromdate=datetime(2020,7,1), todate=datetime(2020,7,31))
questions_df = pd.DataFrame(questions)
questions_df

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,300,0,"{'tags': ['django', 'if-statement', 'django-fo..."
1,0,True,5,300,300,0,"{'tags': ['mysql', 'sql', 'sqlite', 'null'], '..."
2,0,True,5,300,300,0,"{'tags': ['intellij-idea', 'lombok', 'intellij..."
3,0,True,5,300,300,0,"{'tags': ['react-native', 'download', 'api-pla..."
4,0,True,5,300,300,0,"{'tags': ['java', 'spring-boot'], 'owner': {'r..."
...,...,...,...,...,...,...,...
495,0,True,5,300,300,0,"{'tags': ['google-apps-script', 'http-status-c..."
496,0,True,5,300,300,0,"{'tags': ['javascript', 'google-apps-script', ..."
497,0,True,5,300,300,0,"{'tags': ['javascript', 'google-apps-script', ..."
498,0,True,5,300,300,0,"{'tags': ['google-apps-script'], 'owner': {'re..."
499,0,True,5,300,300,0,"{'tags': ['google-apps-script', 'gmail'], 'own..."

In [7]:
answers = SITE.fetch('answers', fromdate=datetime(2020,7,1), todate=datetime(2020,7,31))
answers_df = pd.DataFrame(answers)
answers_df

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,300,0,"{'owner': {'reputation': 327, 'user_id': 19008..."
1,0,True,5,300,300,0,"{'owner': {'reputation': 56809, 'user_id': 348..."
2,0,True,5,300,300,0,"{'owner': {'reputation': 21, 'user_id': 123325..."
3,0,True,5,300,300,0,"{'owner': {'reputation': 423139, 'user_id': 38..."
4,0,True,5,300,300,0,"{'owner': {'reputation': 21, 'user_id': 138761..."
...,...,...,...,...,...,...,...
495,0,True,5,300,300,0,"{'owner': {'reputation': 48026, 'user_id': 178..."
496,0,True,5,300,300,0,"{'owner': {'reputation': 241, 'user_id': 13730..."
497,0,True,5,300,300,0,"{'owner': {'reputation': 3282, 'user_id': 3700..."
498,0,True,5,300,300,0,"{'owner': {'reputation': 1, 'user_id': 7634855..."
499,0,True,5,300,300,0,"{'owner': {'reputation': 12626, 'user_id': 613..."

In [8]:
comments_df["items"][0]

{'owner': {'reputation': 20277,
  'user_id': 7359094,
  'user_type': 'registered',
  'accept_rate': 83,
  'profile_image': 'https://i.stack.imgur.com/HxJgU.jpg?s=128&g=1',
  'display_name': 'Fran&#231;ois Andrieux',
  'link': 'https://stackoverflow.com/users/7359094/fran%c3%a7ois-andrieux'},
 'edited': False,
 'score': 0,
 'creation_date': 1596153586,
 'post_id': 63182632,
 'comment_id': 111728198,
 'content_license': 'CC BY-SA 4.0'}

In [9]:
questions_df["items"][0]

{'tags': ['django',
  'if-statement',
  'django-forms',
  'django-views',
  'django-queryset'],
 'owner': {'reputation': 21,
  'user_id': 13967452,
  'user_type': 'registered',
  'profile_image': 'https://lh4.googleusercontent.com/-99fymW_dxPU/AAAAAAAAAAI/AAAAAAAAAAA/AMZuuclQXUhy60IjIJGzjZD4KNew2HUexA/photo.jpg?sz=128',
  'display_name': 'Radityo Harimurti',
  'link': 'https://stackoverflow.com/users/13967452/radityo-harimurti'},
 'is_answered': False,
 'view_count': 54,
 'answer_count': 1,
 'score': 0,
 'last_activity_date': 1597758910,
 'creation_date': 1595455598,
 'last_edit_date': 1595650066,
 'question_id': 63043875,
 'content_license': 'CC BY-SA 4.0',
 'link': 'https://stackoverflow.com/questions/63043875/django-form-if-condition-in-view-py-with-2-instance',
 'title': 'Django Form If condition in view.py with 2 instance'}

In [10]:
answers_df["items"][0]

{'owner': {'reputation': 327,
  'user_id': 1900854,
  'user_type': 'registered',
  'accept_rate': 83,
  'profile_image': 'https://www.gravatar.com/avatar/fa65cd905d6f4ece4e134e0526a45a76?s=128&d=identicon&r=PG',
  'display_name': 'bio007',
  'link': 'https://stackoverflow.com/users/1900854/bio007'},
 'is_accepted': False,
 'score': 1,
 'last_activity_date': 1597756712,
 'last_edit_date': 1597756712,
 'creation_date': 1595419550,
 'answer_id': 63033815,
 'question_id': 15825081,
 'content_license': 'CC BY-SA 4.0'}

#### Question 2: Find the most voted question today with at least a score of 5 and tagged with 'python'.

In [11]:
# your code here

questions = SITE.fetch('questions',tagged='python')#,min=5,sort="items_score")   #,fromdate=datetime(2020,7,8), todate=datetime(2020,8,8)
questions_df = pd.DataFrame(questions)
flatten = pd.DataFrame(dict(questions_df["items"])).transpose()
columns = [str(i) for i in flatten.columns]
flatten.columns = ["items" + "_" + colname for colname in columns]
questions_df = pd.concat([questions_df,flatten],axis=1)
questions_df = questions_df.drop("items",axis=1)

In [22]:
questions_df[questions_df["items_score"] >= 5]
#paolo: ok but how can you select the most voted question? Here you are selecting
# all questions with a minimum score of 5

,backoff,has_more,page,quota_max,quota_remaining,total,items_tags,items_owner,items_is_answered,items_view_count,...,items_link,items_title,items_last_edit_date,items_accepted_answer_id,items_closed_date,items_closed_reason,items_bounty_amount,items_bounty_closes_date,items_protected_date,items_migrated_from
33,0,True,5,300,300,0,"[python, list]","{'reputation': 1005, 'user_id': 1937429, 'user...",True,83942,...,https://stackoverflow.com/questions/15715912/r...,Remove the last N elements of a list,1489297363,15715929,NaN,NaN,NaN,NaN,NaN,NaN
45,0,True,5,300,300,0,"[python, python-3.x, string-interpolation, f-s...","{'reputation': 1245, 'user_id': 6101419, 'user...",True,8391,...,https://stackoverflow.com/questions/45360480/i...,Is there a formatted byte string literal in Py...,1501188006,45361056,NaN,NaN,NaN,NaN,NaN,NaN
60,0,True,5,300,300,0,"[python, pandas]","{'reputation': 489, 'user_id': 2543645, 'user_...",True,12529,...,https://stackoverflow.com/questions/22820292/h...,How to use Pandas rolling_* functions on a for...,NaN,22820689,NaN,NaN,NaN,NaN,NaN,NaN
67,0,True,5,300,300,0,"[python, anaconda, jupyter, conda]","{'reputation': 529, 'user_id': 825761, 'user_t...",True,26881,...,https://stackoverflow.com/questions/36629707/u...,Using Jupyter behind a proxy,1462190947,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,0,True,5,300,300,0,"[python, screen, resolution]","{'reputation': 38787, 'user_id': 433417, 'user...",True,166588,...,https://stackoverflow.com/questions/3129322/ho...,How do I get monitor resolution in Python?,1431913482,3129330,NaN,NaN,NaN,NaN,NaN,NaN
99,0,True,5,300,300,0,"[python, selenium]","{'reputation': 321, 'user_id': 7450068, 'user_...",True,15687,...,https://stackoverflow.com/questions/45417335/p...,Python: use cookie to login with Selenium,1501509031,45419194,NaN,NaN,NaN,NaN,NaN,NaN
102,0,True,5,300,300,0,"[python, tkinter, dpi]","{'reputation': 416, 'user_id': 1292765, 'user_...",False,2351,...,https://stackoverflow.com/questions/42961810/d...,Detect DPI/scaling factor in Python TkInter ap...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,0,True,5,300,300,0,"[python, selenium, cookies, selenium-webdriver...","{'reputation': 61, 'user_id': 7389203, 'user_t...",True,7510,...,https://stackoverflow.com/questions/41559510/s...,Selenium Chromedriver add cookie - invalid dom...,1495541862,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,0,True,5,300,300,0,"[python, google-app-engine]","{'reputation': 3716, 'user_id': 1438479, 'user...",True,19928,...,https://stackoverflow.com/questions/2630205/re...,Read a file on App Engine with Python?,1271172332,2632751,NaN,NaN,NaN,NaN,NaN,NaN
129,0,True,5,300,300,0,"[python, pass-by-reference, pass-by-value]","{'reputation': 248000, 'user_id': 51816, 'user...",True,80174,...,https://stackoverflow.com/questions/534375/pas...,Passing values in Python,NaN,534383,1368205210,exact duplicate,NaN,NaN,NaN,NaN
130,0,True,5,300,300,0,"[python, pycharm]","{'reputation': 19100, 'user_id': 2199852, 'use...",True,16875,...,https://stackoverflow.com/questions/40712203/h...,How to reinitialize the Python console in PyCh...,1502149162,41336423,NaN,NaN,NaN,NaN,NaN,NaN
140,0,True,5,300,300,0,"[python, unit-testing, pytest, assert, nose]","{'reputation': 237940, 'user_id': 674039, 'use...",True,4589,...,https://stackoverflow.com/questions/33491975/w...,Why not use python&#39;s assert statement in t...,1597756181,59328759,NaN,NaN,NaN,NaN,NaN,NaN
182,0,True,5,300,300,0,"[python, flask]","{'reputation': 6071, 'user_id': 1316501, 'user...",True,18903,...,https://stackoverflow.com/questions/31361482/f...,Flask: Want to import file of helper functions,NaN,31361577,NaN,NaN,NaN,NaN,NaN,NaN
192,0,True,5,300,300,0,"[python, google-calendar-api]","{'reputation': 2689, 'user_id': 373402, 'user_...",True,16275,...,https://stackoverflow.com/questions/40154672/i...,&quot;ImportError: file_cache is unavailable&q...,NaN,44518587,NaN,NaN,NaN,NaN,NaN,NaN
202,0,True,5,300,300,0,"[python, sql, windows]","{'reputation': 1360, 'user_id': 5565466, 'user...",True,257758,...,https://stackoverflow.com/questions/33725862/c...,Connecting to Microsoft SQL server using Python,1495540036,33787509,NaN,NaN,NaN,NaN,NaN,NaN
238,0,True,5,300,300,0,"[python, string, integer]","{'reputation': 29826, 'user_id': 105167, 'user...",True,3429268,...,https://stackoverflow.com/questions/961632/con...,Converting integer to string in Python,1597753321,961638,NaN,NaN,NaN,NaN,1428257702,NaN
246,0,True,5,300,300,0,"[python, python-2.7, opencv, image-recognition]","{'reputation': 3601, 'user_id': 4805150, 'user...",True,173623,...,https://stackoverflow.com/questions/30508922/e...,error: (-215) !empty() in function detectMulti...,1597166620,NaN,NaN,NaN,NaN,NaN,1539096571,NaN
274,0,True,5,300,300,0,"[python, audio, movie, moviepy]","{'reputation': 602, 'user_id': 7333766, 'user_...",True,6764,...,https://stackoverflow.com/questions/48728145/v...,Video editing with python : adding a backgroun...,1518459611,48866634,NaN,NaN,NaN,NaN,NaN,NaN
277,0,True,5,300,300,0,[python],"{'reputation': 63, 'user_id': 14109144, 'user_...",False,60,...,https://stackoverflow.com/questions/63467382/p...,(Python) Is there an easier way to assign elem...,1597749740,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,0,True,5,300,300,0,"[python, django, python-2.7, django-admin, dja...","{'reputation': 7922, 'user_id': 3129414, 'user...",True,1618,...,https://stackoverflow.com/questions/54229086/l...,Localization: django-admin compilemessages ski...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,0,True,5,300,300,0,"[python, list]","{'reputation': 1856, 'user_id': 3464212, 'user...",True,6235,...,https://stackoverflow.com/questions/23078756/p...,Python - get the last element of each list in ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,0,True,5,300,300,0,"[python, pandas, casting, type-conversion, dtype]","{'reputation': 1295, 'user_id': 387251, 'user_...",True,118562,...,https://stackoverflow.com/questions/13293810/i...,Import pandas dataframe column as string not int,1597751793,13384494,NaN,NaN,NaN,NaN,NaN,NaN
295,0,True,5,300,300,0,"[python, pandas, casting, type-conversion, dtype]","{'reputation': 523, 'user_id': 192266, 'user_t...",True,80635,...,https://stackoverflow.com/questions/16988526/p...,Pandas reading csv as string type,1597751337,16988624,NaN,NaN,NaN,NaN,NaN,NaN
301,0,True,5,300,300,0,"[python, matplotlib, seaborn]","{'reputation': 2531, 'user_id': 2702370, 'user...",True,22033,...,https://stackoverflow.com/questions/51963725/h...,How to plot a dashed line on seaborn lineplot?,1534930851,51964145,NaN,NaN,NaN,NaN,NaN,NaN
318,0,True,5,300,300,0,"[python, pytest]","{'reputation': 545, 'user_id': 215104, 'user_t...",True,10504,...,https://stackoverflow.com/questions/17557313/h...,How to specify more than one option in pytest ...,1584787381,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320,0,True,5,300,300,0,"[python, excel]","{'reputation': 1139, 'user_id': 644389, 'user_...",True,140394,...,https://stackoverflow.com/questions/6825994/ch...,check if a file is open in Python,1569861928,6826099,NaN,NaN,NaN,NaN,NaN,NaN
354,0,True,5,300,300,0,"[python, authentication, urllib3]","{'reputation': 634, 'user_id': 1143887, 'user_...",True,23130,...,https://stackoverflow.com/questions/11335825/a...,authentication with urllib3,1546255365,11388614,NaN,NaN,NaN,NaN,NaN,NaN
355,0,True,5,300,300,0,"[python, python-2.7, python-requests, socks, u...","{'reputation': 2534, 'user_id': 1482789, 'user...",True,82155,...,https://stackoverflow.com/questions/38794015/p...,Python&#39;s requests &quot;Missing dependenci...,1596807172,39959360,NaN,NaN,NaN,NaN,NaN,NaN
361,0,True,5,300,300,0,"[python, numpy]","{'reputation': 1368, 'user_id': 370729, 'user_...",True,10070,...,https://stackoverflow.com/questions/4503325/au...,Autocorrelation of a multidimensional array in...,1292967355,4503691,NaN,NaN,NaN,NaN,NaN,NaN
363,0,True,5,300,300,0,"[python, python-2.7, exception]","{'reputation': 6945, 'user_id': 1060337, 'user...",True,104589,...,https://stackoverflow.com/questions/8238360/ho...,How to save traceback / sys.exc_info() values ...,1597749654,8238552,NaN,NaN,NaN,NaN,NaN,NaN
365,0,True,5,300,300,0,"[python, r, data.table]","{'reputation': 1654, 'user_id': 7064628, 'user...",False,39,...,https://stackoverflow.com/questions/63466010/w...,What is the recommended way to access data fro...,1597749624,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,0,True,5,300,300,0,"[python, timer]","{'reputation': 13326, 'user_id': 230884, 'user...",True,32449,...,https://stackoverflow.com/questions/5086430/ho...,how to pass parameters of a function when usin...,1298429103,5086485,NaN,NaN,NaN,NaN,NaN,NaN
389,0,True,5,300,300,0,"[python, numpy, multidimensional-array, array-...","{'reputation': 2109, 'user_id': 2934350, 'user...",True,155656,...,https://stackoverflow.com/questions/29241056/h...,How does numpy.newaxis work and when to use it?,1516652723,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410,0,True,5,300,300,0,"[python, anaconda, conda]","{'reputation': 8753, 'user_id': 2351523, 'user...",True,121315,...,https://stackoverflow.com/questions/42231764/h...,How can I rename a conda environment?,1490772081,42231765,NaN,NaN,NaN,NaN,NaN,NaN
415,0,True,5,300,300,0,"[python, deep-learning, data-science]","{'reputation': 314, 'user_id': 5776838, 'user_...",True,8406,...,https://stackoverflow.com/questions/37935920/q...,quantile normalization on pandas dataframe,1466489030,37957466,NaN,NaN,NaN,NaN,NaN,NaN
422,0,True,5,300,300,0,"[python, pandas]","{'reputation': 34196, 'user_id': 1072888, 'use...",True,518265,...,https://stackoverflow.com/questions/14661701/h...,How to drop a list of rows from Pandas dataframe?,1359807947,14661768,NaN,NaN,NaN,NaN,NaN,NaN
446,0,True,5,300,300,0,"[python, windows, powershell, logging]","{'reputation': 2845, 'user_id': 4372759, 'user...",True,13661,...,https://stackoverflow.com/questions/35898160/l...,Logging module not writing to file,1457554887,35898546,NaN,NaN,NaN,NaN,NaN,NaN
451,0,True,5,300,300,0,"[python, scikit-learn, anaconda]","{'reputation': 121, 'user_id': 11071948, 'user...",True,21443,...,https://stackoverflow.com/questions/54726125/n...,No module named &#39;sklearn.cross_validation&...,1550347579,NaN,NaN,NaN,NaN,NaN,NaN,NaN
453,0,True,5,300,300,0,"[python, matplotlib, jupyter]","{'reputation': 141, 'user_id': 3590956, 'user_...",True,3391,...,https://stackoverflow.com/questions/57028962/j...,Jupyter-matplotlib: Error displaying widget: m...,1597746967,NaN,NaN,NaN,NaN,NaN,NaN,{'other_site': {'styling': {'tag_background_co...
460,0,True,5,300,300,0,"[python, django, django-rest-framework, respon...","{'reputation': 159, 'user_id': 7456254, 'user_...",True,3686,...,https://stackoverflow.com/questions/53910545/h...,how overwrite Response class in django rest fr...,NaN,53927876,NaN,NaN,NaN,NaN,NaN,NaN
478,0,True,5,300,300,0,"[python, pandas, numpy, type-conversion, numpy...","{'reputation': 279, 'user_id': 10444642, 'user...",True,45392,...,https://stackoverflow.com/questions/53816008/h...,How to convert Numpy array to Panda DataFrame,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
486,0,True,5,300,300,0,[python],"{'reputation': 331, 'user_id': 3381747, 'user_...",True,73372,...,https://stackoverflow.com/questions/24483182/p...,Python split list into n chunks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Question 3: Find the answers with id 6784 and 6473.

In [13]:
# your code here
answers = SITE.fetch('answers',tagged='python')
answers_df = pd.DataFrame(answers)
col_list = ["items","items_owner"]

def flat_func(dataFrame,column):
    for column in col_list:
        flatten = pd.DataFrame(dict(dataFrame[column])).transpose()
        columns = [str(i) for i in flatten.columns]
        flatten.columns = [column + "_" + colname for colname in columns]
        dataFrame = pd.concat([dataFrame,flatten],axis=1)
        dataFrame = dataFrame.drop(column,axis=1)
    return dataFrame

flat_df = flat_func(answers_df,col_list)

In [14]:
flat_df

,backoff,has_more,page,quota_max,quota_remaining,total,items_is_accepted,items_score,items_last_activity_date,items_last_edit_date,...,items_answer_id,items_question_id,items_content_license,items_owner_reputation,items_owner_user_id,items_owner_user_type,items_owner_profile_image,items_owner_display_name,items_owner_link,items_owner_accept_rate
0,10,True,5,300,300,0,False,0,1597759240,1597759240,...,63470057,63457353,CC BY-SA 4.0,1,14125761,registered,https://lh5.googleusercontent.com/-V9nFByuXZVY...,ArthurV,https://stackoverflow.com/users/14125761/arthurv,NaN
1,10,True,5,300,300,0,False,0,1597759239,NaN,...,63470299,63430495,CC BY-SA 4.0,354,5884896,registered,https://i.stack.imgur.com/5i1KQ.png?s=128&g=1,drussey,https://stackoverflow.com/users/5884896/drussey,NaN
2,10,True,5,300,300,0,False,0,1597759234,1597759234,...,63469640,63468955,CC BY-SA 4.0,1,13513074,registered,https://www.gravatar.com/avatar/9dc35d302a0264...,Promit Basak,https://stackoverflow.com/users/13513074/promi...,NaN
3,10,True,5,300,300,0,False,0,1597759225,NaN,...,63470297,63469875,CC BY-SA 4.0,11,8200686,registered,https://www.gravatar.com/avatar/8e326f835fc7b3...,retiredgoblin,https://stackoverflow.com/users/8200686/retire...,NaN
4,10,True,5,300,300,0,False,0,1597759219,NaN,...,63470294,63457232,CC BY-SA 4.0,176,10682052,registered,https://www.gravatar.com/avatar/8bb97e2bc703da...,Shawn,https://stackoverflow.com/users/10682052/shawn,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,10,True,5,300,300,0,False,0,1597756608,NaN,...,63469491,2630205,CC BY-SA 4.0,1,14125643,registered,https://www.gravatar.com/avatar/9f840bbfd4fcd5...,Fredderic U,https://stackoverflow.com/users/14125643/fredd...,NaN
496,10,True,5,300,300,0,True,0,1597756606,NaN,...,63469490,63469086,CC BY-SA 4.0,86564,2310830,registered,https://i.stack.imgur.com/P6rM1.png?s=128&g=1,RiggsFolly,https://stackoverflow.com/users/2310830/riggsf...,NaN
497,10,True,5,300,300,0,False,0,1597756604,NaN,...,63469489,63469383,CC BY-SA 4.0,155,10155177,registered,https://www.gravatar.com/avatar/ca907067f1acec...,BillyN,https://stackoverflow.com/users/10155177/billyn,NaN
498,10,True,5,300,300,0,False,0,1597756597,1597756597,...,63468996,63456523,CC BY-SA 4.0,250,3417141,registered,https://i.stack.imgur.com/pKIZb.jpg?s=128&g=1,Iris G.,https://stackoverflow.com/users/3417141/iris-g,NaN
499,10,True,5,300,300,0,False,0,1597756589,NaN,...,63469482,63469223,CC BY-SA 4.0,197570,2877241,registered,https://www.gravatar.com/avatar/63d17ecdadc891...,Vlad from Moscow,https://stackoverflow.com/users/2877241/vlad-f...,52

In [15]:
flat_df["items_answer_id"].sort_values()

339       73786
136     1044190
331    11407563
204    16484160
356    28740823
         ...
6      63470291
5      63470292
4      63470294
3      63470297
1      63470299
Name: items_answer_id, Length: 500, dtype: object

In [16]:
flat_df[flat_df["items_answer_id"] == 6784 & 6473]

Empty DataFrame
Columns: [backoff, has_more, page, quota_max, quota_remaining, total, items_is_accepted, items_score, items_last_activity_date, items_last_edit_date, items_creation_date, items_answer_id, items_question_id, items_content_license, items_owner_reputation, items_owner_user_id, items_owner_user_type, items_owner_profile_image, items_owner_display_name, items_owner_link, items_owner_accept_rate]
Index: []

[0 rows x 21 columns]

In [17]:
flat_df["items_owner_user_id"].sort_values()

339        5640
358        7432
410        7603
223       15416
424       18122
         ...
175    14125781
89     14125795
176    14125795
222    14125807
73     14125831
Name: items_owner_user_id, Length: 500, dtype: object

In [18]:
flat_df[flat_df["items_owner_user_id"] == 6784 & 6473]

Empty DataFrame
Columns: [backoff, has_more, page, quota_max, quota_remaining, total, items_is_accepted, items_score, items_last_activity_date, items_last_edit_date, items_creation_date, items_answer_id, items_question_id, items_content_license, items_owner_reputation, items_owner_user_id, items_owner_user_type, items_owner_profile_image, items_owner_display_name, items_owner_link, items_owner_accept_rate]
Index: []

[0 rows x 21 columns]

In [19]:
# Well, apperantly in my dataset there are no such values but since main point is flattining the databases in this
# lab, I will stop trying to find those values..