# StackAPI

#### Import the necessary libraries here:

In [1]:
import pandas as pd

In [2]:
# import the necessary libraries here
#imported StackAPI - pip install StackAPI
import json
import requests
import datetime
from stackapi import StackAPI
from datetime import datetime

In [3]:
# run the code below
SITE = StackAPI('stackoverflow')
comments = SITE.fetch('comments')

Before you start with the lab, please be aware that all the relevant information regarding the StackAPI can be found here: https://stackapi.readthedocs.io/en/latest/user/advanced.html#calling-fetch-with-various-api-parameters

#### Question 1: Find the questions and answers of last month.

*hint*: use the fromdate and todate arguments.

In [4]:
# your code here
questions = SITE.fetch('questions', fromdate = datetime(2020,7,1), todate = datetime(2020,7,31))
questions_df = pd.DataFrame(questions)
questions_df.head()

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,300,0,"{'tags': ['dagger-2', 'dagger-hilt'], 'owner':..."
1,0,True,5,300,300,0,"{'tags': ['javascript', 'react-native', 'react..."
2,0,True,5,300,300,0,"{'tags': ['php', 'swagger', 'nelmioapidocbundl..."
3,0,True,5,300,300,0,"{'tags': ['python', 'regex', 're'], 'owner': {..."
4,0,True,5,300,300,0,"{'tags': ['openapi', 'swagger-php', 'nelmioapi..."

In [5]:
# Flatten function :"Items" column in the dataframe having nested dictionaries has to be extracted to get individual and meaningful columns .
def flatten (questions_df , col_list):
    for column in col_list :
        flattened = pd.DataFrame(dict(questions_df[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        questions_df = pd.concat([questions_df, flattened], axis=1)
        questions_df = questions_df.drop(column, axis=1)
    return questions_df

nested_col = ['items']
flat = flatten(questions_df , nested_col)
flat.head()

,backoff,has_more,page,quota_max,quota_remaining,total,items_tags,items_owner,items_is_answered,items_view_count,...,items_last_edit_date,items_question_id,items_content_license,items_link,items_title,items_closed_date,items_accepted_answer_id,items_closed_reason,items_bounty_amount,items_bounty_closes_date
0,0,True,5,300,300,0,"[dagger-2, dagger-hilt]","{'reputation': 111, 'user_id': 5587675, 'user_...",False,32,...,1597501097,62946042,CC BY-SA 4.0,https://stackoverflow.com/questions/62946042/h...,HILT Custom Application object doesn&#39;t hav...,NaN,NaN,NaN,NaN,NaN
1,0,True,5,300,300,0,"[javascript, react-native, react-navigation-v5...","{'reputation': 79, 'user_id': 4050680, 'user_t...",False,86,...,1597501048,62716049,CC BY-SA 4.0,https://stackoverflow.com/questions/62716049/r...,react-native-tab-view jump to specific tab fro...,NaN,NaN,NaN,NaN,NaN
2,0,True,5,300,300,0,"[php, swagger, nelmioapidocbundle]","{'reputation': 261, 'user_id': 3062332, 'user_...",False,23,...,NaN,62756412,CC BY-SA 4.0,https://stackoverflow.com/questions/62756412/p...,PHP Swagger - path at area level,NaN,NaN,NaN,NaN,NaN
3,0,True,5,300,300,0,"[python, regex, re]","{'reputation': 2496, 'user_id': 10799544, 'use...",True,48,...,1596874023,62959409,NaN,https://stackoverflow.com/questions/62959409/e...,Extract certain portion of multiline string us...,1595009058,62959461,Duplicate,NaN,NaN
4,0,True,5,300,300,0,"[openapi, swagger-php, nelmioapidocbundle]","{'reputation': 159, 'user_id': 3180943, 'user_...",False,27,...,NaN,63112805,CC BY-SA 4.0,https://stackoverflow.com/questions/63112805/n...,"NelmioApiDocBundle v4.0.0-BETA1, $ref not found",NaN,NaN,NaN,NaN,NaN

In [6]:
answers = SITE.fetch('answers',fromdate = datetime(2020,7,1),todate = datetime(2020,7,31))
answers_df = pd.DataFrame(answers)
answers_df.head()

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,300,0,"{'owner': {'reputation': 12734, 'user_id': 241..."
1,0,True,5,300,300,0,"{'owner': {'reputation': 9514, 'user_id': 1069..."
2,0,True,5,300,300,0,"{'owner': {'reputation': 83867, 'user_id': 127..."
3,0,True,5,300,300,0,"{'owner': {'reputation': 317, 'user_id': 10921..."
4,0,True,5,300,300,0,"{'owner': {'reputation': 59, 'user_id': 783032..."

In [7]:
nested_col = ['items']
flat = flatten(answers_df , nested_col)
flat.head()

,backoff,has_more,page,quota_max,quota_remaining,total,items_owner,items_is_accepted,items_score,items_last_activity_date,items_last_edit_date,items_creation_date,items_answer_id,items_question_id,items_content_license,items_community_owned_date
0,0,True,5,300,300,0,"{'reputation': 12734, 'user_id': 2416958, 'use...",False,1,1597498161,1597498161,1595333031,63014146,63014106,CC BY-SA 4.0,NaN
1,0,True,5,300,300,0,"{'reputation': 9514, 'user_id': 10698741, 'use...",True,1,1597493856,1597493856,1593601358,62675372,62515445,CC BY-SA 4.0,NaN
2,0,True,5,300,300,0,"{'reputation': 83867, 'user_id': 1275169, 'use...",False,0,1597491022,1597491022,1595630739,63082358,56399849,CC BY-SA 4.0,NaN
3,0,True,5,300,300,0,"{'reputation': 317, 'user_id': 10921202, 'user...",False,1,1597489233,1597489233,1594375204,62831863,62812796,CC BY-SA 4.0,NaN
4,0,True,5,300,300,0,"{'reputation': 59, 'user_id': 7830326, 'user_t...",False,1,1597488477,1597488477,1594983327,62952532,33330968,CC BY-SA 4.0,NaN

#### Question 2: Find the most voted question today with at least a score of 5 and tagged with 'python'.

In [8]:
# your code here
voted_questions = SITE.fetch('questions',fromdate = datetime(2020,8,11),min = 5,sort='votes',tagged='python')
voted_questions_df = pd.DataFrame(voted_questions)
voted_questions_df.head()

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,False,1,300,300,0,"{'tags': ['python', 'numpy', 'floating-point',..."
1,0,False,1,300,300,0,"{'tags': ['python', 'pandas', 'dataframe', 'mi..."
2,0,False,1,300,300,0,"{'tags': ['python', 'tensorflow', 'keras', 'te..."
3,0,False,1,300,300,0,"{'tags': ['python', 'numpy', 'numpy-slicing'],..."
4,0,False,1,300,300,0,"{'tags': ['python', 'beautifulsoup', 'replacew..."

In [11]:
#flatten function called again

nested_col = ['items']
flat = flatten(voted_questions_df , nested_col)
flat.head(1)

,backoff,has_more,page,quota_max,quota_remaining,total,items_tags,items_owner,items_is_answered,items_view_count,items_accepted_answer_id,items_answer_count,items_score,items_last_activity_date,items_creation_date,items_last_edit_date,items_question_id,items_content_license,items_link,items_title
0,0,False,1,300,300,0,"[python, numpy, floating-point, nan]","{'reputation': 6292, 'user_id': 6510497, 'user...",True,1804,63365563,2,26,1597292878,1597165585,1597275203,63363044,CC BY-SA 4.0,https://stackoverflow.com/questions/63363044/w...,Why does “np.inf // 2” result in NaN and not i...

#### Question 3: Find the answers with id 6784 and 6473.

In [10]:
# your code here
answers = SITE.fetch('answers',ids = ['6784','6473'])
ans_df = pd.DataFrame(answers)

nested_col = ['items']
flat = flatten(ans_df , nested_col)
flat.head()

#There seems to be only the answer corresponding to one of the ids' i.e 6784

,backoff,has_more,page,quota_max,quota_remaining,total,items_answer_id,items_content_license,items_creation_date,items_is_accepted,items_last_activity_date,items_owner,items_question_id,items_score
0,0,False,1,300,300,0,6784,CC BY-SA 2.5,1218291583,False,1218291583,"{'reputation': 29035, 'user_id': 758, 'user_ty...",6778,0

In [12]:
#paolo check: yes!