# StackAPI

#### Import the necessary libraries here:

In [1]:
import pandas as pd

In [2]:
# import the necessary libraries here
import json
import requests
import datetime
from stackapi import StackAPI
from datetime import datetime

In [3]:
# run the code below
SITE = StackAPI('stackoverflow')
comments = SITE.fetch('comments')

Before you start with the lab, please be aware that all the relevant information regarding the StackAPI can be found here: https://stackapi.readthedocs.io/en/latest/user/advanced.html#calling-fetch-with-various-api-parameters

#### Question 1: Find the questions and answers of last month.

*hint*: use the fromdate and todate arguments.

In [4]:
comments = SITE.fetch('comments', fromdate=datetime(2020,7,1), todate=datetime(2020,7,31))
comments_df = pd.DataFrame(comments)
comments_df

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,300,0,"{'owner': {'reputation': 20277, 'user_id': 735..."
1,0,True,5,300,300,0,"{'owner': {'reputation': 13587, 'user_id': 775..."
2,0,True,5,300,300,0,"{'owner': {'reputation': 581480, 'user_id': 37..."
3,0,True,5,300,300,0,"{'owner': {'reputation': 3, 'user_id': 1402398..."
4,0,True,5,300,300,0,"{'owner': {'reputation': 1296, 'user_id': 1701..."
...,...,...,...,...,...,...,...
495,0,True,5,300,300,0,"{'owner': {'reputation': 3, 'user_id': 1115724..."
496,0,True,5,300,300,0,"{'owner': {'reputation': 235, 'user_id': 17397..."
497,0,True,5,300,300,0,"{'owner': {'reputation': 149384, 'user_id': 43..."
498,0,True,5,300,300,0,"{'owner': {'reputation': 4485, 'user_id': 3798..."
499,0,True,5,300,300,0,"{'owner': {'reputation': 1459, 'user_id': 1338..."

In [5]:
questions = SITE.fetch('questions', fromdate = datetime(2020,7,1), todate = datetime(2020,7,31))
questions_df = pd.DataFrame(questions)
questions_df.head()

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,300,0,"{'tags': ['mysql', 'sql', 'sqlite', 'null'], '..."
1,0,True,5,300,300,0,"{'tags': ['r', 'list', 'purrr'], 'owner': {'re..."
2,0,True,5,300,300,0,"{'tags': ['php', 'otrs'], 'owner': {'reputatio..."
3,0,True,5,300,300,0,"{'tags': ['elasticsearch', 'fluentd', 'amazon-..."
4,0,True,5,300,300,0,"{'tags': ['django', 'if-statement', 'django-fo..."

In [6]:

answers = SITE.fetch('answers', fromdate=datetime(2020,7,1), todate=datetime(2020,7,31))
answers_df = pd.DataFrame(answers)
answers_df

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,300,0,"{'owner': {'reputation': 327, 'user_id': 19008..."
1,0,True,5,300,300,0,"{'owner': {'reputation': 56809, 'user_id': 348..."
2,0,True,5,300,300,0,"{'owner': {'reputation': 21, 'user_id': 123325..."
3,0,True,5,300,300,0,"{'owner': {'reputation': 423139, 'user_id': 38..."
4,0,True,5,300,300,0,"{'owner': {'reputation': 21, 'user_id': 138761..."
...,...,...,...,...,...,...,...
495,0,True,5,300,300,0,"{'owner': {'reputation': 48026, 'user_id': 178..."
496,0,True,5,300,300,0,"{'owner': {'reputation': 241, 'user_id': 13730..."
497,0,True,5,300,300,0,"{'owner': {'reputation': 3282, 'user_id': 3700..."
498,0,True,5,300,300,0,"{'owner': {'reputation': 1, 'user_id': 7634855..."
499,0,True,5,300,300,0,"{'owner': {'reputation': 12626, 'user_id': 613..."

#### Question 2: Find the most voted question today with at least a score of 5 and tagged with 'python'.

In [7]:
# your code here
most_voted = SITE.fetch('questions',fromdate = datetime(2020,8,15),min = 5,sort='votes',tagged='python')
most_voted['items'][0]

{'tags': ['python', 'scikit-learn', 'fuzzy-logic'],
 'owner': {'reputation': 73,
  'user_id': 14115958,
  'user_type': 'registered',
  'profile_image': 'https://lh5.googleusercontent.com/-7HDRAZxRRik/AAAAAAAAAAI/AAAAAAAAAAA/AMZuucmpnogKqX2wK60YVY1lch8NZB116A/photo.jpg?sz=128',
  'display_name': 'GHWHG',
  'link': 'https://stackoverflow.com/users/14115958/ghwhg'},
 'is_answered': True,
 'view_count': 58,
 'accepted_answer_id': 63442903,
 'answer_count': 2,
 'score': 7,
 'last_activity_date': 1597676638,
 'creation_date': 1597610694,
 'last_edit_date': 1597676638,
 'question_id': 63441764,
 'content_license': 'CC BY-SA 4.0',
 'link': 'https://stackoverflow.com/questions/63441764/calling-a-function-with-unknown-number-of-parameters-python',
 'title': 'Calling a function with unknown number of parameters Python'}

#### Question 3: Find the answers with id 6784 and 6473.

In [8]:
# your code here
answers_id = SITE.fetch('answers',ids = ['6784','6473'])
answers_id
#no answer with id 6473

{'backoff': 0,
 'has_more': False,
 'page': 1,
 'quota_max': 300,
 'quota_remaining': 300,
 'total': 0,
 'items': [{'owner': {'reputation': 29045,
    'user_id': 758,
    'user_type': 'registered',
    'accept_rate': 77,
    'profile_image': 'https://www.gravatar.com/avatar/0b4adc19284ed0751844d610555dc6b2?s=128&d=identicon&r=PG',
    'display_name': 'Mark Renouf',
    'link': 'https://stackoverflow.com/users/758/mark-renouf'},
   'is_accepted': False,
   'score': 0,
   'last_activity_date': 1218291583,
   'creation_date': 1218291583,
   'answer_id': 6784,
   'question_id': 6778,
   'content_license': 'CC BY-SA 2.5'}]}

In [9]:
#paolo check: ok!