# StackAPI

#### Import the necessary libraries here:

In [1]:
import pandas as pd

In [2]:
# import the necessary libraries here
#imported StackAPI - pip install StackAPI
import json
import requests
import datetime
from stackapi import StackAPI
from datetime import datetime

In [3]:
# run the code below
SITE = StackAPI('stackoverflow')
comments = SITE.fetch('comments')

Before you start with the lab, please be aware that all the relevant information regarding the StackAPI can be found here: https://stackapi.readthedocs.io/en/latest/user/advanced.html#calling-fetch-with-various-api-parameters

#### Question 1: Find the questions and answers of last month.

*hint*: use the fromdate and todate arguments.

In [4]:
# your code here
questions = SITE.fetch('questions', fromdate = datetime(2020,7,1), todate = datetime(2020,7,31))
questions_df = pd.DataFrame(questions)
questions_df.head()

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,300,0,"{'tags': ['python', 'date', 'datetime', 'argpa..."
1,0,True,5,300,300,0,"{'tags': ['python', 'opencv', 'image-processin..."
2,0,True,5,300,300,0,"{'tags': ['elasticsearch', 'windows-services',..."
3,0,True,5,300,300,0,"{'tags': ['discord'], 'owner': {'reputation': ..."
4,0,True,5,300,300,0,"{'tags': ['nlog'], 'owner': {'reputation': 1, ..."

In [5]:
# Flatten function :"Items" column in the dataframe having nested dictionaries has to be extracted to get individual and meaningful columns .
def flatten (questions_df , col_list):
    for column in col_list :
        flattened = pd.DataFrame(dict(questions_df[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        questions_df = pd.concat([questions_df, flattened], axis=1)
        questions_df = questions_df.drop(column, axis=1)
    return questions_df

nested_col = ['items']
flat = flatten(questions_df , nested_col)
flat.head()

,backoff,has_more,page,quota_max,quota_remaining,total,items_tags,items_owner,items_is_answered,items_view_count,...,items_question_id,items_content_license,items_link,items_title,items_accepted_answer_id,items_bounty_amount,items_bounty_closes_date,items_closed_date,items_closed_reason,items_protected_date
0,0,True,5,300,300,0,"[python, date, datetime, argparse]","{'reputation': 1, 'user_id': 14018693, 'user_t...",True,75,...,63163893,CC BY-SA 4.0,https://stackoverflow.com/questions/63163893/s...,Separate parserarg input YYYY MM and DD into s...,NaN,NaN,NaN,NaN,NaN,NaN
1,0,True,5,300,300,0,"[python, opencv, image-processing, watermark, ...","{'reputation': 877, 'user_id': 6737387, 'user_...",True,257,...,63140037,CC BY-SA 4.0,https://stackoverflow.com/questions/63140037/h...,How to remove hidden marks from images using p...,63382965,NaN,NaN,NaN,NaN,NaN
2,0,True,5,300,300,0,"[elasticsearch, windows-services, elasticsearc...","{'reputation': 61, 'user_id': 11613693, 'user_...",True,30,...,62754484,CC BY-SA 4.0,https://stackoverflow.com/questions/62754484/w...,Windows could not start Elastic search service...,62754485,NaN,NaN,NaN,NaN,NaN
3,0,True,5,300,300,0,[discord],"{'reputation': 1, 'user_id': 13860178, 'user_t...",False,28,...,62717926,CC BY-SA 4.0,https://stackoverflow.com/questions/62717926/r...,Restart a Discord Bot,NaN,NaN,NaN,NaN,NaN,NaN
4,0,True,5,300,300,0,[nlog],"{'reputation': 1, 'user_id': 13930215, 'user_t...",False,63,...,62899627,CC BY-SA 4.0,https://stackoverflow.com/questions/62899627/w...,Why is Nlog archiving files every few minutes?,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
answers = SITE.fetch('answers',fromdate = datetime(2020,7,1),todate = datetime(2020,7,31))
answers_df = pd.DataFrame(answers)
answers_df.head()

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,300,0,"{'owner': {'reputation': 13138, 'user_id': 775..."
1,0,True,5,300,300,0,"{'owner': {'reputation': 71, 'user_id': 579594..."
2,0,True,5,300,300,0,"{'owner': {'reputation': 16, 'user_id': 135261..."
3,0,True,5,300,300,0,"{'owner': {'reputation': 471, 'user_id': 13269..."
4,0,True,5,300,300,0,"{'owner': {'reputation': 100, 'user_id': 43211..."

In [7]:
nested_col = ['items']
flat = flatten(answers_df , nested_col)
flat.head()

,backoff,has_more,page,quota_max,quota_remaining,total,items_owner,items_is_accepted,items_score,items_last_activity_date,items_last_edit_date,items_creation_date,items_answer_id,items_question_id,items_content_license,items_community_owned_date
0,0,True,5,300,300,0,"{'reputation': 13138, 'user_id': 7758804, 'use...",False,1,1597266892,1597266892,1596071787,63164739,63163893,CC BY-SA 4.0,NaN
1,0,True,5,300,300,0,"{'reputation': 71, 'user_id': 5795941, 'user_t...",False,0,1597260576,1597260576,1594257403,62805905,763835,CC BY-SA 4.0,NaN
2,0,True,5,300,300,0,"{'reputation': 16, 'user_id': 13526199, 'user_...",True,0,1597257248,1597257248,1594393314,62837055,62836752,CC BY-SA 4.0,NaN
3,0,True,5,300,300,0,"{'reputation': 471, 'user_id': 13269283, 'user...",True,0,1597255328,1597255328,1594981466,62952049,62932908,CC BY-SA 4.0,NaN
4,0,True,5,300,300,0,"{'reputation': 100, 'user_id': 4321123, 'user_...",False,0,1597254421,1597254421,1594989684,62954204,62951197,CC BY-SA 4.0,NaN

#### Question 2: Find the most voted question today with at least a score of 5 and tagged with 'python'.

In [8]:
# your code here
voted_questions = SITE.fetch('questions',fromdate = datetime(2020,8,11),min = 5,sort='votes',tagged='python')
voted_questions_df = pd.DataFrame(voted_questions)
voted_questions_df.head()

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,False,1,300,300,0,"{'tags': ['python', 'nan'], 'owner': {'reputat..."
1,0,False,1,300,300,0,"{'tags': ['python', 'plotly'], 'owner': {'repu..."
2,0,False,1,300,300,0,"{'tags': ['python', 'pandas'], 'owner': {'repu..."
3,0,False,1,300,300,0,"{'tags': ['python', 'pandas', 'plotly', 'plotl..."
4,0,False,1,300,300,0,"{'tags': ['python', 'python-3.x', 'pandas', 'm..."

In [9]:
#flatten function called again

nested_col = ['items']
flat = flatten(voted_questions_df , nested_col)
flat.head()

,backoff,has_more,page,quota_max,quota_remaining,total,items_tags,items_owner,items_is_answered,items_view_count,items_accepted_answer_id,items_answer_count,items_score,items_last_activity_date,items_creation_date,items_last_edit_date,items_question_id,items_content_license,items_link,items_title
0,0,False,1,300,300,0,"[python, nan]","{'reputation': 6252, 'user_id': 6510497, 'user...",True,1499,63365563,2,22,1597255974,1597165585,1597251520,63363044,CC BY-SA 4.0,https://stackoverflow.com/questions/63363044/w...,Why does “np.inf // 2” result in NaN and not i...
1,0,False,1,300,300,0,"[python, plotly]","{'reputation': 61, 'user_id': 14089489, 'user_...",False,72,NaN,0,6,1597229622,1597179903,1597229622,63366363,CC BY-SA 4.0,https://stackoverflow.com/questions/63366363/p...,Plotly: How to remove white space after saving...
2,0,False,1,300,300,0,"[python, pandas]","{'reputation': 63, 'user_id': 11863790, 'user_...",True,53,63353897,2,5,1597133598,1597132384,NaN,63353836,CC BY-SA 4.0,https://stackoverflow.com/questions/63353836/p...,Python - LogReturn on an entire dataframe
3,0,False,1,300,300,0,"[python, pandas, plotly, plotly-dash]","{'reputation': 396, 'user_id': 10574250, 'user...",True,56,63362163,1,5,1597188326,1597159113,1597188304,63361267,CC BY-SA 4.0,https://stackoverflow.com/questions/63361267/p...,Plotly: How to update plotly data using dropdo...
4,0,False,1,300,300,0,"[python, python-3.x, pandas, multidimensional-...","{'reputation': 429, 'user_id': 12587364, 'user...",True,57,NaN,1,5,1597248645,1597189062,1597221619,63367761,CC BY-SA 4.0,https://stackoverflow.com/questions/63367761/t...,Transforming pandas dataframe to array of fixe...

#### Question 3: Find the answers with id 6784 and 6473.

In [10]:
# your code here
answers = SITE.fetch('answers',ids = ['6784','6473'])
ans_df = pd.DataFrame(answers)

nested_col = ['items']
flat = flatten(ans_df , nested_col)
flat.head()

#There seems to be only the answer corresponding to one of the ids' i.e 6784

,backoff,has_more,page,quota_max,quota_remaining,total,items_answer_id,items_content_license,items_creation_date,items_is_accepted,items_last_activity_date,items_owner,items_question_id,items_score
0,0,False,1,300,300,0,6784,CC BY-SA 2.5,1218291583,False,1218291583,"{'reputation': 29025, 'user_id': 758, 'user_ty...",6778,0