# StackAPI

#### Import the necessary libraries here:

In [2]:
import pandas as pd

In [3]:
# import the necessary libraries here
import json
import requests
import datetime
from stackapi import StackAPI
from datetime import datetime

In [4]:
# run the code below
SITE = StackAPI('stackoverflow')
comments = SITE.fetch('comments')

Before you start with the lab, please be aware that all the relevant information regarding the StackAPI can be found here: https://stackapi.readthedocs.io/en/latest/user/advanced.html#calling-fetch-with-various-api-parameters

#### Question 1: Find the questions and answers of last month.

*hint*: use the fromdate and todate arguments.

In [5]:
comments = SITE.fetch('comments', fromdate=datetime(2020,7,1), todate=datetime(2020,7,31))
comments_df = pd.DataFrame(comments)
comments_df

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,300,0,"{'owner': {'reputation': 20267, 'user_id': 735..."
1,0,True,5,300,300,0,"{'owner': {'reputation': 13470, 'user_id': 775..."
2,0,True,5,300,300,0,"{'owner': {'reputation': 580819, 'user_id': 37..."
3,0,True,5,300,300,0,"{'owner': {'reputation': 3, 'user_id': 1402398..."
4,0,True,5,300,300,0,"{'owner': {'reputation': 1296, 'user_id': 1701..."
...,...,...,...,...,...,...,...
495,0,True,5,300,300,0,"{'owner': {'reputation': 3, 'user_id': 1115724..."
496,0,True,5,300,300,0,"{'owner': {'reputation': 235, 'user_id': 17397..."
497,0,True,5,300,300,0,"{'owner': {'reputation': 149344, 'user_id': 43..."
498,0,True,5,300,300,0,"{'owner': {'reputation': 4443, 'user_id': 3798..."
499,0,True,5,300,300,0,"{'owner': {'reputation': 1457, 'user_id': 1338..."

In [6]:
questions = SITE.fetch('questions', fromdate = datetime(2020,7,1), todate = datetime(2020,7,31))
questions_df = pd.DataFrame(questions)
questions_df.head()

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,300,0,"{'tags': ['python', 'mfcc'], 'owner': {'reputa..."
1,0,True,5,300,300,0,"{'tags': ['laravel', 'laravel-nova'], 'owner':..."
2,0,True,5,300,300,0,"{'tags': ['java', 'date', 'datetime', 'java-8'..."
3,0,True,5,300,300,0,"{'tags': ['javascript', 'discord.js'], 'owner'..."
4,0,True,5,300,300,0,"{'tags': ['stackexchange-api'], 'owner': {'rep..."

In [9]:

answers = SITE.fetch('answers', fromdate=datetime(2020,7,1), todate=datetime(2020,7,31))
answers_df = pd.DataFrame(answers)
answers_df

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,300,0,"{'owner': {'reputation': 3497, 'user_id': 1060..."
1,0,True,5,300,300,0,"{'owner': {'reputation': 23, 'user_id': 128864..."
2,0,True,5,300,300,0,"{'owner': {'reputation': 454, 'user_id': 64583..."
3,0,True,5,300,300,0,"{'owner': {'reputation': 1332, 'user_id': 1287..."
4,0,True,5,300,300,0,"{'owner': {'reputation': 21229, 'user_id': 860..."
...,...,...,...,...,...,...,...
495,0,True,5,300,300,0,"{'owner': {'reputation': 87, 'user_id': 933460..."
496,0,True,5,300,300,0,"{'owner': {'reputation': 19352, 'user_id': 191..."
497,0,True,5,300,300,0,"{'owner': {'reputation': 51806, 'user_id': 270..."
498,0,True,5,300,300,0,"{'owner': {'reputation': 51, 'user_id': 362758..."
499,0,True,5,300,300,0,"{'owner': {'reputation': 158, 'user_id': 14012..."

#### Question 2: Find the most voted question today with at least a score of 5 and tagged with 'python'.

In [17]:
# your code here
most_voted = SITE.fetch('questions',fromdate = datetime(2020,8,15),min = 5,sort='votes',tagged='python')
most_voted['items'][0]

{'tags': ['python', 'beautifulsoup', 'replacewith'],
 'owner': {'reputation': 95,
  'user_id': 12493545,
  'user_type': 'registered',
  'profile_image': 'https://www.gravatar.com/avatar/643ee6e983b97dec66fbc33b5f9aa024?s=128&d=identicon&r=PG&f=1',
  'display_name': 'Natan',
  'link': 'https://stackoverflow.com/users/12493545/natan'},
 'is_answered': True,
 'view_count': 30,
 'accepted_answer_id': 63424998,
 'answer_count': 1,
 'score': 7,
 'last_activity_date': 1597487388,
 'creation_date': 1597480969,
 'question_id': 63424180,
 'content_license': 'CC BY-SA 4.0',
 'link': 'https://stackoverflow.com/questions/63424180/bs4-replace-with-result-is-no-longer-in-tree',
 'title': 'BS4 replace_with result is no longer in tree'}

#### Question 3: Find the answers with id 6784 and 6473.

In [20]:
# your code here
answers_id = SITE.fetch('answers',ids = ['6784','6473'])
answers_id
#no answer with id 6473

{'backoff': 0,
 'has_more': False,
 'page': 1,
 'quota_max': 300,
 'quota_remaining': 300,
 'total': 0,
 'items': [{'owner': {'reputation': 29035,
    'user_id': 758,
    'user_type': 'registered',
    'accept_rate': 77,
    'profile_image': 'https://www.gravatar.com/avatar/0b4adc19284ed0751844d610555dc6b2?s=128&d=identicon&r=PG',
    'display_name': 'Mark Renouf',
    'link': 'https://stackoverflow.com/users/758/mark-renouf'},
   'is_accepted': False,
   'score': 0,
   'last_activity_date': 1218291583,
   'creation_date': 1218291583,
   'answer_id': 6784,
   'question_id': 6778,
   'content_license': 'CC BY-SA 2.5'}]}