# StackAPI

#### Import the necessary libraries here:

In [1]:
import pandas as pd
from datetime import datetime

In [2]:
# import the necessary libraries here
from stackapi import StackAPI

In [3]:
# run the code below
SITE = StackAPI('stackoverflow')
comments = SITE.fetch('comments')
xx = SITE.fetch('questions')
yy = SITE.fetch('answers')

Before you start with the lab, please be aware that all the relevant information regarding the StackAPI can be found here: https://stackapi.readthedocs.io/en/latest/user/advanced.html#calling-fetch-with-various-api-parameters

#### Question 1: Find the questions and answers of last month.

*hint*: use the fromdate and todate arguments.

In [4]:
comments = SITE.fetch('comments', fromdate=datetime(2020,7,1), todate=datetime(2020,7,31))
comments_df = pd.DataFrame(comments)
comments_df

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,300,0,"{'owner': {'reputation': 20149, 'user_id': 735..."
1,0,True,5,300,300,0,"{'owner': {'reputation': 12775, 'user_id': 775..."
2,0,True,5,300,300,0,"{'owner': {'reputation': 578979, 'user_id': 37..."
3,0,True,5,300,300,0,"{'owner': {'reputation': 3, 'user_id': 1402398..."
4,0,True,5,300,300,0,"{'owner': {'reputation': 1286, 'user_id': 1701..."
...,...,...,...,...,...,...,...
495,0,True,5,300,300,0,"{'owner': {'reputation': 53, 'user_id': 572723..."
496,0,True,5,300,300,0,"{'owner': {'reputation': 37, 'user_id': 130743..."
497,0,True,5,300,300,0,"{'owner': {'reputation': 94877, 'user_id': 526..."
498,0,True,5,300,300,0,"{'owner': {'reputation': 179332, 'user_id': 87..."
499,0,True,5,300,300,0,"{'owner': {'reputation': 49149, 'user_id': 111..."

In [31]:
comments_df

{'owner': {'reputation': 20149,
  'user_id': 7359094,
  'user_type': 'registered',
  'accept_rate': 83,
  'profile_image': 'https://i.stack.imgur.com/HxJgU.jpg?s=128&g=1',
  'display_name': 'Fran&#231;ois Andrieux',
  'link': 'https://stackoverflow.com/users/7359094/fran%c3%a7ois-andrieux'},
 'edited': False,
 'score': 0,
 'creation_date': 1596153586,
 'post_id': 63182632,
 'comment_id': 111728198,
 'content_license': 'CC BY-SA 4.0'}

In [5]:
questions = SITE.fetch('questions', fromdate=datetime(2020,7,1), todate=datetime(2020,7,31))
questions_df = pd.DataFrame(questions)
questions_df

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,300,0,"{'tags': ['flutter', 'dart'], 'owner': {'reput..."
1,0,True,5,300,300,0,"{'tags': ['css'], 'owner': {'reputation': 137,..."
2,0,True,5,300,300,0,"{'tags': ['javascript', 'html', 'jquery', 'css..."
3,0,True,5,300,300,0,"{'tags': ['css'], 'owner': {'reputation': 3493..."
4,0,True,5,300,300,0,"{'tags': ['scala', 'avro', 'avro4s'], 'owner':..."
...,...,...,...,...,...,...,...
495,0,True,5,300,300,0,"{'tags': ['sitecore', 'sitecore7', 'sitecore7...."
496,0,True,5,300,300,0,"{'tags': ['sitecore', 'sitecore8.1'], 'owner':..."
497,0,True,5,300,300,0,"{'tags': ['c#', '.net', 'wcf', 'wsdl'], 'owner..."
498,0,True,5,300,300,0,"{'tags': ['sitecore', 'sitecore8.1'], 'owner':..."
499,0,True,5,300,300,0,"{'tags': ['content-management-system', 'siteco..."

In [6]:
answers = SITE.fetch('answers', fromdate=datetime(2020,7,1), todate=datetime(2020,7,31))
answers_df = pd.DataFrame(answers)
answers_df

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,300,0,"{'owner': {'reputation': 63773, 'user_id': 661..."
1,0,True,5,300,300,0,"{'owner': {'reputation': 61, 'user_id': 130311..."
2,0,True,5,300,300,0,"{'owner': {'reputation': 6063, 'user_id': 1493..."
3,0,True,5,300,300,0,"{'owner': {'reputation': 43, 'user_id': 649976..."
4,0,True,5,300,300,0,"{'owner': {'reputation': 1322, 'user_id': 1287..."
...,...,...,...,...,...,...,...
495,0,True,5,300,300,0,"{'owner': {'reputation': 1927, 'user_id': 9253..."
496,0,True,5,300,300,0,"{'owner': {'reputation': 46, 'user_id': 139969..."
497,0,True,5,300,300,0,"{'owner': {'reputation': 2457, 'user_id': 1563..."
498,0,True,5,300,300,0,"{'owner': {'reputation': 590, 'user_id': 94569..."
499,0,True,5,300,300,0,"{'owner': {'reputation': 5574, 'user_id': 7667..."

In [7]:
comments_df["items"][0]

{'owner': {'reputation': 20149,
  'user_id': 7359094,
  'user_type': 'registered',
  'accept_rate': 83,
  'profile_image': 'https://i.stack.imgur.com/HxJgU.jpg?s=128&g=1',
  'display_name': 'Fran&#231;ois Andrieux',
  'link': 'https://stackoverflow.com/users/7359094/fran%c3%a7ois-andrieux'},
 'edited': False,
 'score': 0,
 'creation_date': 1596153586,
 'post_id': 63182632,
 'comment_id': 111728198,
 'content_license': 'CC BY-SA 4.0'}

In [8]:
questions_df["items"][0]

{'tags': ['flutter', 'dart'],
 'owner': {'reputation': 41,
  'user_id': 13840001,
  'user_type': 'registered',
  'profile_image': 'https://www.gravatar.com/avatar/19c88da1fa2bbfbbdb84473e3fd48be8?s=128&d=identicon&r=PG&f=1',
  'display_name': 'Jyo',
  'link': 'https://stackoverflow.com/users/13840001/jyo'},
 'is_answered': True,
 'view_count': 35,
 'accepted_answer_id': 62750368,
 'answer_count': 2,
 'score': 1,
 'last_activity_date': 1596974393,
 'creation_date': 1594016628,
 'question_id': 62750333,
 'content_license': 'CC BY-SA 4.0',
 'link': 'https://stackoverflow.com/questions/62750333/how-to-check-if-current-date-and-time-falls-between-two-given-date-and-time-in-f',
 'title': 'How to check if current date and time falls between two given date and time in Flutter'}

In [9]:
answers_df["items"][0]

{'owner': {'reputation': 63773,
  'user_id': 6618622,
  'user_type': 'registered',
  'profile_image': 'https://i.stack.imgur.com/Z7q0p.jpg?s=128&g=1',
  'display_name': 'CopsOnRoad',
  'link': 'https://stackoverflow.com/users/6618622/copsonroad'},
 'is_accepted': True,
 'score': 0,
 'last_activity_date': 1596974393,
 'last_edit_date': 1596974393,
 'creation_date': 1594016794,
 'answer_id': 62750368,
 'question_id': 62750333,
 'content_license': 'CC BY-SA 4.0'}

#### Question 2: Find the most voted question today with at least a score of 5 and tagged with 'python'.

In [10]:
# your code here

questions = SITE.fetch('questions',tagged='python')#,min=5,sort="items_score")   #,fromdate=datetime(2020,7,8), todate=datetime(2020,8,8)
questions_df = pd.DataFrame(questions)
flatten = pd.DataFrame(dict(questions_df["items"])).transpose()
columns = [str(i) for i in flatten.columns]
flatten.columns = ["items" + "_" + colname for colname in columns]
questions_df = pd.concat([questions_df,flatten],axis=1)
questions_df = questions_df.drop("items",axis=1)

In [11]:
questions_df[questions_df["items_score"] >= 5]

,backoff,has_more,page,quota_max,quota_remaining,total,items_tags,items_owner,items_is_answered,items_view_count,...,items_content_license,items_link,items_title,items_last_edit_date,items_accepted_answer_id,items_bounty_amount,items_bounty_closes_date,items_closed_date,items_closed_reason,items_protected_date
38,0,True,5,300,300,0,"[python, sql, oracle, pandas, cx-oracle]","{'reputation': 765, 'user_id': 3311225, 'user_...",True,7742,...,CC BY-SA 3.0,https://stackoverflow.com/questions/22564503/c...,Calling Python from Oracle,1396461376,NaN,50,1597522187,NaN,NaN,NaN
48,0,True,5,300,300,0,"[python, pandas]","{'reputation': 4442, 'user_id': 3507127, 'user...",True,63081,...,CC BY-SA 3.0,https://stackoverflow.com/questions/36462257/c...,Create Empty Dataframe in Pandas specifying co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,0,True,5,300,300,0,"[python, list]","{'reputation': 1830, 'user_id': 6756587, 'user...",True,151034,...,NaN,https://stackoverflow.com/questions/41125909/p...,Python find elements in one list that are not ...,1542335693,41127279,NaN,NaN,1595260481,Duplicate,NaN
74,0,True,5,300,300,0,"[python, subprocess]","{'reputation': 2960, 'user_id': 5624, 'user_ty...",True,105552,...,CC BY-SA 3.0,https://stackoverflow.com/questions/803265/get...,Getting realtime output using subprocess,1494945650,803421,NaN,NaN,NaN,NaN,NaN
106,0,True,5,300,300,0,"[python, string, unicode, binary]","{'reputation': 33909, 'user_id': 346561, 'user...",True,619166,...,CC BY-SA 4.0,https://stackoverflow.com/questions/6269765/wh...,What does the &#39;b&#39; character do in fron...,1587148950,6269785,NaN,NaN,NaN,NaN,1563024427
107,0,True,5,300,300,0,"[python, python-3.x, virtualenv, development-e...","{'reputation': 5902, 'user_id': 3282434, 'user...",True,195934,...,CC BY-SA 4.0,https://stackoverflow.com/questions/38132755/i...,ImportError: No module named &#39;encodings&#39;,1570538946,39097003,NaN,NaN,NaN,NaN,1591947326
110,0,True,5,300,300,0,"[python, proxy, pip]","{'reputation': 503, 'user_id': 4460182, 'user_...",True,66568,...,CC BY-SA 3.0,https://stackoverflow.com/questions/30992717/p...,Proxy awareness with pip,1490517853,30992836,NaN,NaN,NaN,NaN,NaN
112,0,True,5,300,300,0,"[python, pip]","{'reputation': 1769, 'user_id': 1428692, 'user...",True,113556,...,CC BY-SA 3.0,https://stackoverflow.com/questions/24174821/h...,How to change default install location for pip,NaN,24175174,NaN,NaN,NaN,NaN,NaN
136,0,True,5,300,300,0,"[python, deep-learning, caffe]","{'reputation': 251, 'user_id': 6286446, 'user_...",True,26658,...,CC BY-SA 3.0,https://stackoverflow.com/questions/37007495/c...,Caffe didn&#39;t see hdf5.h when compiling,1464072010,NaN,NaN,NaN,NaN,NaN,NaN
148,0,True,5,300,300,0,"[python, eclipse, virtualenv, pydev]","{'reputation': 771, 'user_id': 947319, 'user_t...",True,3772,...,CC BY-SA 3.0,https://stackoverflow.com/questions/11019120/d...,Define remote interpreter on remote Linux mach...,1400246635,NaN,NaN,NaN,NaN,NaN,NaN
154,0,True,5,300,300,0,"[python, django]","{'reputation': 481, 'user_id': 7169431, 'user_...",True,70011,...,CC BY-SA 4.0,https://stackoverflow.com/questions/41883254/d...,Django - is not a registered namespace,1596966801,41883421,NaN,NaN,NaN,NaN,NaN
182,0,True,5,300,300,0,"[python, memory, memory-management]","{'reputation': 79, 'user_id': 14021711, 'user_...",False,43,...,CC BY-SA 4.0,https://stackoverflow.com/questions/63324640/h...,How is python storing integers out of range?,1596965871,NaN,NaN,NaN,NaN,NaN,NaN
187,0,True,5,300,300,0,"[android, python, kivy]","{'reputation': 2018, 'user_id': 325224, 'user_...",True,5486,...,CC BY-SA 3.0,https://stackoverflow.com/questions/21057647/r...,Remove or replace the kivy splash screen on st...,NaN,21062151,NaN,NaN,NaN,NaN,NaN
193,0,True,5,300,300,0,"[python, scikit-learn, pycharm]","{'reputation': 307, 'user_id': 4250619, 'user_...",True,8485,...,CC BY-SA 3.0,https://stackoverflow.com/questions/27406345/i...,import sklearn not working in PyCharm,1418292092,NaN,NaN,NaN,NaN,NaN,NaN
205,0,True,5,300,300,0,"[python, recursion, scipy, exe, pyinstaller]","{'reputation': 411, 'user_id': 6380001, 'user_...",True,39052,...,CC BY-SA 3.0,https://stackoverflow.com/questions/38977929/p...,pyinstaller creating EXE RuntimeError: maximum...,1471360739,NaN,NaN,NaN,NaN,NaN,NaN
225,0,True,5,300,300,0,"[python, python-2.7, python-3.x]","{'reputation': 323, 'user_id': 6053047, 'user_...",True,19985,...,CC BY-SA 3.0,https://stackoverflow.com/questions/36513028/w...,What are the difference between sep and end in...,1460182098,36513086,NaN,NaN,NaN,NaN,NaN
226,0,True,5,300,300,0,"[python, excel, python-3.x, pandas]","{'reputation': 2177, 'user_id': 2579896, 'user...",True,13123,...,CC BY-SA 3.0,https://stackoverflow.com/questions/49677313/s...,Skip specific set of columns when reading exce...,1522946170,49677970,NaN,NaN,NaN,NaN,NaN
244,0,True,5,300,300,0,"[python, opencv, contour]","{'reputation': 1064, 'user_id': 3795491, 'user...",True,38638,...,CC BY-SA 4.0,https://stackoverflow.com/questions/41879315/o...,OpenCV - visualize polygonal curve(s) extracte...,1586872357,41880357,NaN,NaN,NaN,NaN,NaN
248,0,True,5,300,300,0,"[python, python-3.x, tensorflow, keras, tensor...","{'reputation': 12653, 'user_id': 3214872, 'use...",True,65043,...,CC BY-SA 4.0,https://stackoverflow.com/questions/59823283/c...,Could not load dynamic library &#39;cudart64_1...,1590593147,59823284,NaN,NaN,NaN,NaN,1596965559
254,0,True,5,300,300,0,"[python, class, oop, self]","{'reputation': 31639, 'user_id': 301032, 'user...",True,866760,...,CC BY-SA 4.0,https://stackoverflow.com/questions/2709821/wh...,What is the purpose of the word &#39;self&#39;?,1585175450,2709832,NaN,NaN,NaN,NaN,1366705572
266,0,True,5,300,300,0,"[python, mysql-python]","{'reputation': 1692, 'user_id': 103969, 'user_...",True,2682,...,CC BY-SA 3.0,https://stackoverflow.com/questions/25772003/u...,Using the python MySQLDB SScursor with nested ...,1410394070,25776570,NaN,NaN,NaN,NaN,NaN
287,0,True,5,300,300,0,"[python, datetime, time, timezone, pytz]","{'reputation': 1925, 'user_id': 196185, 'user_...",True,27043,...,CC BY-SA 2.5,https://stackoverflow.com/questions/1681143/ho...,how to get tz_info object corresponding to cur...,1257434378,1681600,NaN,NaN,NaN,NaN,NaN
341,0,True,5,300,300,0,"[python, standard-library]","{'reputation': 1607, 'user_id': 212339, 'user_...",True,105838,...,CC BY-SA 3.0,https://stackoverflow.com/questions/2311510/ge...,Getting a machine&#39;s external IP address wi...,1511483399,2311543,NaN,NaN,NaN,NaN,NaN
345,0,True,5,300,300,0,"[python, dynamic, tkinter, optionmenu]","{'reputation': 413, 'user_id': 2511875, 'user_...",True,13514,...,CC BY-SA 3.0,https://stackoverflow.com/questions/17252096/c...,Change OptionMenu based on what is selected in...,1432328995,NaN,NaN,NaN,NaN,NaN,NaN
346,0,True,5,300,300,0,"[python, python-3.x, dependency-management]","{'reputation': 913, 'user_id': 4556479, 'user_...",True,4455,...,CC BY-SA 4.0,https://stackoverflow.com/questions/54475042/p...,Python dependency hell: A compromise between v...,1596955814,54697985,NaN,NaN,NaN,NaN,NaN
359,0,True,5,300,300,0,"[python, graph, networkx]","{'reputation': 725, 'user_id': 3012255, 'user_...",True,818,...,CC BY-SA 3.0,https://stackoverflow.com/questions/30066788/n...,networkx edge-to-node node-to-edge representation,NaN,30067690,NaN,NaN,NaN,NaN,NaN
395,0,True,5,300,300,0,"[python, css, jupyter-lab]","{'reputation': 133, 'user_id': 3381405, 'user_...",True,15115,...,CC BY-SA 3.0,https://stackoverflow.com/questions/47048278/j...,"jupyterlab - change styling - font, font size",NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,0,True,5,300,300,0,"[python, group-by, pandas]","{'reputation': 40926, 'user_id': 1755432, 'use...",True,1241,...,CC BY-SA 4.0,https://stackoverflow.com/questions/12950024/a...,Add a column with a groupby on a hierarchical ...,1596952274,12989920,NaN,NaN,NaN,NaN,NaN
410,0,True,5,300,300,0,"[python, string, python-2.7, pandas, replace]","{'reputation': 4582, 'user_id': 1479974, 'user...",True,23326,...,CC BY-SA 3.0,https://stackoverflow.com/questions/39602824/p...,pandas: replace string with another string,1474402659,39602902,NaN,NaN,NaN,NaN,NaN
413,0,True,5,300,300,0,"[python, image, python-imaging-library, thumbn...","{'reputation': 6562, 'user_id': 3912, 'user_ty...",True,704808,...,CC BY-SA 2.5,https://stackoverflow.com/questions/273946/how...,How do I resize an image using PIL and maintai...,1226101316,273962,NaN,NaN,NaN,NaN,NaN
417,0,True,5,300,300,0,"[python, tensorflow, flask, keras]","{'reputation': 666, 'user_id': 11306005, 'user...",True,8843,...,CC BY-SA 4.0,https://stackoverflow.com/questions/58015489/f...,Flask and Keras model Error &#39;&#39;_thread....,1569540877,58023399,NaN,NaN,NaN,NaN,NaN
426,0,True,5,300,300,0,[python],"{'user_type': 'does_not_exist', 'display_name'...",True,47841,...,CC BY-SA 3.0,https://stackoverflow.com/questions/14360389/g...,getting file path from command line argument i...,1358345704,NaN,NaN,NaN,NaN,NaN,NaN
452,0,True,5,300,300,0,"[javascript, python, django, static, include]","{'reputation': 2469, 'user_id': 4157512, 'user...",True,65484,...,CC BY-SA 4.0,https://stackoverflow.com/questions/30313314/d...,django how to include javascript in template,1559753440,30313348,NaN,NaN,NaN,NaN,NaN
454,0,True,5,300,300,0,"[python, machine-learning, scikit-learn, neura...","{'reputation': 81, 'user_id': 4013873, 'user_t...",True,1213,...,CC BY-SA 3.0,https://stackoverflow.com/questions/41793538/k...,keras: issue using ImageDataGenerator and KFol...,1485214493,NaN,NaN,NaN,NaN,NaN,NaN
468,0,True,5,300,300,0,"[python, apache-spark, scheduling, reload, air...","{'reputation': 667, 'user_id': 7196609, 'user_...",True,27163,...,CC BY-SA 4.0,https://stackoverflow.com/questions/41730297/p...,Python script scheduling in airflow,1592644375,NaN,NaN,NaN,NaN,NaN,NaN

#### Question 3: Find the answers with id 6784 and 6473.

In [12]:
# your code here
answers = SITE.fetch('answers',tagged='python')
answers_df = pd.DataFrame(answers)
col_list = ["items","items_owner"]

def flat_func(dataFrame,column):
    for column in col_list:
        flatten = pd.DataFrame(dict(dataFrame[column])).transpose()
        columns = [str(i) for i in flatten.columns]
        flatten.columns = [column + "_" + colname for colname in columns]
        dataFrame = pd.concat([dataFrame,flatten],axis=1)
        dataFrame = dataFrame.drop(column,axis=1)
    return dataFrame

flat_df = flat_func(answers_df,col_list)

In [13]:
flat_df

,backoff,has_more,page,quota_max,quota_remaining,total,items_is_accepted,items_score,items_last_activity_date,items_last_edit_date,...,items_question_id,items_content_license,items_community_owned_date,items_owner_reputation,items_owner_user_id,items_owner_user_type,items_owner_profile_image,items_owner_display_name,items_owner_link,items_owner_accept_rate
0,0,True,5,300,300,0,True,0,1596974393,1596974393,...,62750333,CC BY-SA 4.0,NaN,63773,6618622,registered,https://i.stack.imgur.com/Z7q0p.jpg?s=128&g=1,CopsOnRoad,https://stackoverflow.com/users/6618622/copson...,NaN
1,0,True,5,300,300,0,False,0,1596974378,NaN,...,63322561,CC BY-SA 4.0,NaN,1,7074823,registered,https://www.gravatar.com/avatar/62ee263621f1c8...,Futureflo,https://stackoverflow.com/users/7074823/futureflo,NaN
2,0,True,5,300,300,0,False,0,1596974376,NaN,...,63325953,CC BY-SA 4.0,NaN,5650,1672994,registered,https://www.gravatar.com/avatar/56278338c1a328...,user1672994,https://stackoverflow.com/users/1672994/user16...,NaN
3,0,True,5,300,300,0,False,0,1596974356,NaN,...,63320230,CC BY-SA 4.0,NaN,91,3436573,registered,https://www.gravatar.com/avatar/e749a6dddada09...,ALe,https://stackoverflow.com/users/3436573/ale,NaN
4,0,True,5,300,300,0,False,0,1596974331,1596974331,...,61712214,CC BY-SA 4.0,NaN,1,10016700,registered,https://www.gravatar.com/avatar/c70962a3cd2eeb...,Chaya,https://stackoverflow.com/users/10016700/chaya,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0,True,5,300,300,0,False,1,1596968702,NaN,...,63324678,CC BY-SA 4.0,NaN,2291,2438933,registered,https://www.gravatar.com/avatar/a0aec37a862307...,User 28,https://stackoverflow.com/users/2438933/user-28,75
496,0,True,5,300,300,0,False,0,1596968681,NaN,...,63322074,CC BY-SA 4.0,NaN,60,14048579,registered,https://www.gravatar.com/avatar/17715cf5a52bf3...,Soumendra Mishra,https://stackoverflow.com/users/14048579/soume...,NaN
497,0,True,5,300,300,0,False,0,1596968660,1596968660,...,63324763,CC BY-SA 4.0,NaN,4630,3857384,registered,https://www.gravatar.com/avatar/3e181c74d4ce8e...,TimBrownlaw,https://stackoverflow.com/users/3857384/timbro...,NaN
498,0,True,5,300,300,0,False,0,1596968634,NaN,...,53004136,CC BY-SA 4.0,NaN,1767,10523776,registered,https://i.stack.imgur.com/JY0A9.jpg?s=128&g=1,Jagraj Singh,https://stackoverflow.com/users/10523776/jagra...,NaN
499,0,True,5,300,300,0,False,1,1596968625,NaN,...,63324606,CC BY-SA 4.0,NaN,7048,2780033,registered,https://i.stack.imgur.com/ktUYw.png?s=128&g=1,Deryck,https://stackoverflow.com/users/2780033/deryck,NaN

In [28]:
flat_df["items_answer_id"].sort_values()

31      5113241
421     6273618
278    15137415
234    15438962
478    21498980
         ...
9      63326068
6      63326069
3      63326076
2      63326078
1      63326079
Name: items_answer_id, Length: 500, dtype: object

In [14]:
flat_df[flat_df["items_answer_id"] == 6784 & 6473]

Empty DataFrame
Columns: [backoff, has_more, page, quota_max, quota_remaining, total, items_is_accepted, items_score, items_last_activity_date, items_last_edit_date, items_creation_date, items_answer_id, items_question_id, items_content_license, items_community_owned_date, items_owner_reputation, items_owner_user_id, items_owner_user_type, items_owner_profile_image, items_owner_display_name, items_owner_link, items_owner_accept_rate]
Index: []

[0 rows x 22 columns]

In [29]:
flat_df["items_owner_user_id"].sort_values()

153        1338
42        19068
195       21974
58        42782
196       51685
         ...
39     14075093
244    14075137
233    14075144
19     14075285
15     14075287
Name: items_owner_user_id, Length: 500, dtype: object

In [21]:
flat_df[flat_df["items_owner_user_id"] == 6784 & 6473]

Empty DataFrame
Columns: [backoff, has_more, page, quota_max, quota_remaining, total, items_is_accepted, items_score, items_last_activity_date, items_last_edit_date, items_creation_date, items_answer_id, items_question_id, items_content_license, items_community_owned_date, items_owner_reputation, items_owner_user_id, items_owner_user_type, items_owner_profile_image, items_owner_display_name, items_owner_link, items_owner_accept_rate]
Index: []

[0 rows x 22 columns]

In [ ]:
# Well, apperantly in my dataset there are no such values but since main point is flattining the databases in this
# lab, I will stop trying to find those values..