# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

Load the data from [here](https://drive.google.com/file/d/1CgaV3QwIw0vJEfANGX0pAjdwQ7mKqePd/view?usp=sharing) store them locally in the provided data folder and run the code below.

In [2]:
# Run this code to load the data

pokemon = pd.read_csv('../data/pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
legendary = pokemon['Legendary'].value_counts()[1]
non_legendary = pokemon['Legendary'].value_counts()[0]
print("There are", legendary ,"legendary pokemons and", non_legendary ,"non legendary pokemons")

There are 65 legendary pokemons and 735 non legendary pokemons

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:

legendary = pokemon.loc[pokemon['Legendary'] == True]
non_legendary = pokemon.loc[pokemon['Legendary'] == False]

#Legendary
leg_mean = np.mean(legendary['Total'])
leg_std = np.std(legendary['Total'])
             
#Non-legendary
non_mean = np.mean(non_legendary['Total'])
non_std = np.std(non_legendary['Total'])

print("The mean of total points of non-legendary pokemons is", round(non_mean,3), "while the mean of legendary Pokemons is", round(leg_mean,3))
print("The standard deviation of total points of non-legendary pokemons is", round(non_std,3), "while the standard deviation of legendary Pokemons is", round(leg_std,3))

The mean of total points of non-legendary pokemons is 417.214 while the mean of legendary Pokemons is 637.385
The standard deviation of total points of non-legendary pokemons is 106.688 while the standard deviation of legendary Pokemons is 60.467

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Your code here:
from scipy.stats import ttest_ind
ttest_ind(legendary['Total'],non_legendary['Total'],equal_var = False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957444e-47)

What do you conclude from this test? Write your conclusions below.

In [7]:
# Your conclusions here:

"""The p-value is extremely small and is way less compared to the critical value(alpha) being 0.05
Hence ,given the data ,with 95% confidence interval we could say that there is statistically significant difference between 
the means of total points of legendary and non legendary pokemons.
So we can reject the null hypothesis."""

'The p-value is extremely small and is way less compared to the critical value(alpha) being 0.05\nHence ,given the data ,with 95% confidence interval we could say that there is statistically significant difference between \nthe means of total points of legendary and non legendary pokemons.\nSo we can reject the null hypothesis.'

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [8]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [9]:
# Your code here:
type_water = pokemon.loc[pokemon['Type 1'] == 'Water']
type_other = pokemon.loc[pokemon['Type 1'] != 'Water']

water_mean = np.mean(type_water['Total'])
water_std = np.std(type_water['Total'])

other_mean = np.mean(type_other['Total'])
other_std = np.std(type_other['Total'])


print("The mean of total points of water Pokemon is", round(water_mean,3), "while the mean total all other types Pokemons is", round(other_mean,3))

The mean of total points of water Pokemon is 430.455 while the mean total all other types Pokemons is 435.859

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [10]:
# Your code here:
ttest_ind(type_water['Total'],type_other['Total'], equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [11]:
# Your conclusions here:
#H0 : water_mean =  other_mean
#H1 : water_mean != other_mean
"""Since p-value is higher than critical value , we cannot reject the null hypothesis. 
Hence ,with 95% certainty we can say that there is statistically no significant difference betweenthe means of water pokemons and all other pokemons.
The mean of both the samples are equal."""

'Since p-value is higher than critical value , we cannot reject the null hypothesis. \nHence ,with 95% certainty we can say that there is statistically no significant difference betweenthe means of water pokemons and all other pokemons.\nThe mean of both the samples are equal.'

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [12]:
# Your code here:
#import function from scipy
from scipy.stats import ttest_rel

#hypotheses 
#H0: 𝜇𝑑=0 , H1: 𝜇𝑑≠0

ttest_rel(pokemon['Attack'],pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [13]:
# Your conclusions here:
#p-value is way too smaller than 0.05 ,the critical value. So we can reject the null hypothesis.
#The two samples seem to be different.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [14]:
# Your code here:
ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [15]:
# Your conclusions here:
#The p-value is higher than alpha, We cannot reject the null hypothesis. The samples are likely to be same.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [16]:
# Your code here:
#We already have this result :* Assigning the results to variables 
Atk = pokemon['Sp. Atk']
Def = pokemon['Sp. Def']
tst1 = ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

#import ttest_1samp function
from scipy.stats import ttest_1samp
tst2 = ttest_1samp(Atk - Def , popmean = 0 )
if(tst1 == tst2):
    print("Results are identical")

Results are identical

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: