# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd
import statistics
import math
from scipy.stats import norm

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

Load the data from [here](https://drive.google.com/file/d/1CgaV3QwIw0vJEfANGX0pAjdwQ7mKqePd/view?usp=sharing) store them locally in the provided data folder and run the code below.

In [2]:
# Run this code to load the data

pokemon = pd.read_csv('../data/Pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
#pokemon[pokemon['Legendary']==False].count

pokemon['Legendary'].value_counts()
#paolo:yes

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:

#calculating means 
Legend=pokemon[pokemon['Legendary']==True].mean()
Regular=pokemon[pokemon['Legendary']==False].mean()

#calculating std 
legend_std=statistics.stdev(pokemon['Legendary']==True & pokemon['Total'])
reg_std=statistics.stdev(pokemon['Legendary']==False & pokemon['Total'])

print(f"Standard deviation for Legend Pokemon is {legend_std}")
print(f"Standard deviation for Regular Pokemon is {reg_std}")
#paolo: remember as per question to refer to Total points in the dataframe
# so your answer is numerically not correct

Standard deviation for Legend Pokemon is 0.4971366699266231
Standard deviation for Regular Pokemon is 0.2733895843499507

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Your code here:

from scipy.stats import ttest_ind

In [7]:
ttest_ind(Legend, Regular, equal_var=True)

Ttest_indResult(statistic=0.6986021462319688, pvalue=0.49372873772993175)

What do you conclude from this test? Write your conclusions below.

In [8]:
# Your conclusions here:
#paolo: what is your conclusion here?

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [9]:
# Your code here:
typ1 = pokemon.groupby('Type 1')['Name'].nunique().sort_values(ascending=False).reset_index(name='count')
print (typ1)

      Type 1  count
0      Water    112
1     Normal     98
2      Grass     70
3        Bug     69
4    Psychic     57
5       Fire     52
6       Rock     44
7   Electric     44
8     Ground     32
9     Dragon     32
10     Ghost     32
11      Dark     31
12    Poison     28
13     Steel     27
14  Fighting     27
15       Ice     24
16     Fairy     17
17    Flying      4

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [10]:
#Calculating the mean of water pokemon and others
Water=pokemon[pokemon['Type 1']=='Water'].mean()
NotWater=pokemon[pokemon['Type 1']!='Water'].mean()

print(f"Mean of Water Pokemon is {Water}")
print(f"Mean of Non-Water Pokemon is {NotWater}")

#Paolo, what's the differnce between 'Total' underneath and 'Mean'?
#paolo: here you should use the total column

Mean of Water Pokemon is #             303.089286
Total         430.455357
HP             72.062500
Attack         74.151786
Defense        72.946429
Sp. Atk        74.812500
Sp. Def        70.517857
Speed          65.964286
Generation      2.857143
Legendary       0.035714
dtype: float64
Mean of Non-Water Pokemon is #             372.536337
Total         435.859012
HP             68.802326
Attack         79.790698
Defense        73.988372
Sp. Atk        72.495640
Sp. Def        72.127907
Speed          68.654070
Generation      3.399709
Legendary       0.088663
dtype: float64

In [11]:
#Calculating the std of water pokemon and others
Water_std=statistics.stdev(pokemon['Type 1']=='Water')
NotWater_std=statistics.stdev(pokemon['Type 1']!='Water')

print(f"Standard deviation for Water Pokemon is {Water_std}")
print(f"Standard deviation for Non-Water Pokemon is {NotWater_std}")
#paolo: good approach but should use the colmn Total- so numerical result are 
# not correct

Standard deviation for Water Pokemon is 0.3472041018773404
Standard deviation for Non-Water Pokemon is 0.3472041018773404

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [12]:
# Your code here:
from scipy.stats import ttest_ind
ttest_ind(Water, NotWater, equal_var=True)

Ttest_indResult(statistic=-0.12495908786675247, pvalue=0.9019409401007521)

Write your conclusion below.

In [13]:
# Your conclusions here:
# Although standard deviation is the same, we can reject null hypothesis because pvalue is small.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [14]:
# Your code here:
from scipy.stats import ttest_rel
ttest_rel(pokemon.Attack, pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [15]:
# Your conclusions here:

# There is a huge difference between Defense score and Attack score

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [16]:
# Your code here:

SpAtk=pokemon['Sp. Atk'].mean()
SpDef=pokemon['Sp. Def'].mean()

ttest_ind(SpAtk, SpDef, equal_var=True)

#Paolo, why am I getting nonValue throughout?
#paolo: because you are not using ttest_ind correctly - you should use ttest_rel()
# instead. WHen you do that- you could check how this function works,
# so what input variables does it take and in which order?

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3622: RuntimeWarning: Degrees of freedom <= 0 for slice
  **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_methods.py:226: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

Ttest_indResult(statistic=nan, pvalue=nan)

Describe the results of the test in the cell below.

In [17]:
# Your conclusions here:

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [18]:
# Your code here:
from scipy.stats import ttest_1samp
ttest,p_value=ttest_1samp(pokemon['Defense'],0)

#Paolo, how can you test the difference of two columsn with 1samp test?

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [19]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [20]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [21]:
# Your answer here: