# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
import statistics as stat
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel
from scipy.stats import ttest_1samp

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

Load the data from [here](https://drive.google.com/file/d/1CgaV3QwIw0vJEfANGX0pAjdwQ7mKqePd/view?usp=sharing) store them locally in the provided data folder and run the code below.

In [2]:
# Run this code to load the data
pokemon = pd.read_csv('../data/pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
print(f'The count of legendary Pokemons is {pokemon.Legendary.value_counts()[1]} vs. {pokemon.Legendary.value_counts()[0]} non legendary Pokemons')

The count of legendary Pokemons is 65 vs. 735 non legendary Pokemons

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:
legendary = pokemon[pokemon.Legendary == True]
nonlegendary = pokemon[pokemon.Legendary == False]
print(f'The mean of legendary pokemons is {round(legendary.Total.mean())} and the std dev is {round(stat.stdev(legendary.Total))}')
print(f'The mean of non legendary pokemons is {round(nonlegendary.Total.mean())} and the std dev is {round(stat.stdev(nonlegendary.Total))}')

The mean of legendary pokemons is 637 and the std dev is 61
The mean of non legendary pokemons is 417 and the std dev is 107

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Your code here:

ttest_ind(legendary.Total, nonlegendary.Total, equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [7]:
# Your conclusions here:

#The p-value is very small. Therefore, there is a significant difference between the average total points between both
#pokemon types. Based on the big difference between the means we could already expect this result

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [8]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [9]:
# Your code here:
water = pokemon[pokemon['Type 1'] == 'Water']
nonwater = pokemon[pokemon['Type 1'] != 'Water']
print(f'The mean of water pokemons is {round(water.Total.mean())} and the std dev is {round(stat.stdev(water.Total))}')
print(f'The mean of non water pokemons is {round(nonwater.Total.mean())} and the std dev is {round(stat.stdev(nonwater.Total))}')

The mean of water pokemons is 430 and the std dev is 113
The mean of non water pokemons is 436 and the std dev is 121

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [10]:
# Your code here:

ttest_ind(water.Total, nonwater.Total, equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [11]:
# Your conclusions here:

#The p-value is > 0.05, hence the mean of total points for water Pokemon does not significantly differ from 
#other Pokemons, which makes sense because means were already really close

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [12]:
# Your code here:

defense = pokemon.Defense
attack = pokemon.Attack

ttest_rel(defense, attack)

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [13]:
# Your conclusions here:

#The p-value is very small (< 0.05), hence there is a statiscially significant difference between all pokemons Defense
#and Attack scores

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [14]:
# Your code here:
specialdefense = pokemon['Sp. Def']
specialattack = pokemon['Sp. Atk']

ttest_rel(defense, attack)

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [19]:
# Your conclusions here:

#The p-value is > 0.05, hence there is no statiscially significant difference between all pokemons Special Defense
#and Special Attack scores
#Paolo: be careful - notice here that your  p value is very small
#Paolo: double check the cell above

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [18]:
# Your code here:
Prel_ttest = ttest_rel(specialdefense, specialattack)
one_samp = ttest_1samp((specialdefense) - (specialattack), popmean = 0)

if Prel_ttest == one_samp:
    print('The results of both tests are identical')

The results of both tests are identical

In [21]:
#paolo: good work!

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: