# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

Load the data from [here](https://drive.google.com/file/d/1CgaV3QwIw0vJEfANGX0pAjdwQ7mKqePd/view?usp=sharing) store them locally in the provided data folder and run the code below.

In [2]:
# Run this code to load the data

pokemon = pd.read_csv('../data/pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [18]:
# Your code here:
legendary = pokemon['Legendary'].value_counts()
legendary

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [34]:
# Your code here:
points = pokemon[['Total', 'Legendary']]
mean_legendary = points[points['Legendary'] == True].mean()
mean_legendary

Total        637.384615
Legendary      1.000000
dtype: float64

In [35]:
std_dev_legendary = points[points['Legendary'] == True].std()
std_dev_legendary

Total        60.937389
Legendary     0.000000
dtype: float64

In [36]:
mean_non_legendary = points[points['Legendary'] == False].mean()
mean_non_legendary

Total        417.213605
Legendary      0.000000
dtype: float64

In [37]:
std_dev_non_legendary = points[points['Legendary'] == False].std()
std_dev_non_legendary

Total        106.760417
Legendary      0.000000
dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [44]:
# Your code here:
#H0: mean Legendary = mean non Legendary
#H1: mean legendary != mean non Legendary
#non equal variances

leg = points[points['Legendary'] == True]
non_leg = points[points['Legendary'] == False]

from scipy.stats import ttest_ind


ttest_ind(leg['Total'], non_leg['Total'], equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [45]:
#P value is very small so we can reject the null hypothesis and assume a significant difference between legendary
# and non legendary pokemon

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [47]:
# Your code here:
types = pokemon['Type 1'].value_counts()
types

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ghost        32
Dragon       32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [56]:
# Your code here:
points_type = pokemon[['Total', 'Type 1']]
mean_water = points_type[points_type['Type 1'] == 'Water'].mean()
mean_water

Total    430.455357
dtype: float64

In [57]:
std_dev_water = points_type[points_type['Type 1'] == 'Water'].std()
std_dev_water

Total    113.188266
dtype: float64

In [58]:
mean_non_water = points_type[points_type['Type 1'] != 'Water'].mean()
mean_non_water

Total    435.859012
dtype: float64

In [59]:
std_dev_non_water = points_type[points_type['Type 1'] != 'Water'].std()
std_dev_non_water

Total    121.091682
dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [60]:
# Your code here:

#H0: mean water = mean non water
#H1: mean water != mean non water

water = points_type[points_type['Type 1'] == 'Water']
non_water = points_type[points_type['Type 1'] != 'Water']

ttest_ind(water['Total'], non_water['Total'], equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [ ]:
# Your conclusions here:
#P value exceeds critical alpha value, therefore we can assume null hypothesis is true and that there is not a statistically significant difference between water and non water pokemon.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [ ]:
# Your code here:

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [ ]:
# Your code here:

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [ ]:
# Your code here:

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: