# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [67]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel
from scipy.stats import ttest_1samp

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

Load the data from [here](https://drive.google.com/file/d/1CgaV3QwIw0vJEfANGX0pAjdwQ7mKqePd/view?usp=sharing) store them locally in the provided data folder and run the code below.

In [2]:
# Run this code to load the data

pokemon = pd.read_csv('../data/pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [14]:
# Your code here:
pokemon["Legendary"].value_counts()
'''
65 Legendary, 735 Non-Legendary
'''

'\n65 Legendary, 735 Non-Legendary\n'

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [16]:
# Your code here:
pokemon_legendary = pokemon[pokemon["Legendary"]==True]
print("Legendary pokemons' mean is: ",pokemon_legendary["Total"].mean())
print("Legendary pokemons' std is: ",pokemon_legendary["Total"].std())

pokemon_non_legendary = pokemon[pokemon["Legendary"]==False]
print("Non-Legendary pokemons' mean is: ",pokemon_non_legendary["Total"].mean())
print("Non-Legendary pokemons' std is: ",pokemon_non_legendary["Total"].std())

Legendary pokemons' mean is:  637.3846153846154
Legendary pokemons' std is:  60.93738905315344
Non-Legendary pokemons' mean is:  417.21360544217686
Non-Legendary pokemons' std is:  106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [26]:
# Your code here:
test_stats,p = ttest_ind(pokemon_legendary["Total"],pokemon_non_legendary["Total"],equal_var=False)
print('Test statistics is: ',test_stats)
print('P value is: ',p)

Test statistics is:  25.8335743895517
P value is:  9.357954335957444e-47

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:
'''
Ho => mean Total Points (Legendary) == mean Total Points (Non-legendary)
Ha => mean Total Points (Legendary) != mean Total Points (Non-legendary)

Since P-value is much lower than 0.5, we will reject the null hypothesis and we'll accept alternative
hypothesis which implies that mean total points between two type of pokemons are different.
'''

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [34]:
# Your code here:
pd.pivot_table(pokemon,values="Total",index="Type 1",aggfunc='count').sort_values(
    by="Total",ascending=False)

          Total
Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [48]:
# Your code here:

pokemon_water = pokemon.loc[pokemon["Type 1"]=="Water"]
print("Water pokemons' mean is: ",pokemon_water["Total"].mean())
print("Water pokemons' std is: ",pokemon_water["Total"].std())

pokemon_not_water = pokemon.loc[pokemon["Type 1"]!="Water"]
print("Non-Water pokemons' mean is: ",pokemon_not_water["Total"].mean())
print("Non-Water pokemons' std is: ",pokemon_not_water["Total"].std())

Water pokemons' mean is:  430.45535714285717
Water pokemons' std is:  113.1882660643146
Non-Water pokemons' mean is:  435.85901162790697
Non-Water pokemons' std is:  121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [54]:
# Your code here:
'''
Ho => Mean power of water pokemons == Mean power of non-water pokemons
Ha => Mean power of water pokemons != Mean power of non-water pokemon
'''
test_statistics, p = ttest_ind(pokemon_water["Total"],pokemon_not_water["Total"],equal_var=True)
print('Test statistics is: ',test_statistics)
print('P value is: ',p)

Test statistics is:  -0.4418547448849676
P value is:  0.6587140317488793

Write your conclusion below.

In [55]:
# Your conclusions here:
'''
P-value is higher than 0.05, therefore we can not reject null hypothesis in this case. However,
we can also not say that we accept null hypothesis either. 

To conclude, there is no statistically significant difference between mean power of water pokemons vs
non-water pokemons.
'''

'\nP-value is higher than 0.05, therefore we can not reject null hypothesis in this case. However,\nwe can also not say that we accept null hypothesis either. \n\nTo conclude, there is no statistically significant difference between mean power of water pokemons vs\nnon-water pokemons.\n'

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [56]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [63]:
# Your code here:
pokemon_attack = pokemon["Attack"]
pokemon_defense = pokemon["Defense"]
test_statistics, p_value = ttest_rel(pokemon_attack,pokemon_defense)
print('Test statistics is: ',test_statistics)
print('P value is: ',p_value)

Test statistics is:  4.325566393330478
P value is:  1.7140303479358558e-05

Describe the results of the test in the cell below.

In [ ]:
'''
P-value is much lower than 0.05, therefore we are rejecting null hypothesis and accepting alternative
hypothesis. There is a significant difference between mean of ttack and mean of defense powers amongst
pokemons.
'''

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [65]:
# Your code here:
pokemon_sp_attack = pokemon["Sp. Atk"]
pokemon_sp_defense = pokemon["Sp. Def"]
test_statistics, p_value = ttest_rel(pokemon_sp_attack,pokemon_sp_defense)
print('Test statistics is: ',test_statistics)
print('P value is: ',p_value)

Test statistics is:  0.853986188453353
P value is:  0.3933685997548122

Describe the results of the test in the cell below.

In [ ]:
'''
Ho = mean of special atck power == mean of special def. power
Ha = mean of special atck power != mean of special def. power

Since p value is higher than 0.05, we can not reject null hypothesis and we can say that there is no
significant difference between mean of atck powers and mean of def. powers
'''

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [80]:
# Your code here:
pair_test = ttest_rel(pokemon_sp_attack,pokemon_sp_defense)

one_sample_test = (ttest_1samp(pokemon_sp_attack-pokemon_sp_defense,popmean=0))

pair_test == one_sample_test

True

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [97]:
# Your code here:
pokemon['Type'] = np.where(pokemon['Type 1']=='Water', 'Water', 'Non-Water')
cross_table = pd.crosstab(index=pokemon["Legendary"] , columns=pokemon["Type"])
cross_table

Type       Non-Water  Water
Legendary
False            627    108
True              61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [102]:
from scipy.stats import chi2_contingency
chi2,p,dof,expected = chi2_contingency(cross_table)
print('chi2 is: ',chi2)
print('P value is: ',p)
print('degree of freedom is: ',dof)
print('expected frequencies are: ',expected)

chi2 is:  2.9429200762850503
P value is:  0.08625467249550949
degree of freedom is:  1
expected frequencies are:  [[632.1 102.9]
 [ 55.9   9.1]]

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
'''
Since p-value is higher than 0.05 (where p 0.86) we can not reject the null hypothesis, therefore 
we can conclude that there is a significant relation between pokemon legendary vs. pokemon type(Water/
non-water)
'''