# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

Load the data from [here](https://drive.google.com/file/d/1CgaV3QwIw0vJEfANGX0pAjdwQ7mKqePd/view?usp=sharing) store them locally in the provided data folder and run the code below.

In [2]:
# Run this code to load the data

pokemon = pd.read_csv('..\data\pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:

pokemon.groupby('Legendary')['#'].count().reset_index()

   Legendary    #
0      False  735
1       True   65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:

pokemon.groupby('Legendary')['Total'].agg(['mean',np.std])

                 mean         std
Legendary
False      417.213605  106.760417
True       637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Your code here:
import scipy.stats as stats

stats.ttest_ind(pokemon.loc[pokemon['Legendary']==True]['Total'], pokemon.loc[pokemon['Legendary']==False]['Total'], equal_var = False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [7]:
# Your conclusions here:
print("""H0 = mean of total power from legendary pokemon is the same as non-legendary
H1 = mean of total power for legendary is not the same as legendary pokemon
    
Based on the p-value < 0.05 we reject that the mean of both types are the same.
    
The positive T-statistic indicates that the mean of legendary is larger then non-legendary pokemon.
""")

H0 = mean of total power from legendary pokemon is the same as non-legendary
H1 = mean of total power for legendary is not the same as legendary pokemon

Based on the p-value < 0.05 we reject that the mean of both types are the same.

The positive T-statistic indicates that the mean of legendary is larger then non-legendary pokemon.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [8]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [9]:
# Your code here:
water_pokemon = pokemon.loc[pokemon['Type 1']=='Water']['Total']
other_pokemon = pokemon.loc[(pokemon['Type 1']!='Water')]['Total']

result = stats.ttest_ind(water_pokemon,other_pokemon, equal_var = False)
result
#paolo:ok but notice you should assume equal variance
# as per question

Ttest_indResult(statistic=-0.4638681676327303, pvalue=0.6433915385821449)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [10]:
# Your code here:
print("""H0 = mean of total power for water pokemon is the same as other pokemon
H1 = mean of of total power for water pokemon is the different than other pokemon
    
Based on the p-value < 0.05 we reject that the mean of both types are the same.
    
The positive T-statistic indicates that the mean of legendary is larger then non-legendary pokemon.
""")

H0 = mean of total power for water pokemon is the same as other pokemon
H1 = mean of of total power for water pokemon is the different than other pokemon

Based on the p-value < 0.05 we reject that the mean of both types are the same.

The positive T-statistic indicates that the mean of legendary is larger then non-legendary pokemon.

In [11]:
#paolo: ok but t_stat is negative in this case

Write your conclusion below.

In [12]:
# Your conclusions here:
confidence = 0.05

if result[1] < confidence:
    print('We reject H0 the mean of total power for water pokemon is the same as other pokemon')
else:
    print('We cannot reject H0 that the mean of total power for water pokemon is the same as other pokemon')

We cannot reject H0 that the mean of total power for water pokemon is the same as other pokemon

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [13]:
# Your code here:
result2 = stats.ttest_rel(pokemon['Attack'],pokemon.Defense)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
confidence = 0.05

if result2[1] < confidence:
    print(result2)
    
    print('We reject H0 the mean of attack and the defense is equal')
else:
    print('We cannot reject H0 the mean of attack and the defense is equal')


if result2[0] > 0:
    print("""The T-static indicates that the mean of attack value is significantly higher than defense. 

Which might implicate that pokemon with a high attack value have lower defense""")
else:
    print('We cannot reject H0 the mean of attack and the defense is equal')

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)
We reject H0 the mean of attack and the defense is equal
The T-static indicates that the mean of attack value is significantly higher than defense.

Which might implicate that pokemon with a high attack value have lower defense

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [16]:
# Your code here:
result3 = stats.ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])
#paolo:better to print the results
result3

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [17]:
# Your conclusions here:
confidence = 0.05

if result3[1] < confidence:
    print(result2)
    
    print('We reject H0 that the mean of special attack and special defense value is equal')
else:
    print('We cannot reject H0 that the mean of special attack and special defense value is equal')


if result3[0] > 0 and result3[1] < confidence :
    print("""The T-static indicates that the mean of special attack is significantly higher than special defense value. 

Which might implicate that pokemon with a high attack value have lower defense""")
else:
    print('We cannot reject H0 the mean of special attack and defense value is equal')

We cannot reject H0 that the mean of special attack and special defense value is equal
We cannot reject H0 the mean of special attack and defense value is equal

In [18]:
#paolo: good work!

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [19]:
# Your code here:
if (stats.ttest_1samp((pokemon.Attack - pokemon.Defense),0) == stats.ttest_rel(pokemon['Attack'],pokemon.Defense)) == True:
    print('test results are the same')

test results are the same

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [20]:
# Your code here:
pokemon['water'] = np.where(pokemon['Type 1'] == 'Water' , 'Water' , 'Other' )


water = pokemon['water']

legends = pokemon['Legendary']

pd.crosstab(legends,water,rownames=['Legendary'],colnames=['Water'] )

Water      Other  Water
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [21]:
# Your code here:
g, p, dof, expctd = stats.chi2_contingency(pd.crosstab(legends,water,rownames=['Legendary'],colnames=['Water'] ))

Based on a 95% confidence, should we reject the null hypothesis?

In [24]:
# Your answer here:
if p < 0.05:
    print(result2)
    
    print('We reject H0 that there is no relation between Legendary and water type')
else:
    print('We connot reject H0 that there is no relation between Legendary and water type')

#paolo: better to print the results
p

We connot reject H0 that there is no relation between Legendary and water type

0.08625467249550949

In [25]:
#paolo: good worrk- in general better to print the results
# of the tests to check the values