# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel
from scipy.stats import ttest_1samp
from scipy.stats import chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:
pokemon.groupby('Legendary')['Total'].agg([np.mean, np.std])

                 mean         std
Legendary
False      417.213605  106.760417
True       637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Your code here:

# H0 - No Difference between the two sample means
# H1 - Difference between the two sample means

statistic, pvalue = ttest_ind(pokemon.Total[pokemon['Legendary'] == True], pokemon.Total[pokemon['Legendary'] == False], equal_var=False)
print("The statistic is",statistic,"and the p-value is",pvalue)

The statistic is 25.8335743895517 and the p-value is 9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

In [7]:
# Your conclusions here:

print("With the results above we can reject the null hypotesis")

With the results above we can reject the null hypotesis

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [8]:
# Your code here:
type_1 = pokemon['Type 1'].value_counts()
type_1

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ghost        32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [9]:
# Your code here:
water=pokemon[pokemon['Type 1']=='Water']
#print(water)
no_water=pokemon[pokemon['Type 1']!='Water']
#print(no_water)

print("Water pokemon mean and std: ", water['Total'].mean(), water['Total'].std())
print("No-water pokemon mean and std: ", no_water['Total'].mean(),no_water['Total'].std())

Water pokemon mean and std:  430.45535714285717 113.18826606431458
No-water pokemon mean and std:  435.85901162790697 121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [10]:
# Your code here:
# H0: No Difference between the two sample means
# H1: Difference between the two sample means

test_water=pokemon.Total[pokemon['Type 1'] == 'Water']
test_nowater=pokemon.Total[pokemon['Type 1'] != 'Water']

ttest_ind(test_water,test_nowater , equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [11]:
# Your conclusions here:
print("P Value is quite high so the null hypotesis is not rejected")

P Value is quite high so the null hypotesis is not rejected

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [12]:
# Your code here:
# H0 = No difference between Attack and Defense score
# H1 = Siginificant difference between Attack and Defense score

ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [13]:
# Your conclusions here:
print("P Value is quite low so we reject the null hypothesis.")

P Value is quite low so we reject the null hypothesis.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [14]:
# Your code here:
# H0 - No Difference between the avg score
# H1 - There is a difference between the avg score
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [15]:
# Your conclusions here:
print('Since p value is quite high we cannot reject the null hypotesis')

Since p value is quite high we cannot reject the null hypotesis

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [16]:
# Your code here:

pokemon['Difference']=pokemon['Attack']-pokemon['Defense']
    
stat, p = ttest_1samp(pokemon['Difference'],0)

print("The results (",stat,p,") are indeed the same")

The results ( 4.325566393330478 1.7140303479358558e-05 ) are indeed the same

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

cross=pd.crosstab(pokemon['Type 1']=='Water',pokemon['Legendary'])
cross

Legendary  False  True
Type 1
False        627     61
True         108      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:


#H0: There's no difference between the frequencies
#H1: There is difference between the frequencies

stat,p,dof,array=chi2_contingency(cross)
print("P-value is:",p)
print("Array result is:\n",array)

P-value is: 0.08625467249550949
Array result is:
 [[632.1  55.9]
 [102.9   9.1]]

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:

print("Since pvalue (",p,") is higher than alpha=0.05 we can't reject the null hypothesis")

Since pvalue ( 0.08625467249550949 ) is higher than alpha=0.05 we can't reject the null hypothesis