# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [7]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Load the data from [here](https://drive.google.com/file/d/1AmdvTSj5Fl86i4uHiOnZPFg8S8mAIreA/view?usp=sharing) and place it in the data folder

In [8]:
# Your code here:
df = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [9]:
# Your code here:
df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [10]:
# Your code here:
df.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [11]:
# Your code here:
df['Salary or Hourly'].value_counts()
print('The count of hourly employees is', df['Salary or Hourly'].value_counts()[1], 'versus', df['Salary or Hourly'].value_counts()[0], 'salaried employees.')

The count of hourly employees is 8022 versus 25161 salaried employees.

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [12]:
# Your code here:
df['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [13]:
# Your code here:
from scipy import stats
from scipy.stats import ttest_1samp
sample = df[df['Salary or Hourly'] == 'Hourly']
stats.ttest_1samp(sample['Hourly Rate'], 30)

#since p < 0.05 we reject the null hypothesis and conclude the average hourly wage is significantly different from 30$/hr

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [17]:
# Your code here:
sample_two = df[df['Salary or Hourly'] == 'Salary'] 
police = sample_two[sample_two['Department'] == 'POLICE']


# one-tailed, greater than 86000
m = 86000
t, p = stats.ttest_1samp(police['Annual Salary'],860000)
#paolo: be careful it is 86000 not 8600000 this change the result
alpha = 0.05
if (t > 0) & (p/2 < alpha):
    print("reject null hypothesis, mean is greater than {}", format(m))
else:
    print("accept null hypothesis")

reject null hypothesis, mean is greater than {} 86000

Using the `crosstab` function, find the department that has the most hourly workers.

In [19]:
# Your code here:
pd.crosstab(df['Department'], df['Salary or Hourly']).idxmax()[0]

'STREETS & SAN'

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [23]:
# Your code here:
sample_three = df[df['Salary or Hourly'] == 'Hourly']
street_and_san = sample_three[sample_three['Department'] == 'STREETS & SAN']
# one-tailed, less 35
m = 35
results = stats.ttest_1samp(street_and_san['Hourly Rate'], m)
#paolo: be careful! here you are not using results but 
# t and p from previous exercises so you get wrong result
alpha = 0.05
if (t < 0) & (p/2 < alpha):
    print("Reject the null hypothesis, The mean is less than", format(m))
else:
    print("Accept the null hypothesis")

Accept the null hypothesis

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [24]:
from scipy.stats import t
import matplotlib.pyplot as plt

# Your code here:
sample_four = df[df['Salary or Hourly'] == 'Hourly']
alpha = 0.95
dfreed = len(sample_four) - 1
mu = sample_four['Hourly Rate'].mean()
st = stats.sem(sample_four['Hourly Rate'])
interval = t.interval(alpha, dfreed, mu, st)
print("The 95% confidence interval for the hourly wage lies between", round(interval[0],3), "and", round(interval[1],3))

The 95% confidence interval for the hourly wage lies between 32.523 and 33.054

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [25]:
# Your code here:
alpha = 0.95
dfreed = len(police) - 1
mu = police['Annual Salary'].mean()
st = stats.sem(police['Annual Salary'])
interval = t.interval(alpha, dfreed, mu, st)
print("The 95% confidence interval for all salaried employees in the police lies between", round(interval[0],3), "and", round(interval[1],3))

The 95% confidence interval for all salaried employees in the police lies between 86177.056 and 86795.773

In [26]:
#paolo: good work!

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: