# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [40]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Load the data from [here](https://drive.google.com/file/d/1AmdvTSj5Fl86i4uHiOnZPFg8S8mAIreA/view?usp=sharing) and place it in the data folder

In [41]:
# Your code here:
employees = pd.read_csv('..\\data\\Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [42]:
# Your code here:
employees.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [43]:
# Your code here:
#employees.isnull().sum()
percentage_missing = employees.isnull().sum() * 100 / len(employees)
percentage_missing

Name                  0.000000
Job Titles            0.000000
Department            0.000000
Full or Part-Time     0.000000
Salary or Hourly      0.000000
Typical Hours        75.824971
Annual Salary        24.175029
Hourly Rate          75.824971
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [44]:
# Your code here:
hourly = employees.loc[employees['Salary or Hourly'] == 'Hourly']
salary = employees.loc[employees['Salary or Hourly'] == 'Salary']

print('The number of hourly employees is', len(hourly))
print('The number of salaried employees is', len(salary))

The number of hourly employees is 8022
The number of salaried employees is 25161

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [45]:
# Your code here:
pd.pivot_table(employees, values='Name', columns='Department', aggfunc='count').transpose()

                        Name
Department
ADMIN HEARNG              39
ANIMAL CONTRL             81
AVIATION                1629
BOARD OF ELECTION        107
BOARD OF ETHICS            8
BUDGET & MGMT             46
BUILDINGS                269
BUSINESS AFFAIRS         171
CITY CLERK                84
CITY COUNCIL             411
COMMUNITY DEVELOPMENT    207
COPA                     116
CULTURAL AFFAIRS          65
DISABILITIES              28
DoIT                      99
FAMILY & SUPPORT         615
FINANCE                  560
FIRE                    4641
GENERAL SERVICES         980
HEALTH                   488
HUMAN RELATIONS           16
HUMAN RESOURCES           79
INSPECTOR GEN             87
LAW                      407
LICENSE APPL COMM          1
MAYOR'S OFFICE            85
OEMC                    2102
POLICE                 13414
POLICE BOARD               2
PROCUREMENT               92
PUBLIC LIBRARY          1015
STREETS & SAN           2198
TRANSPORTN              1140
TREASURER                 22
WATER MGMNT             1879

In [46]:
#paolo: yes

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [47]:
# Your code here:
from scipy import stats
from scipy.stats import ttest_1samp
from scipy.stats import norm
from scipy.stats import t

#step 1: Specify the Alternative Hypothesis
#H1 != $30/hour

#step 2: Specify the Null Hypothesis
#H0 = $30/hour

#step 3: Set Critical Value
alpha = 0.05

#step 4: Compute the z-score
# Terms
hourly = hourly['Hourly Rate']
mu = 30
x_bar = hourly.mean()
sigma = hourly.std()
marg_error = sigma /len(hourly)
################
#paolo: be careful here-to get the marge of error you need to
# do sigma/np.sqrt(len(hourly))- so you get numerically the wrong value for z
####################

#z-score
z = (x_bar - mu) / marg_error
print('z-value =', z)

#step 5: Calculate the p-value
normal = norm(loc = mu, scale = sigma) 
alpha = 1 - alpha 
alpha = normal.ppf(alpha)
print('p-value = ',alpha)
#paolo: this is a good start but it is not correct-the z you calculate in previous step should be included in
# this step 5. Some pointers: The normal distribution you introduce should have mean zero and sigma=1. Then you calculate the area
# using the z you calculated and extract the p value. (I am not sure you are using the ppf function correctly, I would
# use the cdf)


#Paolo: you went the hard way calculating everything by hand and this helps you understand but you can use the builtin
# function to compare, check below

#step 6 and 7: Compare the p-value to alpha and reject or confirm the H0
#Reject H0 if the p-value for that hypothesis was smaller than critical value.
#z > alpha (1846 > 49) --> mean of $30/hour highly unlikely --> reject H0.

z-value = 1846.8256565383865
p-value =  10.076590888553952

In [19]:
#paolo t-test using builtinfunction
from scipy.stats import ttest_1samp
z_value, p_value = ttest_1samp(hourly, 30)
z_value,p_value
#paolo: so p value is minuscule

(20.6198057854942, 4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [21]:
# Your code here:

#step 1: Specify the Alternative Hypothesis
#H1 > $86000/year

#step 2: Specify the Null Hypothesis
#H0 = $86000/year

#step 3: Set Critical Value
alpha = 0.05/2

#step 4: Compute the z-score
# Terms
salary = salary['Annual Salary']
mu = 86000
x_bar = salary.mean()
sigma = salary.std()
marg_error = sigma / len(salary)

#z-score
z = (x_bar - mu) / marg_error
print('z-value =', z)

#step 5: Calculate the p-value
normal = norm(loc = mu, scale = sigma) 
alpha = 1 - alpha 
alpha = (normal.ppf(alpha))
print('p-value = ',alpha)

#step 6 and 7: Compare the p-value and reject or confirm the H0
#Reject H0 if the p-value for that hypothesis was smaller than z-value.
#z < p (941 < 127240) --> do not reject H0. This means that it is not likely
    #the mean of salaries is higher than 86000. So what the chief says if false.
    
#paolo: same comments as above

z-value = 941.0849298871037
p-value =  127240.29720512679

Using the `crosstab` function, find the department that has the most hourly workers.

In [22]:
# Your code here:
pd.crosstab(employees['Department'], employees['Salary or Hourly'])
#STREETS & SAN has the most hourly workers

Salary or Hourly       Hourly  Salary
Department
ADMIN HEARNG                0      39
ANIMAL CONTRL              19      62
AVIATION                 1082     547
BOARD OF ELECTION           0     107
BOARD OF ETHICS             0       8
BUDGET & MGMT               2      44
BUILDINGS                   0     269
BUSINESS AFFAIRS            7     164
CITY CLERK                  0      84
CITY COUNCIL               64     347
COMMUNITY DEVELOPMENT       4     203
COPA                        0     116
CULTURAL AFFAIRS            7      58
DISABILITIES                0      28
DoIT                        0      99
FAMILY & SUPPORT          287     328
FINANCE                    44     516
FIRE                        2    4639
GENERAL SERVICES          765     215
HEALTH                      3     485
HUMAN RELATIONS             0      16
HUMAN RESOURCES             4      75
INSPECTOR GEN               0      87
LAW                        40     367
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              8      77
OEMC                     1273     829
POLICE                     10   13404
POLICE BOARD                0       2
PROCUREMENT                 2      90
PUBLIC LIBRARY            299     716
STREETS & SAN            1862     336
TRANSPORTN                725     415
TREASURER                   0      22
WATER MGMNT              1513     366

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [23]:
# Your code here:
streets_san = employees.loc[employees['Department'] == 'STREETS & SAN']
streets_san = streets_san['Hourly Rate']

#step 1: Specify the Alternative Hypothesis
#H1 < $35/hour

#step 2: Specify the Null Hypothesis
#H0 = $35/hour

#step 3: Set Critical Value
alpha = 0.05

#step 4: Compute t score
# Terms
streets_san_mean = streets_san.mean()
mu = 35
sample_stdev = streets_san.std()
standard_error = sample_stdev / np.sqrt(len(streets_san))

t_value = (streets_san_mean - mu) / standard_error
print('t-value:', t_value)

#step 5: calculate the p-value
from scipy.stats import t

df = len(streets_san) - 1
alpha = 1 - alpha
alpha = t.ppf(alpha, df)
print('p-value', alpha)

#step 6 and 7: Compare the p-value and reject or confirm the H0
#t<p, thus confirm nul hypothesis. So the hourly wage is not lower than $35/h.
#paolo: numerical result are not correct
# try to compare using builtin functions- I refer you to solution

t-value: -10.394895102170404
p-value 1.6455474893909683

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [24]:
from scipy import stats
from scipy.stats import ttest_1samp
from scipy.stats import norm
from scipy.stats import t

# Your code here:
#95% confidence interval for mean hourly wage for hourly workers

#extract al hourly employees + only column with wage information
hourly = employees.loc[employees['Salary or Hourly'] == 'Hourly']
hourly = hourly['Hourly Rate']

#given:
conf_lvl = 0.95
df = len(hourly) - 1
mean_sample = hourly.mean()
standard_error = stats.sem(hourly)

#interval 
t = stats.t.interval(conf_lvl, df)[1]

#confidence interval
con_int = [mean_sample - (t * standard_error) , mean_sample + (t * standard_error)]

#round 2 decimals
con_int = [round(num, 2) for num in con_int]

print('With', conf_lvl*100, '% confidence, the true mean of the hourly wage of hourly workers, lies in the inverval:', con_int)
#paolo: yes

With 95.0 % confidence, the true mean of the hourly wage of hourly workers, lies in the inverval: [32.52, 33.05]

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [26]:
# Your code here:
#95% confidence interval for mean wage for salaried workers in the police

#extract al salaried police employees + only column with salary information
police = employees.loc[(employees['Department'] == 'POLICE') & 
                       (employees['Salary or Hourly'] == 'Salary')]
police_salary = police['Annual Salary']

#given:
conf_lvl = 0.95
df = len(police_salary) - 1
mean_sample = police_salary.mean()
standard_error = stats.sem(police_salary)

#interval 
t = stats.t.interval(conf_lvl, df)[1]

#confidence interval
con_int = [mean_sample - (t * standard_error) , mean_sample + (t * standard_error)]

#round 2 decimals
con_int = [round(num, 2) for num in con_int]

print('With', conf_lvl*100, '% confidence, the true mean of the annual salary of police workers, lies in the inverval:', con_int)
#paolo: yes

With 95.0 % confidence, the true mean of the annual salary of police workers, lies in the inverval: [86177.06, 86795.77]

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [27]:
# Your code here:

#number of hourly workers in the dataset
hourly = employees.loc[employees['Salary or Hourly'] == 'Hourly']
number_hourly = len(hourly)
sample_size = len(employees)
proportion = number_hourly / sample_size

#step 1: Specify the Alternative Hypothesis
#H1: p != 25

#step 2: Specify the Null Hypothesis
#H0: p = 25

#step 3: Set Critical Value
conf_lvl = 0.95

#step 4: Compute z score
# Terms
z = stats.norm.interval(conf_lvl)[1]
print('z-value:',z) 

#step 5: calculate the p-value
from statsmodels.stats.proportion import proportions_ztest

nobs = sample_size #number of rows in dataframe
counts = number_hourly #number of succesful trials (= hourly workers)
value = 25 #proportion to test ageainst

stat, pval = proportions_ztest(counts, nobs, value)
print('p-value:','{0:0.3f}'.format(pval))

#step 6: Compare the z-score and p-value
#z > p (p < z)

#step 6: Conform or reject H0 (reject if p > z)
#Confirm H0:
print('with', conf_lvl*100, '% certainty, the number of hourly workers in the City of Chicago is not significantly different from 25%.')

z-value: 1.959963984540054
p-value: 0.000
with 95.0 % certainty, the number of hourly workers in the City of Chicago is not significantly different from 25%.

In [28]:
#paolo: good start but not correct I refer you to the solution