# Lab | Pandas Deep-Dive

### 1. Import Pandas package under the alias pd and Numpy under the alias np

In [1]:
import pandas as pd
import numpy as np

### 2. Define a variable called `path` that contains the path to the data.
The data file (csv format) can be downloaded from [here](https://drive.google.com/file/d/1ewpycYrGUAjuB79QJlyS2OT_ZahcC_eF/view?usp=sharing). Place the file in the provided data folder and use a relative paths to access it

In [2]:
pd.read_csv('../data/apple_store.csv')

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference
...,...,...,...,...,...,...,...,...,...
7192,1187617475,Kubik,126644224,0.00,142,75,4.5,4.5,Games
7193,1187682390,VR Roller-Coaster,120760320,0.00,30,30,4.5,4.5,Games
7194,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,1.99,15,0,4.5,0.0,Utilities
7195,1187838770,VR Roller Coaster World - Virtual Reality,97235968,0.00,85,32,4.5,4.5,Games
7196,1188375727,Escape the Sweet Shop Series,90898432,0.00,3,3,5.0,5.0,Games

### 3. Using the Pandas `read_csv()` method, import the csv file at the path above. 

Assign the returned value to a variable called `data`.

Note: you can omit the `sep` parameter for `read_csv()` because the csv file uses the default separator of ",".

In [3]:
data = pd.read_csv('../data/apple_store.csv')

### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [4]:
data.head(5)

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference

### 5. Print the summary (info) of the data.

In [5]:
data.info()#paolo yes, good way to summarize

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7197 entries, 0 to 7196
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                7197 non-null   int64
 1   track_name        7197 non-null   object
 2   size_bytes        7197 non-null   int64
 3   price             7197 non-null   float64
 4   rating_count_tot  7197 non-null   int64
 5   rating_count_ver  7197 non-null   int64
 6   user_rating       7197 non-null   float64
 7   user_rating_ver   7197 non-null   float64
 8   prime_genre       7197 non-null   object
dtypes: float64(3), int64(4), object(2)
memory usage: 506.2+ KB

### 6. Print the number of columns in the data.

In [6]:
print(len(data.columns))

9

### 7. Print all column names.

In [7]:
for col in data.columns:
    print(col)

id
track_name
size_bytes
price
rating_count_tot
rating_count_ver
user_rating
user_rating_ver
prime_genre

In [22]:
#paolo: yes, also simply data.columns would do it
data.columns

Index(['id', 'track_name', 'size_bytes', 'price', 'rating_count_tot',
       'rating_count_ver', 'user_rating', 'user_rating_ver', 'prime_genre'],
      dtype='object')

## Now that we have a general understanding of the data, we'll start working on the challenge questions.

### 8. How many apps are there in the data source? 

Print the # of observations of the data.

*Hint: Your code should return the number 7197.*

In [8]:
data['track_name'].size

7197

In [24]:
#paolo: yes, using shape gives you as extra info the number of columns
data.shape

(7197, 9)

### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [25]:
user_rating = data['user_rating']

Now you can calculate the average of the `user_rating` data.

Your code should return 3.526955675976101

In [26]:
data['user_rating'].mean()

3.526955675976101

### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [11]:
user_rating_high = data.loc[data['user_rating']>=4]
user_rating_high
#paolo: yes, as other approach you could have worked by 
# starting from the series user_rating
# that is already made

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference
5,283619399,Shanghai Mahjong,10485713,0.99,8253,5516,4.0,4.0,Games
...,...,...,...,...,...,...,...,...,...
7192,1187617475,Kubik,126644224,0.00,142,75,4.5,4.5,Games
7193,1187682390,VR Roller-Coaster,120760320,0.00,30,30,4.5,4.5,Games
7194,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,1.99,15,0,4.5,0.0,Utilities
7195,1187838770,VR Roller Coaster World - Virtual Reality,97235968,0.00,85,32,4.5,4.5,Games
7196,1188375727,Escape the Sweet Shop Series,90898432,0.00,3,3,5.0,5.0,Games

Now obtain the length of `user_rating_high` which should return 4781.

In [12]:
print(len(user_rating_high))

4781

### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [13]:
genre = data.prime_genre.unique()
genre

array(['Games', 'Productivity', 'Weather', 'Shopping', 'Reference',
       'Finance', 'Music', 'Utilities', 'Travel', 'Social Networking',
       'Sports', 'Business', 'Health & Fitness', 'Entertainment',
       'Photo & Video', 'Navigation', 'Education', 'Lifestyle',
       'Food & Drink', 'News', 'Book', 'Medical', 'Catalogs'],
      dtype=object)

Print the length of the unique values of `genres`. Your code should return 23.

In [14]:
print(len(genre))

23

### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [15]:
#To count the no.of occurences of unique values in a column use "value_counts"
data['prime_genre'].value_counts().head(3)
tot_genre = data['prime_genre'].value_counts()
tot_genre

Games                3862
Entertainment         535
Education             453
Photo & Video         349
Utilities             248
Health & Fitness      180
Productivity          178
Social Networking     167
Lifestyle             144
Music                 138
Shopping              122
Sports                114
Book                  112
Finance               104
Travel                 81
News                   75
Weather                72
Reference              64
Food & Drink           63
Business               57
Navigation             46
Medical                23
Catalogs               10
Name: prime_genre, dtype: int64

### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [16]:
free_apps = data.loc[data['price']==0]
free_apps.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4056 entries, 1 to 7196
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                4056 non-null   int64
 1   track_name        4056 non-null   object
 2   size_bytes        4056 non-null   int64
 3   price             4056 non-null   float64
 4   rating_count_tot  4056 non-null   int64
 5   rating_count_ver  4056 non-null   int64
 6   user_rating       4056 non-null   float64
 7   user_rating_ver   4056 non-null   float64
 8   prime_genre       4056 non-null   object
dtypes: float64(3), int64(4), object(2)
memory usage: 316.9+ KB

In [17]:
#These are the genres having free apps.
free_apps_count = free_apps['prime_genre'].value_counts()
free_apps_count
#paolo:yes

Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64

### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [18]:
print((((free_apps['prime_genre'].value_counts()/data['prime_genre'].value_counts())).sort_values(ascending=False)))
#paolo:yes

Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64

### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [32]:
app_data_mean = data[['prime_genre','price']].groupby('prime_genre').mean().sort_values(by = ['price'],ascending = False)
app_data_count = data[['prime_genre','price']].groupby(['prime_genre'])['price'].count()

app_data_mean
#paolo: yes, instead of just 'price' you could write 'mean_price' so that it is
# clear how you manipulated the data

                      price
prime_genre
Medical            8.776087
Business           5.116316
Reference          4.836875
Music              4.835435
Productivity       4.330562
Navigation         4.124783
Education          4.028234
Health & Fitness   1.916444
Book               1.790536
Utilities          1.647621
Weather            1.605417
Food & Drink       1.552381
Photo & Video      1.473295
Games              1.432923
Travel             1.120370
Sports             0.953070
Entertainment      0.889701
Lifestyle          0.885417
Catalogs           0.799000
News               0.517733
Finance            0.421154
Social Networking  0.339880
Shopping           0.016311

In [20]:
app_data_count

prime_genre
Book                  112
Business               57
Catalogs               10
Education             453
Entertainment         535
Finance               104
Food & Drink           63
Games                3862
Health & Fitness      180
Lifestyle             144
Medical                23
Music                 138
Navigation             46
News                   75
Photo & Video         349
Productivity          178
Reference              64
Shopping              122
Social Networking     167
Sports                114
Travel                 81
Utilities             248
Weather                72
Name: price, dtype: int64

In [21]:
merge_df = pd.merge(left=app_data_mean, right=app_data_count,on="prime_genre").sort_values(by = ['price_x'],ascending = False)

merge_df.rename(columns={'price_x':'average_price',
                          'price_y':'no.of apps'
                          }, 
                 inplace=True)
merge_df

#Developers can choose the Medical genre based apps for development and sale.
# But I'm getting wrong with the third column when compared to the desired output. Paulo , please help.
#paolo: Archana, I think your analysis is correct, the third column on the expected output
# I don't think it refers to the number of apps, but it is just a label, see below

                   average_price  no.of apps
prime_genre
Medical                 8.776087          23
Business                5.116316          57
Reference               4.836875          64
Music                   4.835435         138
Productivity            4.330562         178
Navigation              4.124783          46
Education               4.028234         453
Health & Fitness        1.916444         180
Book                    1.790536         112
Utilities               1.647621         248
Weather                 1.605417          72
Food & Drink            1.552381          63
Photo & Video           1.473295         349
Games                   1.432923        3862
Travel                  1.120370          81
Sports                  0.953070         114
Entertainment           0.889701         535
Lifestyle               0.885417         144
Catalogs                0.799000          10
News                    0.517733          75
Finance                 0.421154         104
Social Networking       0.339880         167
Shopping                0.016311         122

In [37]:
#paolo: if you use as_index=False you will see a numbered label as index which corresponds to 
# an ordering but not to the number of apps.
# This ordering that I obtain here below differs from the expected output and I don't know why but it is not a relevant number
# does not correspond to the number of apps, see below for another option
app_data_mean = data[['prime_genre','price']].groupby('prime_genre', as_index= False).mean().sort_values(by = ['price'],ascending = False)
app_data_mean.head(2)

   prime_genre     price
10     Medical  8.776087
1     Business  5.116316

In [83]:
#paolo: another way to obtain the same result as you do but in oneline

In [82]:
app_data_summary = data[['prime_genre','price']]\
.groupby('prime_genre', as_index=True).agg( ['mean','count'])\
.sort_values([('price','mean')],ascending=False)
app_data_summary

                      price
                       mean count
prime_genre
Medical            8.776087    23
Business           5.116316    57
Reference          4.836875    64
Music              4.835435   138
Productivity       4.330562   178
Navigation         4.124783    46
Education          4.028234   453
Health & Fitness   1.916444   180
Book               1.790536   112
Utilities          1.647621   248
Weather            1.605417    72
Food & Drink       1.552381    63
Photo & Video      1.473295   349
Games              1.432923  3862
Travel             1.120370    81
Sports             0.953070   114
Entertainment      0.889701   535
Lifestyle          0.885417   144
Catalogs           0.799000    10
News               0.517733    75
Finance            0.421154   104
Social Networking  0.339880   167
Shopping           0.016311   122

In [84]:
#paolo: great lab