# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](https://requests.readthedocs.io/en/master/user/quickstart/)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
# your code here 
soup = BeautifulSoup(requests.get(url).text,'html.parser')

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [4]:
# your code here
tables = soup.find_all('h1', attrs={'class':'h3 lh-condensed'})

lst = [table.text.replace('\n','').strip() for table in tables]
print(lst)

['Vinayak Mehta', 'Sebastián Ramírez', 'Michiel Borkent', 'Jinzhu', 'Stephan Dilly', 'Sébastien Lorber', 'Henrik Rydgård', 'Ayke', 'Jacob Hoffman-Andrews', 'Sindre Sorhus', 'Arvid Norberg', 'Paulus Schoutsen', 'Eddie Jaoude', 'Stefan Prodan', 'Francois Zaninotto', 'Raúl Gómez Acuña', 'Sergey Kamardin', 'hackerman', 'Jason Miller', 'Samuel Reed', 'Barry vd. Heuvel', 'Dominik Moritz', 'martinRenou', 'Diego Muracciole', 'Stephen Celis']

## Bonus Challenges

Below, you'll find a number of bonus challenges. Feel free to do as many as you look. These challenges are useful if you want to bolster your web scraping skills, but are not a requirement.

#### Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [5]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [6]:
# your code here
soup = BeautifulSoup(requests.get(url).text,'html.parser')
tables = soup.find_all('h1', attrs={'class':'h3 lh-condensed'})

lst2 = [table.text.split('/')[1].replace('\n','').strip() for table in tables]
print(lst2)

['present', 'Python', 'NeMo', '12306', 'jax', 'yolov5', 'Osintgram', 'handcalcs', 'Dango-Translator', 'learn-python', 'python-patterns', 'Hands-On-Artificial-Intelligence-for-Banking', 'hummingbot', 'howdy', 'Userge', 'mmdetection', 'Top2Vec', 'malwoverview', 'dagster', 'MONAI', 'nni', 'incubator-superset', 'pyinstaller', 'awesome-python', 'Pytorch-UNet']

#### Display all the image links from Walt Disney wikipedia page.

In [7]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'
import urllib3
import re

In [8]:
# your code here
soup = BeautifulSoup(requests.get(url).text,'html.parser')
tables = soup.find_all('a', attrs={'class':'image'})
lst3 = [table.find('img')['src'] for table in tables]
print(lst3)

['//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG', '//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/7/71/Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg/170px-Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg', '//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG', '//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Disney_Display_Case.JPG/170px-Disney_Display_Case.JPG', '//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/4/44/The_Walt_Disney_Company_Logo.svg/120px-The_Walt_Disney_Company_Logo.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/30px-Animation_disc.svg.png', '//upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/29px-P_vip.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/24px-Magic_Kingdom_castle.jpg', '//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/30px-Video-x-generic.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/30px-Flag_of_Los_Angeles_County%2C_California.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/30px-Blank_television_set.svg.png', '//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/30px-Flag_of_the_United_States.svg.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page.

In [9]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [10]:
# your code here
soup = BeautifulSoup(requests.get(url).text,'html.parser').find('body').find_all('div',attrs={'class':'mw-parser-output'})
links = BeautifulSoup(str(BeautifulSoup(str(soup),'html.parser').find_all('li')),'html.parser').find_all('a', attrs={'href':re.compile("/wiki/")})
lst = [link['href'] for link in links]
print(lst)

['/wiki/Pythonidae', '/wiki/Python_(genus)', '/wiki/Python_(genus)', '/wiki/Python_(mythology)', '/wiki/Python_of_Aenus', '/wiki/Python_(painter)', '/wiki/Python_of_Byzantium', '/wiki/Python_of_Catana', '/wiki/Python_(film)', '/wiki/Pythons_2', '/wiki/Pythons_2', '/wiki/Monty_Python', '/wiki/Python_(Monty)_Pictures', '/wiki/Python_(Monty)_Pictures', '/wiki/Python_(programming_language)', '/wiki/CPython', '/wiki/CPython', '/wiki/CMU_Common_Lisp', '/wiki/PERQ#PERQ_3', '/wiki/Python_(Busch_Gardens_Tampa_Bay)', '/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)', '/wiki/Python_(Efteling)', '/wiki/Python_(automobile_maker)', '/wiki/Python_(Ford_prototype)', '/wiki/Colt_Python', '/wiki/Python_(missile)', '/wiki/Python_(nuclear_primary)', '/wiki/Python_Anghelo', '/wiki/PYTHON', '/wiki/Cython', '/wiki/Pyton']

#### Find the number of titles that have changed in the United States Code since its last release point.

In [11]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [12]:
# your code here
soup = BeautifulSoup(requests.get(url).text,'html.parser')
lst6 = [title.text.replace('\n','').strip() for title in soup.find_all('div', attrs={'class':'usctitlechanged'})]
lst6

['Title 34 - Crime Control and Law Enforcement',
 'Title 42 - The Public Health and Welfare',
 'Title 50 - War and National Defense']

#### Find a Python list with the top ten FBI's Most Wanted names.

In [13]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [14]:
# your code here
soup = BeautifulSoup(requests.get(url).text,'html.parser')
lst7 = [name.text.replace('\n','') for name in soup.find_all('h3', attrs={'class':'title'})]
lst7

['JASON DEREK BROWN',
 'YASER ABDEL SAID',
 'ALEXIS FLORES',
 'EUGENE PALMER',
 'RAFAEL CARO-QUINTERO',
 'ROBERT WILLIAM FISHER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'SANTIAGO VILLALBA MEDEROS']

####  Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.

In [15]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [16]:
# your code here
rows = BeautifulSoup(requests.get(url).text,'html.parser').find('tbody').find_all('tr')
df = pd.DataFrame()

for row in rows[:20]:
    cells = row.find_all('td')
    d = {'date' : cells[3].find('a').text.split('\xa0\xa0\xa0')[0],
    'time' : cells[3].find('a').text.split('\xa0\xa0\xa0')[1],
    'latitude' : cells[4].text.replace('\xa0',''),
    'longitude' : cells[6].text.replace('\xa0',''),
    'region name' : cells[11].text.replace('\xa0',''),}
    
    df = df.append(d,ignore_index=True)
    
df.head(20)

,date,latitude,longitude,region name,time
0,2020-09-01,38.44,39.24,EASTERN TURKEY,18:21:05.0
1,2020-09-01,39.47,26.22,NEAR THE COAST OF WESTERN TURKEY,18:20:39.6
2,2020-09-01,27.89,71.13,"OFFSHORE ATACAMA, CHILE",18:10:31.0
3,2020-09-01,36.42,136.72,"NEAR WEST COAST OF HONSHU, JAPAN",17:49:57.7
4,2020-09-01,23.91,67.30,"SALTA, ARGENTINA",17:45:21.0
5,2020-09-01,17.93,66.95,PUERTO RICO REGION,17:41:37.8
6,2020-09-01,38.49,26.80,NEAR THE COAST OF WESTERN TURKEY,17:35:03.4
7,2020-09-01,19.41,155.29,"ISLAND OF HAWAII, HAWAII",17:27:14.2
8,2020-09-01,23.44,179.86,SOUTH OF FIJI ISLANDS,17:25:31.9
9,2020-09-01,27.95,71.41,"OFFSHORE ATACAMA, CHILE",17:17:56.0
10,2020-09-01,27.88,71.36,"OFFSHORE ATACAMA, CHILE",17:13:20.2
11,2020-09-01,43.65,25.71,BULGARIA,17:12:33.4
12,2020-09-01,38.24,117.68,NEVADA,16:56:22.3
13,2020-09-01,28.09,71.23,"OFFSHORE ATACAMA, CHILE",16:48:10.0
14,2020-09-01,27.98,71.32,"OFFSHORE ATACAMA, CHILE",16:09:58.0
15,2020-09-01,21.17,69.81,"TARAPACA, CHILE",15:51:05.0
16,2020-09-01,27.98,71.36,"OFFSHORE ATACAMA, CHILE",15:29:01.0
17,2020-09-01,21.41,70.44,"OFFSHORE ANTOFAGASTA, CHILE",15:19:35.0
18,2020-09-01,28.08,71.36,"OFFSHORE ATACAMA, CHILE",15:16:13.0
19,2020-09-01,27.94,71.41,"OFFSHORE ATACAMA, CHILE",14:56:45.0

#### Count the number of tweets by a given Twitter account.
Ask the user for the handle (@handle) of a twitter account. You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account.

In [17]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/jeroenvdgulik/followers'

In [18]:
# your code here

#### Number of followers of a given twitter account
Ask the user for the handle (@handle) of a twitter account. You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the followers for any provided account.

In [19]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [20]:
# your code here

#### List all language names and number of related articles in the order they appear in wikipedia.org.

In [37]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [38]:
# your code here
soup = BeautifulSoup(requests.get(url).text,'html.parser')
df = pd.DataFrame()
for row in soup.find_all('div', attrs={'dir':'ltr'}):
    d = {'Language' : row.find('strong').text,
         'Articles' : row.find('bdi').text,
        }
    df = df.append(d,ignore_index=True)
df
### Is there way to return normal signs?
#paolo: ok, check below

     Articles        Language
0  6 146 000+         English
1  1 224 000+       æ¥æ¬èª
2  1 620 000+        EspaÃ±ol
3  2 472 000+         Deutsch
4  2 244 000+       FranÃ§ais
5  1 654 000+  Ð ÑÑÑÐºÐ¸Ð¹
6  1 630 000+        Italiano
7  1 140 000+          ä¸­æ
8  1 042 000+      PortuguÃªs
9  1 424 000+          Polski

In [39]:
#paolo: an alternative could be 
html = requests.get(url).content
bs = BeautifulSoup(html, "html.parser")
nameList = bs.findAll('a', {'class' : 'link-box'})
for name in nameList:
    print(name.get_text())

English
6 146 000+ articles


日本語
1 224 000+ 記事


Español
1 620 000+ artículos


Deutsch
2 472 000+ Artikel


Français
2 244 000+ articles


Русский
1 654 000+ статей


Italiano
1 630 000+ voci


中文
1 140 000+ 條目


Português
1 042 000+ artigos


Polski
1 424 000+ haseł

#### A list with the different kind of datasets available in data.gov.uk.

In [23]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [24]:
# your code here
soup = BeautifulSoup(requests.get(url).text,'html.parser').select('h3')
lst =  [i.text for i in soup]
print(lst)

['Business and economy', 'Crime and justice', 'Defence', 'Education', 'Environment', 'Government', 'Government spending', 'Health', 'Mapping', 'Society', 'Towns and cities', 'Transport']

#### Display the top 10 languages by number of native speakers stored in a pandas dataframe.

In [25]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [26]:
# your code here
lst = [x.find('a').text for x in BeautifulSoup(requests.get(url).text,'html.parser').find('tbody').find_all('tr')[1:11]]
lst

['Mandarin Chinese',
 'Spanish',
 'English',
 'Hindi',
 'Bengali',
 'Portuguese',
 'Russian',
 'Japanese',
 'Western Punjabi',
 'Marathi']

#### Scrape a certain number of tweets of a given Twitter account.

In [27]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [28]:
# your code here

#### Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.

In [29]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [30]:
# your code here
titles = BeautifulSoup(requests.get(url).text,'html.parser').find('tbody').find_all('tr')

df = pd.DataFrame()
for title in titles:
    columns = title.find_all('td')
    d = {'Director' : columns[1].find('a')['title'].split(',')[0].replace('(dir.)',''),
         'Title'    : columns[1].find('a').text.replace('\n','').lstrip(),
         'Year'     : re.sub(r'[()]','',str(columns[1].find('span').get_text())),
         'Rating'   : float(columns[2].find('strong').get_text()),}
    df = df.append(d,ignore_index=True)     
         
df.head(5)

                Director  Rating                  Title  Year
0        Frank Darabont      9.2   Le ali della libertà  1994
1  Francis Ford Coppola      9.1             Il padrino  1972
2  Francis Ford Coppola      9.0  Il padrino - Parte II  1974
3     Christopher Nolan      9.0    Il cavaliere oscuro  2008
4          Sidney Lumet      8.9   La parola ai giurati  1957

#### Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [31]:
#This is the url you will scrape in this exercise
# url = 'http://www.imdb.com/chart/top' #

url = 'https://www.imdb.com/list/ls069248468/'
soup = BeautifulSoup(requests.get(url).text,'html.parser').find('body')

titles = soup.find_all('div',attrs={'class':'lister-item-content'})

df = pd.DataFrame()

for title in titles[:10]:
    d = {'title': title.select('h3 a')[0].text,
        'year' :  re.sub(r'[()]','',title.select('h3 span')[1].text),
        'summary' : title.select('p')[1].get_text().replace('\n','').strip(),
        }
    df = df.append(d,ignore_index=True)

df

,summary,title,year
0,In order to get out of the snobby clique that ...,Schegge di follia,1989
1,"In 1980 Miami, a determined Cuban immigrant ta...",Scarface,1983
2,An unconventional single mother relocates with...,Sirene,1990
3,A committed dancer struggles to maintain her s...,Il cigno nero,2010
4,"In the dead of a Wyoming winter, a bounty hunt...",The Hateful Eight,2015
5,"With the help of a German bounty hunter, a fre...",Django Unchained,2012
6,"In Nazi-occupied France during World War II, a...",Bastardi senza gloria,2009
7,Two separate sets of voluptuous women are stal...,Grindhouse - A prova di morte,2007
8,"After awakening from a four-year coma, a forme...",Kill Bill - Volume 1,2003
9,Four interlocking tales that take place in a f...,Four Rooms,1995

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [32]:
#https://openweathermap.org/current
# city = input('Enter the city: ')
# url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [33]:
def get_weather():
    df = pd.DataFrame()
    city = input('Enter the city: ')
    url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'
    response = requests.get(url).json()
    d = {'Wind':list(response['wind'].values())[0],
         list(response['weather'][0].keys())[1]: list(response['weather'][0].values())[1],
         list(response['weather'][0].keys())[2]: list(response['weather'][0].values())[2],
         list(response['main'].keys())[0]:list(response['main'].values())[0],
         }
    df = df.append(d,ignore_index=True)
    return df.T

get_weather()

Enter the city:  rome

                         0
Wind                   1.5
description  broken clouds
main                Clouds
temp                 30.63

#### Find the book name, price and stock availability as a pandas dataframe.

In [34]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'
books = BeautifulSoup(requests.get(url).text,'html.parser').find('body').find_all('article')

df = pd.DataFrame()
for book in books:
    d = {'title' : book.find('h3').find('a')['title'],
        'in_stock' :  book.find_all('p')[2].get_text().replace('\n','').strip(),
        'price' :  book.find_all('p')[1].text.replace('Â','')}
    df = df.append(d,ignore_index=True)
df

    in_stock   price                                              title
0   In stock  £51.77                               A Light in the Attic
1   In stock  £53.74                                 Tipping the Velvet
2   In stock  £50.10                                         Soumission
3   In stock  £47.82                                      Sharp Objects
4   In stock  £54.23              Sapiens: A Brief History of Humankind
5   In stock  £22.65                                    The Requiem Red
6   In stock  £33.34  The Dirty Little Secrets of Getting Your Dream...
7   In stock  £17.93  The Coming Woman: A Novel Based on the Life of...
8   In stock  £22.60  The Boys in the Boat: Nine Americans and Their...
9   In stock  £52.15                                    The Black Maria
10  In stock  £13.99     Starving Hearts (Triangular Trade Trilogy, #1)
11  In stock  £20.66                              Shakespeare's Sonnets
12  In stock  £17.46                                        Set Me Free
13  In stock  £52.29  Scott Pilgrim's Precious Little Life (Scott Pi...
14  In stock  £35.02                          Rip it Up and Start Again
15  In stock  £57.25  Our Band Could Be Your Life: Scenes from the A...
16  In stock  £23.88                                               Olio
17  In stock  £37.59  Mesaerion: The Best Science Fiction Stories 18...
18  In stock  £51.33                       Libertarianism for Beginners
19  In stock  £45.17                            It's Only the Himalayas

In [40]:
#paolo: yes, with also the bonus challenges!