# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. 
Check the connection details here [here](https://relational.fit.cvut.cz/dataset/Stats)

In [3]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')

#### 4. Import the users table.

In [4]:
users = pd.read_sql_query('SELECT * FROM users', engine)
print(users.head())

#[Tjerk]: hey pingpong master.
# mooie print eromheen, dan werkt het ook als je een python file maakt
# zolang je in jupyter notebook/lab werkt kun je de print wel achterwege laten
# je krijgt vaak dan zelfs een mooiere print, probeer even het verschil.

KeyboardInterrupt:

In [ ]:
users.head()

#### 5. Rename Id column to userId.

In [12]:
users_new = users.rename(columns = {'Id' : 'userId'})
print(users_new.head())

#[Tjerk]: yes!

   userId  Reputation        CreationDate   DisplayName      LastAccessDate  \
0      -1           1 2010-07-19 06:55:26     Community 2010-07-19 06:55:26
1       2         101 2010-07-19 14:01:36  Geoff Dalgas 2013-11-12 22:07:23
2       3         101 2010-07-19 15:34:50  Jarrod Dixon 2014-08-08 06:42:58
3       4         101 2010-07-19 19:03:27        Emmett 2014-01-02 09:31:02
4       5        6792 2010-07-19 19:03:57         Shane 2014-08-13 00:23:47

                       WebsiteUrl            Location  \
0  http://meta.stackexchange.com/  on the server farm
1        http://stackoverflow.com       Corvallis, OR
2        http://stackoverflow.com        New York, NY
3    http://minesweeperonline.com   San Francisco, CA
4         http://www.statalgo.com        New York, NY

                                             AboutMe  Views  UpVotes  \
0  <p>Hi, I'm not really a person.</p>\n\n<p>I'm ...      0     5007
1  <p>Developer on the StackOverflow team.  Find ...     25        3
2  <p><a href="http://blog.stackoverflow.com/2009...     22       19
3  <p>currently at a startup in SF</p>\n\n<p>form...     11        0
4  <p>Quantitative researcher focusing on statist...   1145      662

   DownVotes  AccountId   Age                     ProfileImageUrl
0       1920         -1   NaN                                None
1          0          2  37.0                                None
2          0          3  35.0                                None
3          0       1998  28.0  http://i.stack.imgur.com/d1oHX.jpg
4          5      54503  35.0                                None

#### 6. Import the posts table.

In [8]:
posts = pd.read_sql_query('SELECT * FROM posts', engine)
print(posts.head())

   Id  PostTypeId  AcceptedAnswerId         CreaionDate  Score  ViewCount  \
0   1           1              15.0 2010-07-19 19:12:12     23     1278.0
1   2           1              59.0 2010-07-19 19:12:57     22     8198.0
2   3           1               5.0 2010-07-19 19:13:28     54     3613.0
3   4           1             135.0 2010-07-19 19:13:31     13     5224.0
4   5           2               NaN 2010-07-19 19:14:43     81        NaN

                                                Body  OwnerUserId  \
0  <p>How should I elicit prior distributions fro...          8.0
1  <p>In many different statistical methods there...         24.0
2  <p>What are some valuable Statistical Analysis...         18.0
3  <p>I have two groups of data.  Each with a dif...         23.0
4  <p>The R-project</p>\n\n<p><a href="http://www...         23.0

      LasActivityDate                                              Title  ...  \
0 2010-09-15 21:08:26                      Eliciting priors from experts  ...
1 2012-11-12 09:21:54                                 What is normality?  ...
2 2013-05-27 14:48:36  What are some valuable Statistical Analysis op...  ...
3 2010-09-08 03:00:19  Assessing the significance of differences in d...  ...
4 2010-07-19 19:21:15                                               None  ...

  AnswerCount  CommentCount  FavoriteCount  LastEditorUserId  \
0         5.0             1           14.0               NaN
1         7.0             1            8.0              88.0
2        19.0             4           36.0             183.0
3         5.0             2            2.0               NaN
4         NaN             3            NaN              23.0

         LastEditDate  CommunityOwnedDate ParentId  ClosedDate  \
0                 NaT                 NaT      NaN         NaT
1 2010-08-07 17:56:44                 NaT      NaN         NaT
2 2011-02-12 05:50:03 2010-07-19 19:13:28      NaN         NaT
3                 NaT                 NaT      NaN         NaT
4 2010-07-19 19:21:15 2010-07-19 19:14:43      3.0         NaT

  OwnerDisplayName LastEditorDisplayName
0             None                  None
1             None                  None
2             None                  None
3             None                  None
4             None                  None

[5 rows x 21 columns]

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [10]:
posts_new = posts.rename(columns = {'Id' : 'postId', 'OwnerUserId': 'userId'})
print(posts_new.head())

   postId  PostTypeId  AcceptedAnswerId         CreaionDate  Score  ViewCount  \
0       1           1              15.0 2010-07-19 19:12:12     23     1278.0
1       2           1              59.0 2010-07-19 19:12:57     22     8198.0
2       3           1               5.0 2010-07-19 19:13:28     54     3613.0
3       4           1             135.0 2010-07-19 19:13:31     13     5224.0
4       5           2               NaN 2010-07-19 19:14:43     81        NaN

                                                Body  userId  \
0  <p>How should I elicit prior distributions fro...     8.0
1  <p>In many different statistical methods there...    24.0
2  <p>What are some valuable Statistical Analysis...    18.0
3  <p>I have two groups of data.  Each with a dif...    23.0
4  <p>The R-project</p>\n\n<p><a href="http://www...    23.0

      LasActivityDate                                              Title  ...  \
0 2010-09-15 21:08:26                      Eliciting priors from experts  ...
1 2012-11-12 09:21:54                                 What is normality?  ...
2 2013-05-27 14:48:36  What are some valuable Statistical Analysis op...  ...
3 2010-09-08 03:00:19  Assessing the significance of differences in d...  ...
4 2010-07-19 19:21:15                                               None  ...

  AnswerCount  CommentCount  FavoriteCount  LastEditorUserId  \
0         5.0             1           14.0               NaN
1         7.0             1            8.0              88.0
2        19.0             4           36.0             183.0
3         5.0             2            2.0               NaN
4         NaN             3            NaN              23.0

         LastEditDate  CommunityOwnedDate ParentId  ClosedDate  \
0                 NaT                 NaT      NaN         NaT
1 2010-08-07 17:56:44                 NaT      NaN         NaT
2 2011-02-12 05:50:03 2010-07-19 19:13:28      NaN         NaT
3                 NaT                 NaT      NaN         NaT
4 2010-07-19 19:21:15 2010-07-19 19:14:43      3.0         NaT

  OwnerDisplayName LastEditorDisplayName
0             None                  None
1             None                  None
2             None                  None
3             None                  None
4             None                  None

[5 rows x 21 columns]

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [15]:
users_columns = users_new[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
posts_columns = posts_new[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]

print(users_columns.head())
print('\n')
print(posts_columns.head())

#[Tjerk]:yes

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5


   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 9. Merge the new dataframes you have created, of users and posts. 
You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [16]:
merge = users_columns.merge(posts_columns, on = 'userId')
print(merge.head())
#[Tjerk]:yes

   userId  Reputation  Views  UpVotes  DownVotes  postId  Score  ViewCount  \
0      -1           1      0     5007       1920    2175      0        NaN
1      -1           1      0     5007       1920    8576      0        NaN
2      -1           1      0     5007       1920    8578      0        NaN
3      -1           1      0     5007       1920    8981      0        NaN
4      -1           1      0     5007       1920    8982      0        NaN

   CommentCount
0             0
1             0
2             0
3             0
4             0

#### 10. How many missing values do you have in your merged dataframe? On which columns?

In [26]:
print(merge.count())
null_cols = merge.isnull().sum()
print('\n')
print("Number of missing values:")
print(null_cols[null_cols > 0])

#48396 missing values in column viewcount

#[Tjerk]: keurig opgelost, geen for loops en lekker strak geprogrammeerd
# kies even wat voor quoten je wilt gebruiken, enkele of dubbele, en wees er consistent in
# ik adviseer enkele, die zijn sneller

userId          90584
Reputation      90584
Views           90584
UpVotes         90584
DownVotes       90584
postId          90584
Score           90584
ViewCount       42188
CommentCount    90584
dtype: int64


Number of missing values:
ViewCount    48396
dtype: int64

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [54]:
#check for userID with several viewcounts
print(merge.groupby('userId')['ViewCount'].nunique())

#view results of userid 5
pd.set_option('display.max_rows', None)
print(merge[merge['userId'] == 5])
pd.reset_option('display.max_rows')

#I see no relation between userId and ViewCount, so replace NaN with zeros in next cell



#[Tjerk]: dat is de juiste keuze, mooi dat je de relatie  
# eerst hebt onderzocht en onderbouwd waar je hem mag fillna'en!

userId
-1         0
 5        17
 6         6
 7         1
 8        12
          ..
 55734     1
 55738     1
 55742     1
 55744     1
 55746     1
Name: ViewCount, Length: 21983, dtype: int64
     userId  Reputation  Views  UpVotes  DownVotes  postId  Score  ViewCount  \
211       5        6792   1145      662          5       6    152    29229.0
212       5        6792   1145      662          5      12     20        NaN
213       5        6792   1145      662          5      32     12        NaN
214       5        6792   1145      662          5      49      6        NaN
215       5        6792   1145      662          5      64      6        NaN
216       5        6792   1145      662          5      76     22        NaN
217       5        6792   1145      662          5      83      2        NaN
218       5        6792   1145      662          5      96      4        NaN
219       5        6792   1145      662          5     103     28     1990.0
220       5        6792   1145      662          5     108     14        NaN
221       5        6792   1145      662          5     125     75    29261.0
222       5        6792   1145      662          5     126     26        NaN
223       5        6792   1145      662          5     131     23        NaN
224       5        6792   1145      662          5     139     21        NaN
225       5        6792   1145      662          5     197      9        NaN
226       5        6792   1145      662          5     199      4        NaN
227       5        6792   1145      662          5     217      6        NaN
228       5        6792   1145      662          5     299      8        NaN
229       5        6792   1145      662          5     306      8        NaN
230       5        6792   1145      662          5     314     11        NaN
231       5        6792   1145      662          5     329     11        NaN
232       5        6792   1145      662          5     398     14        NaN
233       5        6792   1145      662          5     423    156    64481.0
234       5        6792   1145      662          5     433     40        NaN
235       5        6792   1145      662          5     504      4        NaN
236       5        6792   1145      662          5     550     11        NaN
237       5        6792   1145      662          5     560      9        NaN
238       5        6792   1145      662          5     562     10     1005.0
239       5        6792   1145      662          5     569      3        NaN
240       5        6792   1145      662          5     593      3        NaN
241       5        6792   1145      662          5     616      6        NaN
242       5        6792   1145      662          5     617      9        NaN
243       5        6792   1145      662          5     634      7        NaN
244       5        6792   1145      662          5     772     11        NaN
245       5        6792   1145      662          5     774      7        NaN
246       5        6792   1145      662          5     776      2        NaN
247       5        6792   1145      662          5     827     13        NaN
248       5        6792   1145      662          5     898      5      725.0
249       5        6792   1145      662          5    1134      4        NaN
250       5        6792   1145      662          5    1135      3        NaN
251       5        6792   1145      662          5    1136      1        NaN
252       5        6792   1145      662          5    1165      1        NaN
253       5        6792   1145      662          5    1199      4        NaN
254       5        6792   1145      662          5    1235      4        NaN
255       5        6792   1145      662          5    1309      2        NaN
256       5        6792   1145      662          5    1451      8        NaN
257       5        6792   1145      662          5    1491     10        NaN
258       5        6792   1145      662          5    1503      1        NaN
259       5        6792   1145      662          5    1504      4        NaN
260       5        6792   1145      662          5    1546      5        NaN
261       5        6792   1145      662          5    1551      8        NaN
262       5        6792   1145      662          5    1613      3        NaN
263       5        6792   1145      662          5    1648     18        NaN
264       5        6792   1145      662          5    1706      2        NaN
265       5        6792   1145      662          5    1826     26     2762.0
266       5        6792   1145      662          5    1828     17        NaN
267       5        6792   1145      662          5    1831      3        NaN
268       5        6792   1145      662          5    1857      3        NaN
269       5        6792   1145      662          5    1893     10        NaN
270       5        6792   1145      662          5    1904     11      493.0
271       5        6792   1145      662          5    1906      7      455.0
272       5        6792   1145      662          5    1907      7        NaN
273       5        6792   1145      662          5    1908      5      351.0
274       5        6792   1145      662          5    1910      4        NaN
275       5        6792   1145      662          5    1912      3      286.0
276       5        6792   1145      662          5    1958      3        NaN
277       5        6792   1145      662          5    1983      3        NaN
278       5        6792   1145      662          5    2072     13      520.0
279       5        6792   1145      662          5    2077     21     9878.0
280       5        6792   1145      662          5    2101      6        NaN
281       5        6792   1145      662          5    2110      3        NaN
282       5        6792   1145      662          5    2149     22     4469.0
283       5        6792   1145      662          5    2166      4        NaN
284       5        6792   1145      662          5    2167     11      709.0
285       5        6792   1145      662          5    2172     15        NaN
286       5        6792   1145      662          5    2213     15     3182.0
287       5        6792   1145      662          5    2217     95        NaN
288       5        6792   1145      662          5    2236      9        NaN
289       5        6792   1145      662          5    2245     24     1475.0
290       5        6792   1145      662          5    2247     10        NaN
291       5        6792   1145      662          5    2302      4        NaN
292       5        6792   1145      662          5    2346     26        NaN
293       5        6792   1145      662          5    2389      5        NaN
294       5        6792   1145      662          5    2412      4        NaN
295       5        6792   1145      662          5    2456     16        NaN
296       5        6792   1145      662          5    2627     10        NaN
297       5        6792   1145      662          5    2911     16        NaN
298       5        6792   1145      662          5    3055      1        NaN
299       5        6792   1145      662          5    3056      1        NaN
300       5        6792   1145      662          5    3168      5        NaN
301       5        6792   1145      662          5    3223      4        NaN
302       5        6792   1145      662          5    3239     15        NaN
303       5        6792   1145      662          5    3319      3        NaN
304       5        6792   1145      662          5    3414      6        NaN
305       5        6792   1145      662          5    3424      7        NaN
306       5        6792   1145      662          5    3461      7        NaN
307       5        6792   1145      662          5    3480      1        NaN
308       5        6792   1145      662          5    3576      7        NaN
309       5        6792   1145      662          5    3600      1        NaN
310       5        6792   1145      662          5    3637      1        NaN
311       5        6792   1145      662          5    3675      2        NaN
312       5        6792   1145      662          5    3703      2        NaN
313       5        6792   1145      662          5    3756      6        NaN
314       5        6792   1145      662          5    3761      3        NaN
315       5        6792   1145      662          5    3848      2        NaN
316       5        6792   1145      662          5    3891      6        NaN
317       5        6792   1145      662          5    3998      3        NaN
318       5        6792   1145      662          5    4634      2        NaN
319       5        6792   1145      662          5    4635      6        NaN
320       5        6792   1145      662          5    4761      5        NaN
321       5        6792   1145      662          5    5086      2        NaN
322       5        6792   1145      662          5    5296     24        NaN
323       5        6792   1145      662          5    6235     12        NaN
324       5        6792   1145      662          5    6241     17        NaN
325       5        6792   1145      662          5    6278     20        NaN
326       5        6792   1145      662          5    6389      2        NaN
327       5        6792   1145      662          5    6757      3        NaN

     CommentCount
211             5
212             1
213             0
214             0
215             0
216             3
217             0
218             0
219             6
220             1
221             2
222             4
223             0
224             2
225             1
226             0
227             4
228             0
229             2
230             1
231             0
232             1
233             7
234             0
235             0
236             0
237             2
238             1
239             0
240             1
241             0
242             1
243             0
244             1
245             0
246             0
247             6
248             1
249             0
250             0
251             2
252             0
253             0
254             1
255             3
256             1
257             3
258             1
259             0
260             1
261             4
262             1
263             1
264             1
265             1
266             3
267             2
268             2
269             0
270             0
271             3
272             0
273             0
274             0
275             7
276             2
277             0
278             2
279             0
280             0
281             2
282             0
283             0
284             3
285             3
286             2
287             1
288             1
289             2
290             1
291             0
292             2
293             0
294             3
295             4
296             1
297             3
298             6
299             3
300             3
301             1
302             5
303             1
304             4
305             5
306             5
307             0
308             2
309             0
310             0
311             0
312             1
313             0
314             1
315             1
316             4
317             2
318             2
319             3
320             0
321             1
322             1
323             6
324             2
325             3
326             0
327             1

In [55]:
merge["ViewCount"] = merge["ViewCount"].fillna(0)
print(merge)

#[Tjerk]:yes

       userId  Reputation  Views  UpVotes  DownVotes  postId  Score  \
0          -1           1      0     5007       1920    2175      0
1          -1           1      0     5007       1920    8576      0
2          -1           1      0     5007       1920    8578      0
3          -1           1      0     5007       1920    8981      0
4          -1           1      0     5007       1920    8982      0
...       ...         ...    ...      ...        ...     ...    ...
90579   55734           1      0        0          0  115352      0
90580   55738          11      0        0          0  115360      2
90581   55742           6      0        0          0  115366      1
90582   55744           6      1        0          0  115370      1
90583   55746         106      1        0          0  115376      1

       ViewCount  CommentCount
0            0.0             0
1            0.0             0
2            0.0             0
3            0.0             0
4            0.0             0
...          ...           ...
90579       16.0             0
90580       40.0             4
90581       17.0             0
90582       13.0             2
90583        5.0             2

[90584 rows x 9 columns]

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [56]:
print(merge.dtypes)

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

In [57]:
merge["ViewCount"] = merge["ViewCount"].astype("int64")
print(merge.dtypes)

#[Tjerk]: keurig gedaan

userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postId          int64
Score           int64
ViewCount       int64
CommentCount    int64
dtype: object