# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/Cellar/jupyterlab/2.1.2/libexec/lib/python3.8/site-packages (1.3.18)
WARNING: You are using pip version 20.1; however, version 20.2.2 is available.
You should consider upgrading via the '/usr/local/Cellar/jupyterlab/2.1.2/libexec/bin/python3.8 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
from sqlalchemy import create_engine

In [4]:
pip install pymysql

Requirement already satisfied: pymysql in /usr/local/Cellar/jupyterlab/2.1.2/libexec/lib/python3.8/site-packages (0.10.0)
WARNING: You are using pip version 20.1; however, version 20.2.2 is available.
You should consider upgrading via the '/usr/local/Cellar/jupyterlab/2.1.2/libexec/bin/python3.8 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pymysql

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [6]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. 
Check the connection details here [here](https://relational.fit.cvut.cz/dataset/Stats)

In [7]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')

#### 4. Import the users table.

In [8]:

new_table=pd.read_sql_query('SHOW TABLES',engine)
new_table

  Tables_in_stats
0          badges
1        comments
2     postHistory
3       postLinks
4           posts
5            tags
6           users
7           votes

In [9]:

users=pd.read_sql_query('SELECT * FROM users',engine)
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId.

In [42]:
users_newID=users.rename(columns={'Id':'userId'})
users_newID.head(3)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None

#### 6. Import the posts table.

In [11]:
posts=pd.read_sql_query('SELECT * FROM posts',engine)
posts.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [46]:
#posts_newID=posts.rename(columns={'Id':'postID'}) & posts.rename(columns={'OwnerUserId':'userID'}) >> this didn't work. What's the way to change the names of columns at once? 
posts_newID=posts.rename(columns={'Id':'postID'})
posts_newID.head(3)

,postID,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [49]:
#users_newID.head(5)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

In [56]:
#what am I doing wrong? 
users_columns = """
SELECT
    UserId,
    Reputation,
    Views, 
    UpVotes, 
    DownVotes

FROM users_newID"""

users_columns=pd.read_sql_query(users_newID,engine)
users_columns.head(3)

ObjectNotExecutableError: Not an executable object:        userId  Reputation        CreationDate     DisplayName  \
0          -1           1 2010-07-19 06:55:26       Community
1           2         101 2010-07-19 14:01:36    Geoff Dalgas
2           3         101 2010-07-19 15:34:50    Jarrod Dixon
3           4         101 2010-07-19 19:03:27          Emmett
4           5        6792 2010-07-19 19:03:57           Shane
...       ...         ...                 ...             ...
40320   55743           1 2014-09-13 21:03:50       AussieMeg
40321   55744           6 2014-09-13 21:39:30       Mia Maria
40322   55745         101 2014-09-13 23:45:27    tronbabylove
40323   55746         106 2014-09-14 00:29:41             GPP
40324   55747           1 2014-09-14 01:01:44  Shivam Agrawal

           LastAccessDate                      WebsiteUrl            Location  \
0     2010-07-19 06:55:26  http://meta.stackexchange.com/  on the server farm
1     2013-11-12 22:07:23        http://stackoverflow.com       Corvallis, OR
2     2014-08-08 06:42:58        http://stackoverflow.com        New York, NY
3     2014-01-02 09:31:02    http://minesweeperonline.com   San Francisco, CA
4     2014-08-13 00:23:47         http://www.statalgo.com        New York, NY
...                   ...                             ...                 ...
40320 2014-09-13 21:18:52                            None                None
40321 2014-09-13 21:39:30                            None                None
40322 2014-09-13 23:45:27                            None       United States
40323 2014-09-14 02:05:17                            None                None
40324 2014-09-14 01:19:04                            None               India

                                                 AboutMe  Views  UpVotes  \
0      <p>Hi, I'm not really a person.</p>\n\n<p>I'm ...      0     5007
1      <p>Developer on the StackOverflow team.  Find ...     25        3
2      <p><a href="http://blog.stackoverflow.com/2009...     22       19
3      <p>currently at a startup in SF</p>\n\n<p>form...     11        0
4      <p>Quantitative researcher focusing on statist...   1145      662
...                                                  ...    ...      ...
40320                                               None      0        0
40321                                               None      1        0
40322                                               None      0        0
40323  <p>Stats noobie, product, marketing &amp; medi...      1        0
40324                         <p>Maths Enthusiast </p>\n      0        0

       DownVotes  AccountId   Age  \
0           1920         -1   NaN
1              0          2  37.0
2              0          3  35.0
3              0       1998  28.0
4              5      54503  35.0
...          ...        ...   ...
40320          0    5026902   NaN
40321          0    5026998   NaN
40322          0     481766   NaN
40323          0     976289   NaN
40324          0    5027354   NaN

                                         ProfileImageUrl
0                                                   None
1                                                   None
2                                                   None
3                     http://i.stack.imgur.com/d1oHX.jpg
4                                                   None
...                                                  ...
40320  http://graph.facebook.com/665821703/picture?ty...
40321                                               None
40322  https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323  https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324  https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

[40325 rows x 14 columns]

AttributeError: 'str' object has no attribute 'head'

#### 9. Merge the new dataframes you have created, of users and posts. 
You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [57]:
query = """
SELECT
    userId,
    Reputation,
    Views, 
    UpVotes, 
    DownVotes

FROM users_newID
INNER JOIN posts_newID
ON users.userId = posts.postID ;"""
query = query.replace("\n", " ")

posts=pd.read_sql_query(query,engine)
posts.head()

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'stats.users_newID' doesn't exist")
[SQL:  SELECT     userId,     Reputation,     Views,      UpVotes,      DownVotes  FROM users_newID INNER JOIN posts_newID ON users.userId = posts.postID ;]
(Background on this error at: http://sqlalche.me/e/13/f405)

#### 10. How many missing values do you have in your merged dataframe? On which columns?

In [58]:
#Because I couldn't generate the previous table, I am using an existing data set to show you the code 
posts.isnull().sum()

Id                           0
PostTypeId                   0
AcceptedAnswerId         77276
CreaionDate                  0
Score                        0
ViewCount                49055
Body                       220
OwnerUserId               1392
LasActivityDate              0
Title                    49055
Tags                     49055
AnswerCount              49055
CommentCount                 0
FavoriteCount            78730
LastEditorUserId         47365
LastEditDate             46938
CommunityOwnedDate       89509
ParentId                 44221
ClosedDate               90366
OwnerDisplayName         89467
LastEditorDisplayName    91511
dtype: int64

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [ ]:
# It will depend on the objective of the analysis of tables

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?