# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. 
Check the connection details here [here](https://relational.fit.cvut.cz/dataset/Stats)

In [3]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')

#pymysql.connect('relational.fit.cvut.cz', 'guest', 'relational', 'stats')

#### 4. Import the users table.

In [5]:
#cur = con.cursor()
#sql_query = "select * from users"
#cur.execute(sql_query)

#rows = cur.fetchall()

#for row in rows:
    #print(row[:])

new_table = pd.read_sql_query('select * from users', engine)
new_table.head(5)

#new_table = pd.read_sql_table('users', engine)
#new_table.head(5)

#new_table = pd.read_sql('users', engine)
#new_table.head(5)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId.

In [7]:
userid_table = new_table.rename(columns = {'Id' : 'userId'}) 
userid_table.head(5)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 6. Import the posts table.

In [8]:
posts_table = pd.read_sql_query('select * from posts', engine)
posts_table.head(5)

KeyboardInterrupt:

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [ ]:
renamed_posts_table = posts_table.rename(columns = {'Id' : 'postId', 'OwnerUserId' : 'userId'})
renamed_posts_table.head(5)

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [ ]:
user_columns = userid_table[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
posts_columns = renamed_posts_table[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]

user_columns.head(5)

In [ ]:
posts_columns.head(5)

#### 9. Merge the new dataframes you have created, of users and posts. 
You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [ ]:
merged = user_columns.merge(posts_columns, how = 'inner', on = 'userId')

merged.head(5)

#### 10. How many missing values do you have in your merged dataframe? On which columns?

In [ ]:
merged.count()
#Missing values show by difference in ViewCount column and all other columns
#merged.isnull()

In [64]:
missing_values = merged.CommentCount.count() - merged.ViewCount.count()
missing_values

48396

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [66]:
merged[pd.isnull(merged['ViewCount'])] 
merged[pd.isnull(merged['ViewCount']) & (merged['userId'] != -1)] 
merged[(merged['ViewCount'] == 0)] 


#No relation between ViewCount and userId
#We should fill with zeros because the Nan refers to zeros (given no zeroes elsewhere)

Empty DataFrame
Columns: [userId, Reputation, Views, UpVotes, DownVotes, postId, Score, ViewCount, CommentCount]
Index: []

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [68]:
merged['ViewCount'] = merged['ViewCount'].fillna(0)
merged

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0.0,0
1,-1,1,0,5007,1920,8576,0,0.0,0
2,-1,1,0,5007,1920,8578,0,0.0,0
3,-1,1,0,5007,1920,8981,0,0.0,0
4,-1,1,0,5007,1920,8982,0,0.0,0
5,-1,1,0,5007,1920,9857,0,0.0,0
6,-1,1,0,5007,1920,9858,0,0.0,0
7,-1,1,0,5007,1920,9860,0,0.0,0
8,-1,1,0,5007,1920,10130,0,0.0,0
9,-1,1,0,5007,1920,10131,0,0.0,0
10,-1,1,0,5007,1920,15331,0,0.0,0
11,-1,1,0,5007,1920,15332,0,0.0,0
12,-1,1,0,5007,1920,16296,0,0.0,0
13,-1,1,0,5007,1920,16366,0,0.0,0
14,-1,1,0,5007,1920,19423,0,0.0,0
15,-1,1,0,5007,1920,19848,0,0.0,0
16,-1,1,0,5007,1920,20259,0,0.0,0
17,-1,1,0,5007,1920,20261,0,0.0,0
18,-1,1,0,5007,1920,20262,0,0.0,0
19,-1,1,0,5007,1920,20263,0,0.0,0
20,-1,1,0,5007,1920,20264,0,0.0,0
21,-1,1,0,5007,1920,20485,0,0.0,0
22,-1,1,0,5007,1920,20487,0,0.0,0
23,-1,1,0,5007,1920,20489,0,0.0,0
24,-1,1,0,5007,1920,20490,0,0.0,0
25,-1,1,0,5007,1920,21497,0,0.0,0
26,-1,1,0,5007,1920,21795,0,0.0,0
27,-1,1,0,5007,1920,21856,0,0.0,0
28,-1,1,0,5007,1920,21860,0,0.0,0
29,-1,1,0,5007,1920,21861,0,0.0,0
...,...,...,...,...,...,...,...,...,...
90554,55674,1,0,0,0,115228,0,22.0,1
90555,55676,1,1,0,0,115231,0,25.0,1
90556,55677,1,1,0,0,115232,0,28.0,2
90557,55679,1,0,0,0,115236,0,13.0,0
90558,55682,13,0,0,0,115246,2,20.0,0
90559,55684,6,0,0,0,115253,1,31.0,6
90560,55687,6,0,0,0,115264,1,35.0,0
90561,55689,6,0,0,0,115270,1,28.0,7
90562,55695,1,0,0,0,115278,0,4.0,0
90563,55697,1,0,0,0,115285,0,22.0,4
90564,55699,6,0,0,0,115287,1,23.0,6
90565,55702,26,1,0,0,115291,5,29.0,1
90566,55709,1,0,0,0,115312,0,6.0,0
90567,55710,1,0,0,0,115313,0,18.0,4
90568,55713,6,0,0,0,115315,1,36.0,2
90569,55714,6,0,0,0,115316,1,20.0,3
90570,55715,6,0,0,0,115321,1,9.0,0
90571,55718,6,0,0,0,115327,1,25.0,0
90572,55719,1,1,0,0,115328,0,10.0,0
90573,55720,1,0,0,0,115331,0,12.0,1
90574,55724,16,1,0,0,115335,3,19.0,1
90575,55729,16,1,0,0,115338,0,0.0,0
90576,55730,1,0,0,0,115340,0,18.0,1
90577,55731,1,0,0,0,115350,0,3.0,0
90578,55733,6,1,0,0,115356,1,15.0,0
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2