# Programming with Functions

## Introduction 

Up until this point, we have been writing Python code in a **procedural manner** and using functions and methods that are either in Python's standard library or part of some other library such as Numpy or Pandas. This has worked fine for us thus far, but in order to truly graduate from beginner to intermediate Python programmer, you must have a basic understanding of **programming with functions** and be able to write your own functions.

In this lesson, we will cover how to write Python code in a functional style and how to construct and call user-defined functions.

## Procedural vs. Functional Programming

- **Procedural code** is code that is written line by line and executed in the order it is written. It is the style in which most people learn to program due to its straightforward sequence of actions to solve a problem - do this, then do this, then do this.

- More mature programmers frame problems a little differently. They take more of a **functional approach** to problem solving, where they create functions consisting of multiple lines of code that accomplish some task and often return a result that can be used by another function.

You can think of a function as a tool - something that helps you perform a job. In a sense, functional programming allows you to create your own tools. Some of these tools will be designed specifically for the current set of tasks you need to perform while other functions you write will be more general and able to be used for other projects. 

Imagine if a chef were able to construct their own set of knives or a carpenter were able to construct their own set of saws that were perfect for the jobs they needed to perform. That is the power that functional programming gives you as a programmer. Over time, you will develop a personal library of functions that allow you to get your work done more efficiently.

## Writing Functions in Python
Functions in Python are defined by the def keyword followed by the function name and one or more inputs the function will need enclosed in parentheses. Within the function, you write code that performs the task you want the function to execute followed by a return statement if there is anything you would like the function to return. Below is an example of a list2string function that converts lists to strings.

In [20]:
def list2string(lst):
    string = ' '.join(lst)
    return string

to_string = ['John', 'was', 'a', 'man', 'of', 'many', 'talents']
list2string(to_string)

'John was a man of many talents'

In this example, we defined our list2string function and told it to expect one input. Within the function, we used the join method to convert the list to a string consisting of the list elements joined together by spaces. We then had the function return the string of space-separated elements.

You can include all the concepts we have covered in past lessons (loops, conditional logic, list comprehensions, etc.) inside a function.

## Global vs. Local Variables

When writing functional code, it is important to keep track of which variables are global and which variables are local. **Global variables** are variables that maintain their value outside of functions. **Local variables** maintain their value *within* the function where they are defined and then cease to exist after we exit that function.

In the example below, the variables a and c are global variables and variable b is a local variable that does not exist outside of the multiply function!

In [37]:
a = 9

def multiply(number, multiplier=2):
    """
    Inputs: number and multiplier
    Outputs: multiplied number
    """
    b = number * multiplier
    return b

c = multiply(a)
print(a, c)
#multiply(a)

9 18

The multiply function above accepts a number and a multiplier (that defaults to 2), creates a local variable b that has a value of the number times the multiplier, and the function returns that value. *However, now that the function has completed its job, we receive an error when we try to print b because it does not exist in the global variable namespace.*

In [38]:
print(b)

NameError: name 'b' is not defined

We can enter any number into the function above and also override the default multiplier and our function will return the product of those two numbers.

In [43]:
multiply(999999, multiplier=281713)

281712718287

In [47]:
def summa(a,b = 7):
    c = a + b
    return c

p = 5
print(p)
summa(p)

5

12

## More Examples of Functions

In this section, we will cover some more, complicated examples of functions.

### Example 1

In this example, we will convert phone numbers to international numbers.

In [56]:
phone_numbers = {'Tom': '0313911913', 'John' : '0313911913', 'Annie': '0313911913', 'Judy':'3818891310'}

def to_international(number_dict, code = '+0031'):
    """
    Inputs: a dict and string
    Outputs: dict with modified values
    """
    for key, values in number_dict.items():
        number_dict[key] = code + values
    return number_dict

In [57]:
code = '+0031'
for key, values in phone_numbers.items():
    phone_numbers[key] = code + values
    
phone_numbers['Tom']

'+00310313911913'

In [ ]:
'+0031' + values

In [52]:
to_international(phone_numbers, code = '+0049')

{'Tom': '+00490313911913',
 'John': '+00490313911913',
 'Annie': '+00490313911913',
 'Judy': '+00493818891310'}

### Example 2

In this example, we will convert pounds to kilograms.

In [58]:
def pound_to_kg(pound):
    """
    Inputs: weight in pound
    Outputs: weitght in kilogram
    """
    kilogram = pound * 0.453592
    return kilogram

In [59]:
pound_to_kg(3)

1.360776

### Example 3

Suppose we are on our way to Amsterdam by car. We know that Amsterdam is still 120 kilometers to go and that we have 30 liters of fuel left. Our car uses 23 liters per kilometer. Let us write a function to see if we can make it to Amsterdam.

In [ ]:
def will_we_make_it(km_to_go, liters_per_km, liters_fuel_left):
    """
    Inputs: km_to_go, fuel usages, fuel_left
    Outputs: True or False dep. on whether the car will reach its destination.
    """
    if (liters_per_km * liters_fuel_left) >= km_to_go:
        return True
    else: 
        return False

In [63]:
will_we_make_it(1200, 23, 30)

False

## Applying Functions to Data Frames

Now that we have a basic understanding of how functions and variables work, let's look at how we can apply a function that we have created to a Pandas data frame. For this example, we will import Pandas and the vehicles data set we have been working with in this module. We will then write a get_means function that identifies all the numeric columns in the data set and returns a data frame containing each column name and its mean.

In [65]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/loukjsmalbil/datasets_ws/master/vehicles.csv')

In [66]:
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [82]:
# Isolate the numerical columns
numeric = data._get_numeric_data()
numeric.head()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,1984,2.5,4.0,19.388824,18,17,17,522.764706,1950
1,1984,4.2,6.0,25.354615,13,13,13,683.615385,2550
2,1985,2.5,4.0,20.600625,16,17,16,555.437500,2100
3,1985,4.2,6.0,25.354615,13,13,13,683.615385,2550
4,1987,3.8,6.0,20.600625,14,21,16,555.437500,2550

In [75]:
numeric.mean()

Year                       2000.716400
Engine Displacement           3.338493
Cylinders                     5.765076
Fuel Barrels/Year            17.609056
City MPG                     17.646139
Highway MPG                  23.880646
Combined MPG                 19.929322
CO2 Emission Grams/Mile     475.316339
Fuel Cost/Year             1892.598465
dtype: float64

In [84]:
means = pd.DataFrame(numeric.mean()) 
# Rename the colums
means

                                   0
Year                     2000.716400
Engine Displacement         3.338493
Cylinders                   5.765076
Fuel Barrels/Year          17.609056
City MPG                   17.646139
Highway MPG                23.880646
Combined MPG               19.929322
CO2 Emission Grams/Mile   475.316339
Fuel Cost/Year           1892.598465

In [85]:
means.columns = ['Mean']
means.head()

                            Mean
Year                 2000.716400
Engine Displacement     3.338493
Cylinders               5.765076
Fuel Barrels/Year      17.609056
City MPG               17.646139

In [87]:
def get_means(df):
    """
    Input: dataframe
    Output: data frame with means of numerical values
    """
    # Isolate the numerical columns
    numeric = df._get_numeric_data()
    # Get tge means of eaqch of these columns
    means = pd.DataFrame(numeric.mean())
    # Rename the colums
    means.columns = ['Mean']
    return means

In [90]:
mean_df = get_means(data)
mean_df

                                Mean
Year                     2000.716400
Engine Displacement         3.338493
Cylinders                   5.765076
Fuel Barrels/Year          17.609056
City MPG                   17.646139
Highway MPG                23.880646
Combined MPG               19.929322
CO2 Emission Grams/Mile   475.316339
Fuel Cost/Year           1892.598465

get_means(data)Note that the only input necessary for this function was a data frame. The function took care of everything else. That means that it should work for any data frame that you pass it, as long as the data frame has numeric columns. We have just created a tool by writing code once that we can use again and again.

**Challenge: **Import another data set that contains numeric variables and run the get_means function on it. It should return the means for the numeric columns in that data set.

## Summary

In this lesson, we learned about functions in Python. We began the lesson by looking at the differences between writing procedural code and functional code. We then covered how to construct functions in Python and the differences between global and local variables. We ended the chapter by learning how functions can be applied to a Pandas data frame, computing and returning the means of all the numeric columns in a data frame. Now that you have learned about functions, you are well on your way to building a customized set of tools that can help you perform analytical work as efficiently as possible!