# Dicts, sets and tuples

## Introduction 

In the previous lesson, we learned about lists. Lists are one of the most important data structures in Python. However, we cannot survive with lists alone. There are many use cases where other data structures are better suited. This lesson will introduce three other important data structures in Python.

## Tuples

Tuples are sequences just like list. However, the main difference between tuples and lists is that tuples are immutable. This means that the values inside of a tuple cannot be overwritten (or mutated) once the tuple is defined.

We define tuples using parentheses and specify the sequence in our tuple as follows:

In [5]:
chocolates = ('dark', 'milk', 'semi sweet')

We can retrieve any item in the tuple in the same way we would with a string.

In [6]:
chocolates = ('dark', 'milk', 'semi sweet')
chocolates[0]

'dark'

However, we cannot reassign new values to a tuple.

In [7]:
chocolates = ('dark', 'milk', 'semi sweet')

In [8]:
chocolates[3] = 'caramel filled'

TypeError: 'tuple' object does not support item assignment

Similar to lists, we can find the length of a tuple using the len() function.

In [9]:
chocolates = ('dark', 'milk', 'semi sweet')
len(chocolates)

3

We will also get an out of bounds error if we try to access a tuple position that is beyond the tuple's length.

In [10]:
chocolates = ('dark', 'milk', 'semi sweet')

In [15]:
chocolates[3]

IndexError: tuple index out of range

We can iterate through tuples just like we iterate through lists. However, as previously mentioned, we cannot change the values of the tuple.

In [16]:
chocolates = ('dark', 'milk', 'semi sweet')

In [21]:
for chocolate in chocolates:
    print(chocolate) 
    
for i in range(len(chocolates)):
    print(chocolates[i])

dark
milk
semi sweet
dark
milk
semi sweet

## Dictionaries

Sometimes we don't just want to store data in a sequence. There are cases where we want to easily retrieve our data rather than iterate through an entire list. There are also cases where we need to label our data. For example, the phone numbers stored in our phone are labeled using the name of our contacts. In these cases, it is better to use a dict. Dicts are a sequence of key value pairs.

We can manually create a dict by specifying all keys and values separated by a colon within curly braces.

In [22]:
contacts = {'John': '312-555-1234', 'Paul': '312-555-3123', 'George': '312-555-3333', 'Ringo': '312-555-2222'}

We can access the keys and the values separately in a dict using the keys() and values() methods.

In [25]:
contacts = {'John': '312-555-1234', 'Paul': '312-555-3123', 'George': '312-555-3333', 'Ringo': '312-555-2222'}
contacts.keys() 
#print(contacts['John'])

dict_keys(['John', 'Paul', 'George', 'Ringo'])

In [26]:
contacts = {'John': '312-555-1234', 'Paul': '312-555-3123', 'George': '312-555-3333', 'Ringo': '312-555-2222'}
contacts.values()

dict_values(['312-555-1234', '312-555-3123', '312-555-3333', '312-555-2222'])

We can list both keys and values as tuples using the items() method.

In [31]:
contacts = {'John': '312-555-1234', 'Paul': '312-555-3123', 'George': '312-555-3333', 'Ringo': '312-555-2222'}
contacts.items()
#type(contacts.items())

dict_items([('John', '312-555-1234'), ('Paul', '312-555-3123'), ('George', '312-555-3333'), ('Ringo', '312-555-2222')])

We add new keys and values to a dict using the following syntax:

In [32]:
contacts['Pete'] = '312-555-1111'

In [33]:
print(contacts)

{'John': '312-555-1234', 'Paul': '312-555-3123', 'George': '312-555-3333', 'Ringo': '312-555-2222', 'Pete': '312-555-1111'}

Dicts are not immutable. Therefore, we can change a value by reassigning a new value to a key.

In [34]:
print(contacts['Paul'])

312-555-3123

In [35]:
contacts['Paul'] = '312-555-4444'

In [36]:
print(contacts['Paul'])

312-555-4444

We delete a record from a dict using the del command.

In [37]:
print(contacts)

{'John': '312-555-1234', 'Paul': '312-555-4444', 'George': '312-555-3333', 'Ringo': '312-555-2222', 'Pete': '312-555-1111'}

In [38]:
del contacts['Pete']

In [39]:
print(contacts)

{'John': '312-555-1234', 'Paul': '312-555-4444', 'George': '312-555-3333', 'Ringo': '312-555-2222'}

We can create an empty dict with only a pair of curly braces:

In [41]:
empty_dict = {}

In [42]:
print(empty_dict)

{}

### Iterating Through a Dict

We can use keys to iterate through the keys, values() to iterate through the values and items() to iterate through both simultaneously.

In [43]:
contacts = {'John': '312-555-1234', 'Paul': '312-555-3123', 'George': '312-555-3333', 'Ringo': '312-555-2222'}

In [44]:
for i in contacts.keys():
     print(i)

John
Paul
George
Ringo

In [45]:
contacts = {'John': '312-555-1234', 'Paul': '312-555-3123', 'George': '312-555-3333', 'Ringo': '312-555-2222'}

In [46]:
for i in contacts.values():
    print(i)

312-555-1234
312-555-3123
312-555-3333
312-555-2222

In [57]:
contacts = {'John': '312-555-1234', 'Paul': '312-555-3123', 'George': '312-555-3333', 'Ringo': '312-555-2222'}

In [62]:
for k, v in contacts.items():
    print(k+" : "+v)
    print(k,v)
    #print(k)

John : 312-555-1234
John 312-555-1234
Paul : 312-555-3123
Paul 312-555-3123
George : 312-555-3333
George 312-555-3333
Ringo : 312-555-2222
Ringo 312-555-2222

### Dict Comprehensions
Just like list comprehensions, we can also iterate through a dict to generate a new list or new dict. Below is an example of adding the country code to our contact dictionary.

In [63]:
housing = ['house', 'boat', 'tree','dog', 'cat']

In [67]:
#Key : value 
{f:len(f) for f in housing}

{'house': 5, 'boat': 4, 'tree': 4, 'dog': 3, 'cat': 3}

In [68]:
# Another example
contacts = {'John': '312-555-1234', 'Paul': '312-555-3123', 'George': '312-555-3333', 'Ringo': '312-555-2222'}

In [75]:
international = {k: "+0031-"+v for k, v in contacts.items()}
print(international)

{'John': '+0031-312-555-1234', 'Paul': '+0031-312-555-3123', 'George': '+0031-312-555-3333', 'Ringo': '+0031-312-555-2222'}

In [78]:
for k, v in international.items():
     print(k+": "+v)

John: +0031-312-555-1234
Paul: +0031-312-555-3123
George: +0031-312-555-3333
Ringo: +0031-312-555-2222

## Sets

Sets are unordered collections of unique elements. Similar to lists, they are also mutable. This means that we can insert and delete values to our set.

We can define an empty set as follows:

In [88]:
letters = set() 
houses = ['House', 'House', 'House', 'Villa']
print(houses)
houses_set = set(houses)
print(houses_set)

['House', 'House', 'House', 'Villa']
{'Villa', 'House'}

We then add to the set using the add command.

In [82]:
letters.add('a')

print(letters)

{'a'}

We can delete from our set using the remove command. The remove command will throw an error if the element does not exist in the set. We can use the pop command if we would like to try removing the element but do nothing if it is not in the set.

In [83]:
letters.remove('a')
print(letters)

set()

### Union, Intersection, and Difference

The fact that sets contain unique values and are not ordered allows us to compare sets and find their union, intersection, and difference.

We will look at examples of all three operations in the code block below.

## Union

In [89]:
# Show picture
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://en.wikipedia.org/wiki/Vegetable#/media/File:Botanical_Fruit_and_Culinary_Vegetables.png")

In [90]:
#union
Image(url= "https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Venn0111.svg/1200px-Venn0111.svg.png")

In [91]:
# We start off defining both sets. Note that we have to use both parentheses and brackets.
girl_names = set(['Mary', 'Madison', 'Logan', 'Joanna'])
boy_names = set(['John', 'Alexander', 'Logan', 'Madison'])

In [93]:
# We find the unisex names by finding the intersection of boy and girl names
all_names = girl_names.union(boy_names)
print(all_names)

{'Mary', 'Alexander', 'Joanna', 'John', 'Madison', 'Logan'}

## Intersection

In [94]:
# Intersection
Image(url= "https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Venn0001.svg/2000px-Venn0001.svg.png")

In [95]:
# We start off defining both sets. Note that we have to use both parentheses and brackets.
girl_names = set(['Mary', 'Madison', 'Logan', 'Joanna'])
boy_names = set(['John', 'Alexander', 'Logan', 'Madison'])

In [96]:
# We find the unisex names by finding the intersection of boy and girl names
unisex_names = girl_names.intersection(boy_names)
print(unisex_names)

{'Madison', 'Logan'}

## Difference

In [97]:
# Difference (complement)
Image(url= "https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Venn0010.svg/1200px-Venn0010.svg.png")

girl_names = set(['Mary', 'Madison', 'Logan', 'Joanna'])
boy_names = set(['John', 'Alexander', 'Logan', 'Madison'])

In [100]:
# We find the difference between both sets by subtracting one set from the other
boy_only_names = boy_names - girl_names
print(boy_only_names)

{'Alexander', 'John'}

## Summary

In this lesson we examined the tuple, dict, and set data structures. We learned some features to each data structure that makes them particularly useful in certain situations. Tuples are immutable. This trait can be necessary at times. Dictionaries allow to attach a label to each value in the collection. This allows for fast retrieval of the value. Sets are a collection of unique unordered values. This means that we can compare sets and find their intersection, union, and difference.