#
use sql7356922;
CREATE TABLE tje_persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255)
);