# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Create a function

Given a dictionary name-phone number and a country code create a function that adds the country code to the number. <br>
For example if <code>phone_numbers</code> is given  by <br>
<code>phone_numbers = {'Tom': '0313911913', 'John' : '0313911913', 'Annie': '0313911913', 'Judy':'3818891310'}</code>
the output of the function should be 
<code>phone_numbers_countrycode = {'Tom': '+0310313911913', 'John' :'+0310313911913', 'Annie': '+0310313911913', 'Judy':'+0313818891310'}</code>. In this example the country code is +031.<br>
The function should accept two arguments, a dictionary name-phonenumber and a countrycode.
Once you have defined the function run it on <br> <code> {'Anna': '0313911913', 'Erica' : '0313911913', 'Alberto': '0313911913', 'Judy':'3818891310'}</code>, use country code +039 and check that it works correctly.

In [10]:
phone_numbers = {'Tom': '0313911913', 'John' : '0313911913', 'Annie': '0313911913', 'Judy':'3818891310'}

country_code = '+039'

def add_countrycode(phone_number_list,country_code):
    international = {k: country_code+v for k, v in phone_number_list.items()}
    return international

In [11]:
add_countrycode(phone_numbers,country_code)

{'Tom': '+0390313911913',
 'John': '+0390313911913',
 'Annie': '+0390313911913',
 'Judy': '+0393818891310'}

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [12]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [ ]:
# Your code here

In [14]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [16]:
# Your code here:

iris.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [17]:
# Your code here:
iris.std()

sepal_length    0.828066
sepal_width     0.433594
petal_length    1.764420
petal_width     0.763161
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [19]:
# Your code here:

iris_numeric = iris._get_numeric_data()
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [20]:
5.1 *0.393701

2.0078751

In [26]:
def cm_to_in(x):
    
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    return x * 0.393701
    # Your code here:

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [29]:
# Your code here:

iris_inch = cm_to_in(iris_numeric)
iris_inch.head()

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [32]:
# Define constant below:


def add_constant(x):
    return x +2 
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
iris_constant = add_constant(iris_numeric)
iris_constant.head()

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [36]:
# Your code here:
def add_max_values(df):
    df['max_values'] = df.max(axis=1)
    return df

In [37]:
add_max_values(iris_numeric)

     sepal_length  sepal_width  petal_length  petal_width  max_values
0             5.1          3.5           1.4          0.2         5.1
1             4.9          3.0           1.4          0.2         4.9
2             4.7          3.2           1.3          0.2         4.7
3             4.6          3.1           1.5          0.2         4.6
4             5.0          3.6           1.4          0.2         5.0
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3         6.7
146           6.3          2.5           5.0          1.9         6.3
147           6.5          3.0           5.2          2.0         6.5
148           6.2          3.4           5.4          2.3         6.2
149           5.9          3.0           5.1          1.8         5.9

[150 rows x 5 columns]

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [40]:
# Your code here:
iris_numeric['total_length'] = iris_numeric.sepal_length + iris_numeric.petal_length 
iris_numeric['total_width'] = iris_numeric.petal_width + iris_numeric.sepal_width

In [41]:
iris_numeric

,sepal_length,sepal_width,petal_length,petal_width,max_values,total_length,total_width
0,5.1,3.5,1.4,0.2,5.1,6.5,3.7
1,4.9,3.0,1.4,0.2,4.9,6.3,3.2
2,4.7,3.2,1.3,0.2,4.7,6.0,3.4
3,4.6,3.1,1.5,0.2,4.6,6.1,3.3
4,5.0,3.6,1.4,0.2,5.0,6.4,3.8
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,6.7,11.9,5.3
146,6.3,2.5,5.0,1.9,6.3,11.3,4.4
147,6.5,3.0,5.2,2.0,6.5,11.7,5.0
148,6.2,3.4,5.4,2.3,6.2,11.6,5.7
149,5.9,3.0,5.1,1.8,5.9,11.0,4.8