# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Create a function

Given a dictionary name-phone number and a country code create a function that adds the country code to the number. <br>
For example if <code>phone_numbers</code> is given  by <br>
<code>phone_numbers = {'Tom': '0313911913', 'John' : '0313911913', 'Annie': '0313911913', 'Judy':'3818891310'}</code>
the output of the function should be 
<code>phone_numbers_countrycode = {'Tom': '+0310313911913', 'John' :'+0310313911913', 'Annie': '+0310313911913', 'Judy':'+0313818891310'}</code>. In this example the country code is +031.<br>
The function should accept two arguments, a dictionary name-phonenumber and a countrycode.
Once you have defined the function run it on <br> <code> {'Anna': '0313911913', 'Erica' : '0313911913', 'Alberto': '0313911913', 'Judy':'3818891310'}</code>, use country code +039 and check that it works correctly.

In [2]:
# Your code here:
phone_numbers = {'Anna': '0313911913', 'Erica' : '0313911913', 'Alberto': '0313911913', 'Judy':'3818891310'}

In [3]:
def to_international(number_dict, code = '+039'):
    """
    Inputs: a dict and string
    Outputs: dict with modified values
    """
    for key, values in number_dict.items():
        number_dict[key] = code + values
    return number_dict
#paolo: yes! Also good that you made explicit use of the docstring in the function - have a look here 
# for more details about docstrings https://www.programiz.com/python-programming/docstrings (chapter 2)and
# here https://www.python.org/dev/peps/pep-0257/

In [4]:
to_international(phone_numbers, code = '+039')

{'Anna': '+0390313911913',
 'Erica': '+0390313911913',
 'Alberto': '+0390313911913',
 'Judy': '+0393818891310'}

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [22]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [6]:
# Your code here:
iris.head()
#paolo:yes

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [7]:
# Your code here:
iris.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [8]:
#Got the means of four columns, with more decimals than the original item.

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [9]:
# Your code here:
iris.std()

sepal_length    0.828066
sepal_width     0.433594
petal_length    1.764420
petal_width     0.763161
dtype: float64

In [10]:
#Got the standard deviation of four columns, with more decimals than the original item.
#paolo:yes

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [23]:
# Your code here:
iris_numeric = iris._get_numeric_data()

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [12]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
        b = x * 0.393701
        return b
#paolo: yes - also here you could have used a docstring as in first challenge

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [13]:
sepal_length_in = cm_to_in(iris_numeric.sepal_length)
sepal_width_in = cm_to_in(iris_numeric.sepal_width)
petal_length_in = cm_to_in(iris_numeric.petal_length)
petal_width_in = cm_to_in(iris_numeric.petal_width)

In [14]:
iris_inch = pd.DataFrame(sepal_length_in)
iris_inch.head()

   sepal_length
0      2.007875
1      1.929135
2      1.850395
3      1.811025
4      1.968505

In [15]:
iris_inch['sepal_width_in'] = sepal_width_in
iris_inch['petal_length_in'] = petal_length_in
iris_inch['petal_width_in'] = petal_width_in

In [16]:
iris_inch.head()

   sepal_length  sepal_width_in  petal_length_in  petal_width_in
0      2.007875        1.377954         0.551181         0.07874
1      1.929135        1.181103         0.551181         0.07874
2      1.850395        1.259843         0.511811         0.07874
3      1.811025        1.220473         0.590552         0.07874
4      1.968505        1.417324         0.551181         0.07874

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [ ]:
#paolo: ok - more simply you could have also used the function to transform everything see below

In [24]:
iris_inch_2=cm_to_in(iris_numeric)
iris_inch_2

     sepal_length  sepal_width  petal_length  petal_width
0        2.007875     1.377954      0.551181     0.078740
1        1.929135     1.181103      0.551181     0.078740
2        1.850395     1.259843      0.511811     0.078740
3        1.811025     1.220473      0.590552     0.078740
4        1.968505     1.417324      0.551181     0.078740
..            ...          ...           ...          ...
145      2.637797     1.181103      2.047245     0.905512
146      2.480316     0.984253      1.968505     0.748032
147      2.559057     1.181103      2.047245     0.787402
148      2.440946     1.338583      2.125985     0.905512
149      2.322836     1.181103      2.007875     0.708662

[150 rows x 4 columns]

In [17]:
# Define constant below:
error = 2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    b = x + error
    return b
#paolo: yes very well! -also here could use docstring instead of comments

In [18]:
iris_constant = iris_numeric.applymap(add_constant)

In [19]:
iris_constant.head()
#paolo:yes!

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [20]:
# Your code here:

#I'd like to come back for this one later, is that possible?
#paolo: yes you can! bonus challenges are not mandatory

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [21]:
# Your code here:

#I'd like to come back for this one later, is that possible?