# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [2]:
import numpy as np
import pandas as pd

# Challenge 1 - Create a function

Given a dictionary name-phone number and a country code create a function that adds the country code to the number. <br>
For example if <code>phone_numbers</code> is given  by <br>
<code>phone_numbers = {'Tom': '0313911913', 'John' : '0313911913', 'Annie': '0313911913', 'Judy':'3818891310'}</code>
the output of the function should be 
<code>phone_numbers_countrycode = {'Tom': '+0310313911913', 'John' :'+0310313911913', 'Annie': '+0310313911913', 'Judy':'+0313818891310'}</code>. In this example the country code is +031.<br>
The function should accept two arguments, a dictionary name-phonenumber and a countrycode.
Once you have defined the function run it on <br> <code> {'Anna': '0313911913', 'Erica' : '0313911913', 'Alberto': '0313911913', 'Judy':'3818891310'}</code>, use country code +039 and check that it works correctly.

In [3]:
phone_numbers =  {'Anna': '0313911913', 'Erica' : '0313911913', 'Alberto': '0313911913', 'Judy':'3818891310'}

def to_international(number_dict, code):
    """
    Inputs: a dict and string
    Outputs: dict with modified values
    """
    for key, values in number_dict.items():
        number_dict[key] = code + values
    return number_dict

to_international(phone_numbers, code = '+039')

{'Anna': '+0390313911913',
 'Erica': '+0390313911913',
 'Alberto': '+0390313911913',
 'Judy': '+0393818891310'}

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [4]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [5]:
# Your code here
iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [6]:
# Your code here:
# First isolate the numerical columns in the iris data set
numeric = iris._get_numeric_data()

#Then apply mean function only to numerical columns as a mean can not be defined for non-numerical
#The mean function sums all numerical values per variable, then divides this sum with the count of values for this variable
numeric.mean()

#To return the means in a data frame add the means to the colums
means = pd.DataFrame(numeric.mean())
#Rename the columns
means
means.columns = ['Mean']
means.head()

                  Mean
sepal_length  5.843333
sepal_width   3.054000
petal_length  3.758667
petal_width   1.198667

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [7]:
# Your code here:
# This function calculates the average distance from the mean 
numeric.std()

sepal_length    0.828066
sepal_width     0.433594
petal_length    1.764420
petal_width     0.763161
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [8]:
# Your code here:
iris_numeric = iris._get_numeric_data()
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [9]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    """
    Inputs: measures in centimeters
    1 cm = 0.393701 inch
    Outputs: measures in inches
    """
    inch = x / 0.393701
    return inch

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [19]:
# Your code here:
iris_inch = (iris_numeric.transform(lambda x: x / 0.393701))
iris_inch.head()

   sepal_length  sepal_width  petal_length  petal_width
0     12.953993     8.889995      3.555998        0.508
1     12.445993     7.619996      3.555998        0.508
2     11.937994     8.127996      3.301998        0.508
3     11.683994     7.873996      3.809998        0.508
4     12.699993     9.143995      3.555998        0.508

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [11]:
# Define constant below:
error = 2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    corrected = x + 1
    return corrected

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [12]:
# Your code here:

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [ ]:
# Your code here: