# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [6]:
import numpy as np
import pandas as pd

# Challenge 1 - Create a function

Given a dictionary name-phone number and a country code create a function that adds the country code to the number. <br>
For example if <code>phone_numbers</code> is given  by <br>
<code>phone_numbers = {'Tom': '0313911913', 'John' : '0313911913', 'Annie': '0313911913', 'Judy':'3818891310'}</code>
the output of the function should be 
<code>phone_numbers_countrycode = {'Tom': '+0310313911913', 'John' :'+0310313911913', 'Annie': '+0310313911913', 'Judy':'+0313818891310'}</code>. In this example the country code is +031.<br>
The function should accept two arguments, a dictionary name-phonenumber and a countrycode.
Once you have defined the function run it on <br> <code> {'Anna': '0313911913', 'Erica' : '0313911913', 'Alberto': '0313911913', 'Judy':'3818891310'}</code>, use country code +039 and check that it works correctly.

In [4]:
phone_numbers = {'Tom': '0313911913', 'John' : '0313911913', 'Annie': '0313911913', 'Judy':'3818891310'}
test_phone = {'Anna': '0313911913', 'Erica' : '0313911913', 'Alberto': '0313911913', 'Judy':'3818891310'}

def country_code(number_dict,code='+031'):
    for key,values in number_dict.items():
        number_dict[key] = code+values
    return number_dict

code = '+031'
for key,values in phone_numbers.items():
    phone_numbers[key] = code+values

country_code(test_phone, code = '+039')

{'Anna': '+0390313911913',
 'Erica': '+0390313911913',
 'Alberto': '+0390313911913',
 'Judy': '+0393818891310'}

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [10]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

In [11]:
import pandas as pd
data=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

Let's look at the dataset using the `head` function.

In [12]:
# Your code here
data.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [15]:
# Your code here:
numeric=data._get_numeric_data()
numeric.head()
#Calculating the means of each column.

   5.1  3.5  1.4  0.2
0  4.9  3.0  1.4  0.2
1  4.7  3.2  1.3  0.2
2  4.6  3.1  1.5  0.2
3  5.0  3.6  1.4  0.2
4  5.4  3.9  1.7  0.4

In [16]:
numeric.mean()

5.1    5.848322
3.5    3.051007
1.4    3.774497
0.2    1.205369
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [18]:
# Your code here:
print(np.std(numeric))

5.1    0.825809
3.5    0.432042
1.4    1.753736
0.2    0.758733
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [37]:
# Your code here:
numeric = data._get_numeric_data()
numeric.head()

#Tried many things to change the new dataframe to 'iris_numeric' failed.. 
df=pd.DataFrame()
df.name='Iris_numeric'
print(df.name)

Iris_numeric

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [28]:
def cm_to_in(cm):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    inch = cm*0.393701
    return inch

cm_to_in(1.0)

0.393701

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [38]:
# Your code here:

numeric = data._get_numeric_data()
numeric.head()

   5.1  3.5  1.4  0.2
0  4.9  3.0  1.4  0.2
1  4.7  3.2  1.3  0.2
2  4.6  3.1  1.5  0.2
3  5.0  3.6  1.4  0.2
4  5.4  3.9  1.7  0.4

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [ ]:
# Define constant below:


def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [ ]:
# Your code here:

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [ ]:
# Your code here: