# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [30]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*
Please download the dataset from our google drive [here](https://drive.google.com/file/d/1Vw4VEsYt8b4Kp2371woWFmnAaWyBSYLl/view?usp=sharing) and place it in the provided data folder. You will access the data folder with a relative path.

In [43]:
# import data set
pokemon = pd.read_csv('/Users/elskedenbode/Downloads/pokemon_updated.csv')

#### Print first 10 rows of `pokemon`.

In [44]:
# your code here
pokemon.head(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [45]:
# your code here
values = pd.DataFrame(pokemon, columns=['Type 1', 'Type 2'])
values.apply(pd.Series.value_counts, axis=0)

          Type 1  Type 2
Bug           69       3
Dark          31      20
Dragon        32      18
Electric      44       6
Fairy         17      23
Fighting      27      26
Fire          52      12
Flying         4      97
Ghost         32      14
Grass         70      25
Ground        32      35
Ice           24      14
Normal        98       4
Poison        28      34
Psychic       57      33
Rock          44      14
Steel         27      22
Water        112      14

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [46]:
# your code here
import re
pokemon.Name = pokemon.Name.apply(lambda x: re.sub(r'(.+)(Mega.+)',r'\2', x))

# test transformed data
pokemon.head(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [47]:
# your code here
pokemon['A/D Ratio'] = pokemon['Attack'] / pokemon['Defense']
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [48]:
# your code here
pokemon['A/D Ratio'].max()

9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [49]:
# your code here
pokemon['A/D Ratio'].min()

0.043478260869565216

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [122]:
# your code here
#if pokemon['Type 2'].isnull().values.any == True:
    #pokemon['Combo Type'] = pokemon['Type 1']
#else:
 #   pokemon['Combo Type'] = pokemon['Type 1'] + "-" + pokemon['Type 2']

pokemon['Combo Type'] = pokemon['Type 1'] + pokemon['Type 2'].fillna('')
pokemon['Combo Type']

429         Psychic
347       WaterDark
19        BugPoison
453            Rock
428         Psychic
           ...
616     FirePsychic
103      RockGround
484    SteelPsychic
139           Water
230         BugRock
Name: Combo Type, Length: 800, dtype: object

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [228]:
# your code here
topfive_df = pokemon.nlargest(5,['A/D Ratio'])

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [230]:
# your code here
topfivelist = set(topfive_df['Combo Type'])
print(list(topfivelist))

['Psychic', 'WaterDark', 'Rock', 'BugPoison']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

[Aggregate](https://drive.google.com/file/d/1d2EofoaL4-bSm68STzwNNaoP_SgIYQ9n/view?usp=sharing)

In [254]:
# your code here
pokemon[pokemon['Combo Type'].isin(topfivelist)].groupby(['Combo Type']).mean()

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,
BugPoison,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,0.000000,1.315989
Psychic,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,0.236842,1.164196
Rock,409.444444,67.111111,103.333333,107.222222,40.555556,58.333333,32.888889,3.888889,0.111111,1.260091
WaterDark,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.000000,2.291949