# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
# import libraries
import pandas as pd
import numpy as np
import re

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*
Please download the dataset from our google drive [here](https://drive.google.com/file/d/1Vw4VEsYt8b4Kp2371woWFmnAaWyBSYLl/view?usp=sharing) and place it in the provided data folder. You will access the data folder with a relative path.

In [2]:
# import data set 
pokemon = pd.read_csv ('data/pokemon_updated.csv')
#pokemon = pd.read_csv ('C:/Users/Merti/data_analytics062020/labs/module_1/14_Dataframe-Calculations/data/pokemon_updated.csv')

#### Print first 10 rows of `pokemon`.

In [3]:
# your code here
pokemon.head(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
# your code here
type1=set(pokemon['Type 1'])
type2=set(pokemon['Type 2'])
np.append(type1, type2)
intersection = type1.intersection(type2)
array_distinct = np.array(list(intersection))
print(array_distinct)

['Fairy' 'Dark' 'Fighting' 'Poison' 'Grass' 'Ground' 'Fire' 'Electric'
 'Rock' 'Dragon' 'Steel' 'Flying' 'Normal' 'Bug' 'Water' 'Ice' 'Psychic'
 'Ghost']

In [5]:
#pd.unique(pokemon[["Type 1", "Type 2"]].values.ravel()) this does the same and is more concise

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [6]:
# your code here
partitions = pokemon['Name'].str.partition("Mega")
pokemon['result'] = partitions[1] + partitions[2]
pokemon['Name2'] = np.where(pokemon["result"] == '',pokemon['Name'],pokemon['result'])
 
# test transformed data
pokemon.head(30)
#remove Mega from values in column Name

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,result,Name2
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,,Bulbasaur
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,,Ivysaur
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,,Venusaur
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Mega Venusaur,Mega Venusaur
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,,Charmander
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,,Charmeleon
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,,Charizard
7,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,Mega Charizard X,Mega Charizard X
8,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,Mega Charizard Y,Mega Charizard Y
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,,Squirtle
10,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,,Wartortle
11,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,,Blastoise
12,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,Mega Blastoise,Mega Blastoise
13,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,,Caterpie
14,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,,Metapod
15,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False,,Butterfree
16,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,,Weedle
17,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False,,Kakuna
18,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False,,Beedrill
19,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,Mega Beedrill,Mega Beedrill
20,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False,,Pidgey
21,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False,,Pidgeotto
22,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False,,Pidgeot
23,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False,Mega Pidgeot,Mega Pidgeot
24,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False,,Rattata
25,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False,,Raticate
26,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False,,Spearow
27,Fearow,Normal,Flying,442,65,90,65,61,61,100,1,False,,Fearow
28,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False,,Ekans
29,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False,,Arbok

In [7]:
pokemon.drop('result', axis=1, inplace=True)
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name2
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Ivysaur
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Venusaur
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Mega Venusaur
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Charmander

In [8]:
pokemon.drop('Name', axis=1, inplace=True)
pokemon.head()

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name2
0,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur
1,Grass,Poison,405,60,62,63,80,80,60,1,False,Ivysaur
2,Grass,Poison,525,80,82,83,100,100,80,1,False,Venusaur
3,Grass,Poison,625,80,100,123,122,120,80,1,False,Mega Venusaur
4,Fire,NaN,309,39,52,43,60,50,65,1,False,Charmander

In [9]:
pokemon["Name"] = pokemon['Name2']
pokemon.head()

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name2,Name
0,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur,Bulbasaur
1,Grass,Poison,405,60,62,63,80,80,60,1,False,Ivysaur,Ivysaur
2,Grass,Poison,525,80,82,83,100,100,80,1,False,Venusaur,Venusaur
3,Grass,Poison,625,80,100,123,122,120,80,1,False,Mega Venusaur,Mega Venusaur
4,Fire,NaN,309,39,52,43,60,50,65,1,False,Charmander,Charmander

In [10]:
pokemon.drop('Name2', axis=1, inplace=True)
pokemon.head()

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name
0,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur
1,Grass,Poison,405,60,62,63,80,80,60,1,False,Ivysaur
2,Grass,Poison,525,80,82,83,100,100,80,1,False,Venusaur
3,Grass,Poison,625,80,100,123,122,120,80,1,False,Mega Venusaur
4,Fire,NaN,309,39,52,43,60,50,65,1,False,Charmander

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [11]:
# your code here
pokemon ['A/D ratio'] = pokemon['Attack']/pokemon['Defense']
pokemon.head()

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name,A/D ratio
0,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur,1.000000
1,Grass,Poison,405,60,62,63,80,80,60,1,False,Ivysaur,0.984127
2,Grass,Poison,525,80,82,83,100,100,80,1,False,Venusaur,0.987952
3,Grass,Poison,625,80,100,123,122,120,80,1,False,Mega Venusaur,0.813008
4,Fire,NaN,309,39,52,43,60,50,65,1,False,Charmander,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [12]:
# your code here
pokemon.loc[pokemon['A/D ratio'].idxmax()]

Type 1                   Psychic
Type 2                       NaN
Total                        600
HP                            50
Attack                       180
Defense                       20
Sp. Atk                      180
Sp. Def                       20
Speed                        150
Generation                     3
Legendary                   True
Name          DeoxysAttack Forme
A/D ratio                      9
Name: 429, dtype: object

#### Identify the pokemon with the lowest A/D Ratio.

In [13]:
# your code here
#minimum = ('A/D ratio').min #need to retrieve Name
pokemon.loc[pokemon['A/D ratio'].idxmin()]

Type 1              Bug
Type 2             Rock
Total               505
HP                   20
Attack               10
Defense             230
Sp. Atk              10
Sp. Def             230
Speed                 5
Generation            2
Legendary         False
Name            Shuckle
A/D ratio     0.0434783
Name: 230, dtype: object

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [14]:
# your code here
pokemon['first_step'] = pokemon['Type 1']+ '-' + pokemon['Type 2']
pokemon['Combo Type'] = pokemon['first_step'].fillna(pokemon['Type 1'])
pokemon.head()

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name,A/D ratio,first_step,Combo Type
0,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur,1.000000,Grass-Poison,Grass-Poison
1,Grass,Poison,405,60,62,63,80,80,60,1,False,Ivysaur,0.984127,Grass-Poison,Grass-Poison
2,Grass,Poison,525,80,82,83,100,100,80,1,False,Venusaur,0.987952,Grass-Poison,Grass-Poison
3,Grass,Poison,625,80,100,123,122,120,80,1,False,Mega Venusaur,0.813008,Grass-Poison,Grass-Poison
4,Fire,NaN,309,39,52,43,60,50,65,1,False,Charmander,1.209302,NaN,Fire

In [15]:
pokemon.drop('first_step', axis=1, inplace=True)
pokemon.head()

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name,A/D ratio,Combo Type
0,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur,1.000000,Grass-Poison
1,Grass,Poison,405,60,62,63,80,80,60,1,False,Ivysaur,0.984127,Grass-Poison
2,Grass,Poison,525,80,82,83,100,100,80,1,False,Venusaur,0.987952,Grass-Poison
3,Grass,Poison,625,80,100,123,122,120,80,1,False,Mega Venusaur,0.813008,Grass-Poison
4,Fire,NaN,309,39,52,43,60,50,65,1,False,Charmander,1.209302,Fire

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [16]:
new_list = pokemon.nlargest(5,'A/D ratio')
print(new_list)

      Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
429  Psychic     NaN    600  50     180       20      180       20    150
347    Water    Dark    305  45      90       20       65       20     65
19       Bug  Poison    495  65     150       40       15       80    145
453     Rock     NaN    350  67     125       40       30       30     58
348    Water    Dark    460  70     120       40       95       40     95

     Generation  Legendary                Name  A/D ratio  Combo Type
429           3       True  DeoxysAttack Forme      9.000     Psychic
347           3      False            Carvanha      4.500  Water-Dark
19            1      False       Mega Beedrill      3.750  Bug-Poison
453           4      False            Cranidos      3.125        Rock
348           3      False            Sharpedo      3.000  Water-Dark

In [17]:
# your code here

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [18]:
# your code here
list = pokemon.nlargest(5,'A/D ratio')
print(list)

      Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
429  Psychic     NaN    600  50     180       20      180       20    150
347    Water    Dark    305  45      90       20       65       20     65
19       Bug  Poison    495  65     150       40       15       80    145
453     Rock     NaN    350  67     125       40       30       30     58
348    Water    Dark    460  70     120       40       95       40     95

     Generation  Legendary                Name  A/D ratio  Combo Type
429           3       True  DeoxysAttack Forme      9.000     Psychic
347           3      False            Carvanha      4.500  Water-Dark
19            1      False       Mega Beedrill      3.750  Bug-Poison
453           4      False            Cranidos      3.125        Rock
348           3      False            Sharpedo      3.000  Water-Dark

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

[Aggregate](https://drive.google.com/file/d/1d2EofoaL4-bSm68STzwNNaoP_SgIYQ9n/view?usp=sharing)

In [19]:
# your code here
new_list.groupby(['Combo Type']).mean()

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D ratio
Combo Type,,,,,,,,,,
Bug-Poison,495.0,65.0,150.0,40.0,15.0,80.0,145.0,1.0,False,3.750
Psychic,600.0,50.0,180.0,20.0,180.0,20.0,150.0,3.0,True,9.000
Rock,350.0,67.0,125.0,40.0,30.0,30.0,58.0,4.0,False,3.125
Water-Dark,382.5,57.5,105.0,30.0,80.0,30.0,80.0,3.0,False,3.750