# Challenge 3 (Bonus)

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [4]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from [here](https://drive.google.com/file/d/17oJ9NNbwJ8Wv4Jp-mLFiC59k72Brdyha/view?usp=sharing) and place it in the provided data folder. You will access the data folder with a relative path.
Load `Orders` into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [9]:
# your code here
orders = pd.read_csv('data/Orders.csv',sep = ",")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [10]:
# your code here
Unique_Cust = orders[["CustomerID" ,"amount_spent"]].groupby('CustomerID').sum().sort_values(by ="amount_spent",ascending = False)
Unique_Cust
Unique_Cust["Customer label"] = pd.qcut(Unique_Cust['amount_spent'],q = [.75,.95,1],labels = ["Preferred" , "VIP"])
Unique_Cust

            amount_spent Customer label
CustomerID
14646          280206.02            VIP
18102          259657.30            VIP
17450          194550.79            VIP
16446          168472.50            VIP
14911          143825.06            VIP
...                  ...            ...
17956              12.75            NaN
16454               6.90            NaN
14792               6.20            NaN
16738               3.75            NaN
13256               0.00            NaN

[4339 rows x 2 columns]

In [11]:
VIP_customers = Unique_Cust[Unique_Cust["Customer label"] == "VIP"]
VIP_customers

            amount_spent Customer label
CustomerID
14646          280206.02            VIP
18102          259657.30            VIP
17450          194550.79            VIP
16446          168472.50            VIP
14911          143825.06            VIP
...                  ...            ...
14505            5905.64            VIP
14415            5900.28            VIP
14944            5900.25            VIP
13209            5891.61            VIP
13534            5870.08            VIP

[217 rows x 2 columns]

In [12]:
labels = ["Preferred","VIP"]
Unique_Cust.columns = ['Total expense','Customer label']
Unique_Cust

            Total expense Customer label
CustomerID
14646           280206.02            VIP
18102           259657.30            VIP
17450           194550.79            VIP
16446           168472.50            VIP
14911           143825.06            VIP
...                   ...            ...
17956               12.75            NaN
16454                6.90            NaN
14792                6.20            NaN
16738                3.75            NaN
13256                0.00            NaN

[4339 rows x 2 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [25]:
# your code here
#merge both dataframes
merge_df = pd.merge(orders ,Unique_Cust ,on = ['CustomerID'])
merge_df

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,Total expense,Customer label
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,5391.21,Preferred
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Preferred
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,5391.21,Preferred
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Preferred
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Preferred
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541801,581578,22993,2011,12,5,12,set of 4 pantry jelly moulds,12,2011-12-09 12:16:00,1.25,12713,Germany,15.00,848.55,NaN
397920,541802,581578,22907,2011,12,5,12,pack of 20 napkins pantry design,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,848.55,NaN
397921,541803,581578,22908,2011,12,5,12,pack of 20 napkins red apples,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,848.55,NaN
397922,541804,581578,23215,2011,12,5,12,jingle bell heart antique silver,12,2011-12-09 12:16:00,2.08,12713,Germany,24.96,848.55,NaN
397923,541805,581578,22736,2011,12,5,12,ribbon reel making snowmen,10,2011-12-09 12:16:00,1.65,12713,Germany,16.50,848.55,NaN

In [27]:
merge_df.drop(columns=['InvoiceNo', 'StockCode', 'year', 'month', 'day', 'hour','Description', 'Quantity', 'InvoiceDate', 'UnitPrice','CustomerID', 'Total expense','amount_spent'],inplace=True)

#For each country , Customer label gives the count of VIP customers from most to least
merge_df[merge_df["Customer label"].isin(["VIP"])].groupby("Country").count().sort_values(by="Customer label",ascending = False)

#paolo: good structure but here I think you are counting the same customer multiple times, so the 
# numbers are not correct

                 Unnamed: 0  Customer label
Country
United Kingdom        84185           84185
EIRE                   7077            7077
France                 3290            3290
Germany                3127            3127
Netherlands            2080            2080
Australia               898             898
Portugal                681             681
Switzerland             594             594
Spain                   511             511
Norway                  420             420
Channel Islands         364             364
Finland                 294             294
Cyprus                  248             248
Singapore               222             222
Japan                   205             205
Sweden                  198             198
Belgium                  54              54
Denmark                  36              36

In [28]:
#UK HAS MOST NUMBER OF VIP CUSTOMERS

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [29]:

# your code here
merge_df[merge_df["Customer label"].isin(["VIP","Preferred"])].groupby("Country").count().sort_values(by="Customer label",ascending = False)
#paolo: good general structure but same comment as previous question

                 Unnamed: 0  Customer label
Country
United Kingdom       221635          221635
Germany                7349            7349
EIRE                   7238            7238
France                 6301            6301
Netherlands            2080            2080
Spain                  1569            1569
Belgium                1557            1557
Switzerland            1370            1370
Portugal               1093            1093
Norway                 1028            1028
Australia              1028            1028
Channel Islands         589             589
Italy                   507             507
Finland                 504             504
Cyprus                  451             451
Sweden                  273             273
Japan                   272             272
Singapore               222             222
Denmark                 217             217
Israel                  214             214
Iceland                 182             182
Austria                 158             158
Poland                  149             149
Canada                  135             135
Malta                    67              67
Lebanon                  45              45
Greece                   32              32

In [30]:
#AGAIN UK HAS MOST NO.OF VIP+PREFERRED CUSTOMERS