# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [3]:
# Import libraries
import numpy as np
import pandas as pd

In [4]:
# Importing the dataset from data folder or link provided in challenge 1
pokemon = pd.read_csv ('data/pokemon_updated.csv')
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [5]:
# your code here
pokemon["Total_calc"] = pokemon['HP']+pokemon['Attack']+pokemon['Defense'] + pokemon['Sp. Atk']+pokemon ['Sp. Def']+pokemon['Speed']
pokemon.head()
#this is the hypothesis creating a new column where we total all the values

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total_calc
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,309

In [7]:
pokemon['Comparison'] = np.where((pokemon['Total'] == pokemon['Total_calc']), True,
                        False)
pokemon.head()
#this is the hypothesis testing to see if the values from the new column are identical with Total initial column

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total_calc,Comparison
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,318,True
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,405,True
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,525,True
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,625,True
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,309,True

In [8]:
pokemon['Comparison'].value_counts()
#as we can see here the calculated Total is equal to the original Total column for all the pokemon

True    800
Name: Comparison, dtype: int64

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

[One Hot Encoding](https://drive.google.com/file/d/1McE3eNAyUxBXHfEvyTTz-ZrMDB7-U3_z/view?usp=sharing)

In [9]:
# your code here
pokemon['Type 1'] = pokemon['Type 1'].astype('category')
pokemon['Type 2'] = pokemon['Type 2'].astype('category')
pokemon1 = pd.get_dummies(pokemon)
pokemon1.head(100)

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total_calc,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
0,318,45,49,49,65,65,45,1,False,318,...,0,0,0,0,0,1,0,0,0,0
1,405,60,62,63,80,80,60,1,False,405,...,0,0,0,0,0,1,0,0,0,0
2,525,80,82,83,100,100,80,1,False,525,...,0,0,0,0,0,1,0,0,0,0
3,625,80,100,123,122,120,80,1,False,625,...,0,0,0,0,0,1,0,0,0,0
4,309,39,52,43,60,50,65,1,False,309,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,325,80,80,50,40,50,25,1,False,325,...,0,0,0,0,0,0,0,0,0,0
96,500,105,105,75,65,100,50,1,False,500,...,0,0,0,0,0,0,0,0,0,0
97,305,30,65,100,45,25,40,1,False,305,...,0,0,0,0,0,0,0,0,0,0
98,525,50,95,180,85,45,70,1,False,525,...,0,0,0,1,0,0,0,0,0,0
99,310,30,35,30,100,35,80,1,False,310,...,0,0,0,0,0,1,0,0,0,0

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [10]:
# your code here
correlated_pokemon = pokemon1.corr()
correlated_pokemon

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total_calc,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
Total,1.000000,0.618748,0.736211,0.612787,0.747250,0.717609,0.575943,0.048384,0.501758,1.000000,...,-0.004885,-0.039224,0.016486,0.100870,-0.013956,-0.067837,0.076054,-0.000512,0.070307,-0.018800
HP,0.618748,1.000000,0.422386,0.239622,0.362380,0.378718,0.175952,0.058683,0.273620,0.618748,...,-0.052905,-0.046584,0.066803,0.108475,-0.015997,-0.086638,0.024006,-0.006210,-0.030460,-0.034227
Attack,0.736211,0.422386,1.000000,0.438687,0.396362,0.263990,0.381240,0.051451,0.345408,0.736211,...,0.021155,-0.026806,0.071586,0.078169,-0.057370,-0.074128,-0.027524,0.020567,0.070451,-0.036447
Defense,0.612787,0.239622,0.438687,1.000000,0.223549,0.510747,0.015227,0.042419,0.246377,0.612787,...,0.036158,0.036179,0.113055,0.050535,-0.045704,-0.096563,0.087777,0.227036,0.166162,0.048088
Sp. Atk,0.747250,0.362380,0.396362,0.223549,1.000000,0.506121,0.473018,0.036437,0.448907,0.747250,...,0.001609,-0.069531,-0.047598,0.080900,0.032906,0.007792,0.096477,-0.088467,0.025234,0.006856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Type 2_Poison,-0.067837,-0.086638,-0.074128,-0.096563,0.007792,-0.015080,-0.011828,-0.171712,-0.062652,-0.067837,...,-0.028118,-0.037839,-0.045064,-0.028118,-0.014935,1.000000,-0.043700,-0.028118,-0.035428,-0.028118
Type 2_Psychic,0.076054,0.024006,-0.027524,0.087777,0.096477,0.117120,0.008623,-0.048020,0.053344,0.076054,...,-0.027683,-0.037254,-0.044367,-0.027683,-0.014704,-0.043700,1.000000,-0.027683,-0.034880,-0.027683
Type 2_Rock,-0.000512,-0.006210,0.020567,0.227036,-0.088467,-0.015985,-0.148327,-0.014541,-0.039689,-0.000512,...,-0.017812,-0.023970,-0.028547,-0.017812,-0.009461,-0.028118,-0.027683,1.000000,-0.022443,-0.017812
Type 2_Steel,0.070307,-0.030460,0.070451,0.166162,0.025234,0.086888,-0.051613,0.050079,-0.022031,0.070307,...,-0.022443,-0.030202,-0.035969,-0.022443,-0.011921,-0.035428,-0.034880,-0.022443,1.000000,-0.022443
Type 2_Water,-0.018800,-0.034227,-0.036447,0.048088,0.006856,-0.015642,-0.051168,0.008426,-0.004798,-0.018800,...,-0.017812,-0.023970,-0.028547,-0.017812,-0.009461,-0.028118,-0.027683,-0.017812,-0.022443,1.000000

In [11]:
sorted_pokemon = correlated_pokemon.sort_values('Total',ascending=False)
sorted_pokemon.head(20)

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total_calc,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
Total,1.000000,0.618748,0.736211,0.612787,0.747250,0.717609,0.575943,0.048384,0.501758,1.000000,...,-0.004885,-0.039224,0.016486,0.100870,-0.013956,-0.067837,0.076054,-0.000512,0.070307,-0.018800
Total_calc,1.000000,0.618748,0.736211,0.612787,0.747250,0.717609,0.575943,0.048384,0.501758,1.000000,...,-0.004885,-0.039224,0.016486,0.100870,-0.013956,-0.067837,0.076054,-0.000512,0.070307,-0.018800
Sp. Atk,0.747250,0.362380,0.396362,0.223549,1.000000,0.506121,0.473018,0.036437,0.448907,0.747250,...,0.001609,-0.069531,-0.047598,0.080900,0.032906,0.007792,0.096477,-0.088467,0.025234,0.006856
Attack,0.736211,0.422386,1.000000,0.438687,0.396362,0.263990,0.381240,0.051451,0.345408,0.736211,...,0.021155,-0.026806,0.071586,0.078169,-0.057370,-0.074128,-0.027524,0.020567,0.070451,-0.036447
Sp. Def,0.717609,0.378718,0.263990,0.510747,0.506121,1.000000,0.259133,0.028486,0.363937,0.717609,...,0.029603,0.016904,-0.039682,0.061823,-0.019505,-0.015080,0.117120,-0.015985,0.086888,-0.015642
HP,0.618748,1.000000,0.422386,0.239622,0.362380,0.378718,0.175952,0.058683,0.273620,0.618748,...,-0.052905,-0.046584,0.066803,0.108475,-0.015997,-0.086638,0.024006,-0.006210,-0.030460,-0.034227
Defense,0.612787,0.239622,0.438687,1.000000,0.223549,0.510747,0.015227,0.042419,0.246377,0.612787,...,0.036158,0.036179,0.113055,0.050535,-0.045704,-0.096563,0.087777,0.227036,0.166162,0.048088
Speed,0.575943,0.175952,0.381240,0.015227,0.473018,0.259133,1.000000,-0.023121,0.326715,0.575943,...,-0.066267,-0.067764,-0.100314,0.029251,0.051191,-0.011828,0.008623,-0.148327,-0.051613,-0.051168
Legendary,0.501758,0.273620,0.345408,0.246377,0.448907,0.363937,0.326715,0.079794,1.000000,0.501758,...,-0.004798,-0.053411,-0.041241,0.064985,-0.021081,-0.062652,0.053344,-0.039689,-0.022031,-0.004798
Type 1_Dragon,0.196532,0.112416,0.208445,0.082088,0.149956,0.124341,0.103697,0.067775,0.219463,0.196532,...,-0.027243,-0.036662,0.112272,0.118700,-0.014470,-0.043005,0.085964,-0.027243,-0.034325,-0.027243
Type 2_Fighting,0.138726,0.073278,0.191235,0.050916,0.047354,0.069078,0.120581,0.066162,0.048699,0.138726,...,-0.024461,-0.032918,-0.039203,-0.024461,-0.012992,-0.038614,-0.038017,-0.024461,-0.030820,-0.024461
Type 2_Dragon,0.115240,0.076742,0.072232,0.064325,0.119139,0.062963,0.064140,0.077027,0.078281,0.115240,...,-0.020248,-0.027249,-0.032452,-0.020248,-0.010755,-0.031964,-0.031470,-0.020248,-0.025513,-0.020248
Name_RayquazaMega Rayquaza,0.101775,0.049549,0.110154,0.029694,0.115949,0.035741,0.056914,-0.006899,0.118963,0.101775,...,-0.004721,-0.006354,-0.007567,-0.004721,-0.002508,-0.007453,-0.007338,-0.004721,-0.005949,-0.004721
Name_MewtwoMega Mewtwo X,0.101775,0.050936,0.121061,0.029694,0.087822,0.035741,0.075186,-0.049516,0.118963,0.101775,...,-0.004721,-0.006354,-0.007567,-0.004721,-0.002508,-0.007453,-0.007338,-0.004721,-0.005949,-0.004721
Name_MewtwoMega Mewtwo Y,0.101775,0.050936,0.077435,-0.004362,0.131095,0.061182,0.087368,-0.049516,0.118963,0.101775,...,-0.004721,-0.006354,-0.007567,-0.004721,-0.002508,-0.007453,-0.007338,-0.004721,-0.005949,-0.004721
Type 2_Ice,0.100870,0.108475,0.078169,0.050535,0.080900,0.061823,0.029251,0.031393,0.064985,0.100870,...,-0.017812,-0.023970,-0.028547,1.000000,-0.009461,-0.028118,-0.027683,-0.017812,-0.022443,-0.017812
Name_KyogrePrimal Kyogre,0.098824,0.042618,0.077435,0.018342,0.115949,0.112064,0.026461,-0.006899,0.118963,0.098824,...,-0.004721,-0.006354,-0.007567,-0.004721,-0.002508,-0.007453,-0.007338,-0.004721,-0.005949,-0.004721
Name_GroudonPrimal Groudon,0.098824,0.042618,0.110154,0.097806,0.083495,0.023021,0.026461,-0.006899,0.118963,0.098824,...,-0.004721,-0.006354,-0.007567,-0.004721,-0.002508,-0.007453,-0.007338,-0.004721,-0.005949,-0.004721
Type 1_Psychic,0.094364,0.014900,-0.064427,-0.054733,0.216686,0.143193,0.126019,0.010379,0.166625,0.094364,...,0.000093,-0.021819,-0.059244,-0.036965,-0.019634,-0.058354,-0.057452,-0.036965,-0.046576,-0.036965
Name_Arceus,0.084070,0.070344,0.044715,0.052398,0.051040,0.061182,0.063005,0.014410,0.118963,0.084070,...,-0.004721,-0.006354,-0.007567,-0.004721,-0.002508,-0.007453,-0.007338,-0.004721,-0.005949,-0.004721

In [9]:
#1 pokemon type that is most likely to have the highest Total - it's the Type 1 Dragon, followed by Type 2 Fighting

In [10]:
sort_pokemon = pokemon.sort_values('Total',ascending=False)
sort_pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total_calc,Comparison
426,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,780,True
164,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True,780,True
163,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,780,True
422,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True,770,True
424,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True,770,True

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [11]:
# your code here
#I would choose Type 1 Dragon and Type 2 Fighting. To test, as we can see in the cell above the highest Total is for item 426 Mega Rayquaza with Type 1 Dragon and Type 2 Flying