# Introduction To Probability
## Challenge 1

A and B are events of a probability space with $(\omega, \sigma, P)$ such that $P(A) = 0.3$, $P(B) = 0.6$ and $P(A \cap B) = 0.1$

Which of the following statements are false?
* $P(A \cup B) = 0.6$
* $P(A \cap B^{C}) = 0.2$
* $P(A \cap (B \cup B^{C})) = 0.4$
* $P(A^{C} \cap B^{C}) = 0.3$
* $P((A \cap B)^{C}) = 0.9$

"""
your solution here
"""

P(AUB) = P(A)+P(B)-P(A∩B) = 0.3+0.6 - 0.1 = 0.8 which is not 0.6 . FALSE
P(A∩B') = P(A) - P(AuB) = 0.3 - 0.8 = -0.5 which is not 0.2 *
P(A∩(B∩B')) = P(A) = 0.6 which is not 0.4 .FALSE
p(A'∩B') = 1 - P(AuB) = 1- 0.8 = 0.2 which is not 0.3 FALSE
p((A∩B)') = 1 - P(A∩B) = 1 - 0.1 = 0.9 TRUE

## Challenge 2
There is a box with 10 white balls, 12 red balls and 8 black balls. Calculate the probability of:
* Taking a white ball out.
* Taking a white ball out after taking a black ball out.
* Taking a red ball out after taking a black and a red ball out.
* Taking a red ball out after taking a black and a red ball out with reposition.

**Hint**: Reposition means putting back the ball into the box after taking it out.

"""
your solution here
"""
Probability of taking a white ball out : p(W) = 10/(10+12+8) = 1/3 = 0.33 %

Probability of taking a white ball out after taking a black ball out : 0.09195
10/29 * 8/30 = 0.09195%
Probability of taking a red ball out after taking a black and a red ball out:
8/30*12/29*11/28 = 0.0433%
Probability of taking a red ball out after taking a black and a red ball out:
8/30*12/30*12/30 = 0.04267%

## Challenge 3

You are planning to go on a picnic today but the morning is cloudy. You hate rain so you don't know whether to go out or stay home! To help you make a decision, you gather the following data about rainy days:

* 50% of all rainy days start off cloudy!
* Cloudy mornings are common. About 40% of days start cloudy. 
* This month is usually dry so only 3 of 30 days (10%) tend to be rainy. 

What is the chance of rain during the day?

"""
your solution here
"""
A :chance that it rains
B :chance that its cloudy
P(A|B)=P(B|A).P(A)/P(B) = 0.5*0.1/0.4 = 0.125

## Challenge 4

One thousand people were asked through a telephone survey whether they thought more street lighting is needed at night or not.

Out of the 480 men that answered the survey, 324 said yes and 156 said no. On the other hand, out of the 520 women that answered, 351 said yes and 169 said no. 

We wonder if men and women have a different opinions about the street lighting matter. Is gender relevant or irrelevant to the question?

Consider the following events:
- The answer is yes, so the person that answered thinks that more street lighting is needed.
- The person who answered is a man.

We want to know if these events are independent, that is, if the fact of wanting more light depends on whether one is male or female. Are these events independent or not?

**Hint**: To clearly compare the answers by gender, it is best to place the data in a table.

In [ ]:
# your code here

In [2]:
(324+351)/(520+480)

0.675

In [1]:
"""
your solution here
"""
import pandas as pd;
pd.DataFrame({'Yes': [324/480, 351/520], 'No': [156/480, 169/520]}, index=['Men', 'Women'])

         Yes     No
Men    0.675  0.325
Women  0.675  0.325

In [ ]:
#The answers are irrelevant to gender and hence are independent.

In [3]:
(169+156)/(480+520)

0.325

In [4]:
351/520

0.675

In [5]:
169/520

0.325

In [6]:
324/480

0.675

In [7]:
156/480

0.325

In [8]:
480/1000

0.48

In [9]:
351/(351+324)

0.52

In [10]:
pd.DataFrame({'Yes': [304/480, 321/520], 'No': [176/480, 199/520]}, index=['Men', 'Women'])

            Yes        No
Men    0.633333  0.366667
Women  0.617308  0.382692

In [17]:
p_total=1000
man=400
man_yes=300
woman_yes=100
wom=p_total-man
man_no=man-man_yes
w_no=wom-woman_yes
wom,man_no,w_no

(600, 100, 500)

In [18]:
P_Y=(man_yes+woman_yes)/p_tot
P_W=wom/p_tot
P_Y

0.4

In [19]:
P_W_Y=woman_yes/(man_yes+woman_yes)
P_Y_W=(P_Y*P_W_Y)/P_W
P_Y_W

0.16666666666666669