# Before you start :
   - These exercises are related to the Pivot table and correlation lessons.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!
  
#### Import all the necessary libraries here:

In [3]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1

Download the `employees` dataset from [here](https://drive.google.com/file/d/1qiyQHmmntBsGHjlLSoSh9-t_R4UXOg_H/view?usp=sharing) and place it in the data folder

Load and save your dataset in a variable called `employees`.

In [4]:
# your code here
employees = pd.read_csv('../data/employee.csv')
employees.sample(2)

     Name Department Education Gender    Title  Years  Salary
3   Sonia         HR  Bachelor      F  analyst      4      35
6  Carlos         IT    Master      M       VP      8      70

#### What's the mean `Salary` by `Department`?
**Tip**: There are 2 ways to do it: with or without pivot tables. Do it both ways.

In [12]:
# Method 1
# your code here
employees.groupby('Department')[['Salary']].mean()

            Salary
Department
HR           45.00
IT           48.75
Sales        55.00

In [11]:
# Method 2
# your code here
employees.pivot_table('Salary', 'Department', aggfunc = 'mean')

            Salary
Department
HR           45.00
IT           48.75
Sales        55.00

#### Now, group the data by more than one column. Use Pandas pivot table function to select the mean `Salary` by `Department` and `Title`.

In [14]:
# your code here
employees.pivot_table('Salary', 'Department', 'Title', aggfunc = 'mean')

Title         VP  analyst  associate
Department
HR          70.0     32.5        NaN
IT          70.0     32.5       60.0
Sales        NaN      NaN       55.0

#### Display the number of `Years` of work experience and the `Salary` for each `Title`. Add `Years` as a column in your pivot table.
**Hint**: Use Pandas documentation to explore the [pivot table](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html) function.

In [17]:
# your code here

employees.pivot_table(values = 'Salary', index =['Department', 'Title'], columns = 'Years', aggfunc = 'mean').T

Department    HR            IT                       Sales
Title         VP analyst    VP analyst associate associate
Years
1            NaN     NaN   NaN    35.0       NaN       NaN
2            NaN    30.0   NaN    30.0       NaN      55.0
3            NaN     NaN   NaN     NaN       NaN      55.0
4            NaN    35.0   NaN     NaN       NaN       NaN
7            NaN     NaN   NaN     NaN      60.0       NaN
8           70.0     NaN  70.0     NaN       NaN       NaN

#### Find the mean `Salary` and number of employees in each `Department` and for each job `Title`.

In [73]:
# your code here|
df1 = employees.pivot_table(values = 'Salary', index ='Department', columns ='Title', aggfunc='mean')
df2 = employees.pivot_table(values = 'Salary', index = 'Department', columns='Title', aggfunc= 'count')
#pd.concat((df1, df2), axis=0)

#### For each `Department` and each job `Title`, find the `Salary` median, minimum, maximum and standard deviation. Comment your results.

In [74]:
# your code here
df3 = employees.groupby('Department', 'Title')[['Salary']].mean()
df3

ValueError: No axis named Title for object type <class 'pandas.core.frame.DataFrame'>

In [ ]:
"""
your commments here
"""

#### Based on your comments, fill the missing values with an appropriate value.

In [ ]:
# your code here

#### The stake holders want to know, for each `Department`, the number of employees and how much money is spent on salaries. Could you provide that information?

In [ ]:
# your code here

#### For each `Department` and `Title`, find the the total years of work experience and the mean `Salary`.

In [ ]:
# your code here

## Bonus Challenge 1

#### Compute the mean `Salary` after removing the maximum `Salary` for each `Department`. Create the appropriate pivot table.
**Hint**: Write a custom function.

In [ ]:
# your code here

# Challenge 2

Read the `fitbit` dataset from
[here](https://drive.google.com/file/d/1V3A0sRLmAb6BDFoZBIrjUOMl5Ap9wSts/view?usp=sharing) and place it in the data folder


Save your data in a variable called `fitbit`.

In [ ]:
# your code here

#### Explore you dataset in terms of data types and descriptive statistics.
**Hint**: Use Pandas functions from previous lectures.

In [ ]:
# your code here

#### You suspect that there must be a linear relationship between the `Minutes Very Active` and the `Steps`. Compute the correlation between these variables.

In [ ]:
# your code here

#### Use matplotlib to visually plot `Minutes Very active` vs `Steps`. We'll work with matplotlib next week. As a first introduction, uncomment and complete the following code. You need to replace the # symbol for the correct function arguments.

In [ ]:
import matplotlib.pyplot as plt;

In [ ]:
"""
plt.scatter(#, #)
plt.title(#)
plt.xlabel(#)
plt.ylabel(#)
plt.show()
"""

#### What can you say about `Minutes Very Active` and `Steps`? Write a comment below.

In [ ]:
"""
your commments here
"""

#### We also suspect that there must be a linear relationship between the `Minutes Sedentary` and the `Steps`. Compute the correlation between these variables.

In [ ]:
# your code here

#### Use matplotlib to visually plot `Minutes Sedentary` vs `Steps`. Based on the results of the computed correlation and the plot, what can you say about these 2 variables?

In [ ]:
# your code here

In [ ]:
"""
your commments here
"""

#### We also suspect that there must be a linear relationship between the `MinutesOfSleep` and the `Steps`. Compute the correlation between these variables.

In [ ]:
# your code here

#### Use matplotlib to visually plot `MinutesOfSleep` vs `Steps`. Based on the results of the computed correlation and the plot, what can you say about these 2 variables?

In [ ]:
# your code here

In [ ]:
"""
your commments here
"""

#### Select a subset of your dataset with the columns below and compute the correlation matrix. Save the results in the variable `cor_fit`.

In [ ]:
columns = ['Calorie burned', 'Steps', 'Floors', 'Minutes Sedentary', 'Minutes Very Active', 'MinutesOfSleep']

In [ ]:
# your code here

#### Based on the result of the correlation matrix, which of the features are highly correlated with variable `Steps`?
**Hint**: sort the correlations of `Steps` vs the rest of the features in descending order. You can use Pandas `sort_values`.

In [ ]:
# your code here

# Challenge 3

Read the `time_grades` dataset from 
[here](https://drive.google.com/file/d/1zKAqZPjLnU96cvfMzqfFz-hH6YxCNVKN/view?usp=sharing) and place it in the data folder


Save your data in a variable called `time_grades`.

In [ ]:
# your code here

#### Show visually the frequency distribution of the `time_grades` dataset.

In [ ]:
# your code here

#### Is there a correlation between `Study time` and `Grade`? Use both Pearson and Spearman correlations and comment your results.

In [ ]:
# your code here

In [ ]:
"""
your commments here
"""

#### Use matplotlib to visually plot `Study time` vs `Grade`. Based on the results of the computed correlation and the plot, what can you say about these 2 variables?

In [ ]:
# your code here

In [ ]:
"""
your commments here
"""

#### Could you explain the difference between Pearson and Spearman correlations?

In [ ]:
"""
your commments here
"""